/* 달력디자인 추가 css */

/* 월보기 */
.calendar_month_navi{table-layout:fixed; border-bottom:0px solid #014b88;}
.calendar_month_navi th{height:33px; line-height:24px; border:1px solid #d1ddec; font-family:Malgun Gothic, Meiryo UI; padding:0px 0px 2px 0px; margin:0; color:#2f2f2f;background-color: #f0f6ff; font-size: 15px;}
.calendar_month_navi th .btn_prev{display: inline-block; vertical-align: top; margin: 2px 12px 0px; height:17px;cursor:pointer;}
.calendar_month_navi th .btn_next{display: inline-block; vertical-align: top; margin: 2px 0px 0px 12px; height:17px;cursor:pointer;}
.calendar_month{table-layout:fixed; vertical-align:top;}
.calendar_month th{color:#2f2f2f;height:26px; background:#fff; border-top:0 none; border-right:1px solid #dedede; border-bottom:1px solid #dedede; border-left:1px solid #dedede; padding:0; margin:0;}
.calendar_month th.sun{color:#ee1c25;}
.calendar_month th.sat{color:rgb(0, 72, 149);}
.calendar_month td{width:14.2%; border:1px solid #dedede;}
.calendar_month td.gray{background:#f8f8fa;}
.calendar_month td.today{background:#f0f6ff;}
.calendar_month .td_day{table-layout:fixed; width:100%; cursor:pointer;}
.calendar_month .td_day td {height:22px; line-height:22px; border:0 none; padding:0px 0px 0px 7px; margin:0; color:#333333;}
.calendar_month .click{background:#ddd;} /* 날자클릭시 백그라운드 처리 */
.calendar_month .gray td{}
.calendar_month table.sun td{color:#ee1c25;} /* 휴무일시 근태내용에 글씨색 변경을 없애기위해 변경*/
.calendar_month table.sat td{color:rgb(0, 72, 149);} /* 휴무일시 근태내용에 글씨색 변경을 없애기위해 변경*/
.calendar_month .span_list{display:block; height:69px; overflow:auto;}
.calendar_month .td_list{table-layout:fixed; display:block; width:100%; overflow:hidden;}
.calendar_month .td_list td{height:21px; line-height:21px; border:0 none; padding:0px 0px 0px 7px; margin:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; cursor:pointer;}

/* 달력layer 팝업 */
.calendar_layer{width:250px; table-layout:fixed; border:1px solid #4e4e46; border-collapse:separate; border-spacing:0; overflow:hidden;}
.calendar_layer th{margin:0; padding:8px 10px; border:0; font-size:13px; color:#383838; white-space:normal; text-align:left; word-break:break-all;}
.calendar_layer td{margin:0; padding:0;}
.calendar_layer .text{padding:10px; border:1px solid #e5e5e5; border-bottom:0 none; overflow:hidden;}
.calendar_layer .text .td_list{border:0 none; overflow:hidden;}
.calendar_layer .text .td_list td{padding:3px 0px; color:#393939;}
.calendar_layer .btn{background:#fff; border:1px solid #e5e5e5; border-top:1px solid #dedede; padding:10px 0px 9px 0px; margin:0 auto; text-align:center;}
.calendar_layer .btn ul{list-style:none; margin:0 20px; padding:0px 3px; overflow:hidden; text-align:center;width:200px;clear:both;list-style-type:none}
.calendar_layer .btn ul li{float:left; height:27px; line-height:27px; background:url(/images/calendar/btn_calendar_l.gif) no-repeat left top; padding:0px 3px 0px 8px;}
.calendar_layer .btn ul li span{display:inline-block; background:url(/images/calendar/btn_calendar_r.gif) no-repeat right top; padding:0px 8px 0px 3px; font-weight:normal; color:#555555;}
