.icon_graydown {margin:0px 0px 0px 3px; cursor:pointer; width:11px; height:11px; display:inline-block; background:url(/images/icon_graydown.gif) no-repeat center bottom; vertical-align:middle;}
.icon_grayup {margin:0px 0px 0px 3px; cursor:pointer; width:11px; height:11px; display:inline-block; background:url(/images/icon_grayup.gif) no-repeat center bottom; vertical-align:middle;}
/* background-image: url(/images/emoticon/girl/45.png); */
.emoticon {    
    background-size: 85px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    -webkit-transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: inline-block;
    width: 100px;
    height: 100px;
    text-decoration: none;
    cursor: pointer;
}

.emoticon:hover {
    background-size: 100px;
}

.poll_list1 {margin:0px 10px; margin-left: 16px; padding:0px; font-size:12px;}
.poll_list1 .graphbar1{margin:5px 0px 10px 0px; padding:0px; border:1px solid #c9c9c9; height:7px; width:220px; background-color:#E8E8E8;}
.poll_list1 .graphbar1 .gx_bar11 {background:#68bbef; height:7px; margin:0px; padding:0px;}

/* 20171115 */
.voteInfo{width:203px; height:60px; background:#f4f9ff; border:1px solid #e1ebf7; font-family:"맑은고딕", Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Arial, Helvetica, sans-serif !important;}
.voteTextTest{line-height:27px; margin:3px 8px; font-family:"맑은고딕", Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Arial, Helvetica, sans-serif;}

.vote_listTd .title01{/*height:30px;*/ line-height:28px; font-size:16px; color:#e04343; font-family:"맑은고딕", Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Arial, Helvetica, sans-serif;}
.vote_listTd .graph01{background:#efa1a1; border:none;}

.content .voteTdBg{background:#f9f9f9; margin:0px; padding:0px; height:68px; position:relative;}
.content .voteTdBg .voteBtn{width:85px; height:45px; background:#eaeaea; border:1px solid #d0d0d0; border-radius:5px; padding:0px 15px; position:absolute; top:10px; left:50%; margin:0px 0px 0px -150px;}

.voteComment{width:100%; height:65px; border:1px solid #DDD; border-top:0px; margin:0px 0px 0px 0px; padding:0px;}

.questionTitle{width:100%; height:40px; line-height:40px; padding:0px 12px; background:#004896; color:#FFF; font-size:16px; font-family:"맑은고딕", Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Arial, Helvetica, sans-serif;}

.vote_attachedFile .txt{height:50px; line-height:50px; padding:0px 10px 0px 46px; background:#f4f9ff; border-bottom:1px solid #e1ebf7;}
.vote_attachedFile .attach_img{position:absolute; top:13px; left:15px; hegith:20px; width:20px;}
.vote_attachedFile .all_save{position:absolute; top:13px; left:230px; float: left;}