.jinhang {width:16px;height:16px;margin-left:15px;margin-top:5px;}

.poll_list1 {display:inline-block; width:100%;font-size:12px;border-bottom:1px dashed rgb(229, 229, 229);height:36px;line-height:36px;}
.question {background:#f2f2f2 0px 0px;margin-top:0px;height:60px;word-break:break-all;border:1px solid #ddd;overflow-y:hidden;width:auto;}
.question span {display: inline-block;font-size:13px;font-weight:bold;width:45%;margin:5px;}
.box {OVERFLOW-X:hidden;padding:10px;overflow-y:auto;height:225px;width:413px;border-top:0px;border-collapse:collapse;empty-cells:show;margin-top:-5px;border:1px solid #ddd;}
.Vnum {margin:0px 5px 0px 0px;padding:1px 6px;border-radius:25px;-webkit-border-radius:25px;font-size:13px;font-weight:bold;color:#fff;}
.Pt_QstOptTitleDiv {width:22%;overflow:hidden;}
.graphbar1 {width:60%;overflow:hidden;height:13px;}

.poll_list1 .graphbar1 .gx_bar11 {height:13px;margin:0px;padding:0px;border:0px;margin-top:-1px;background:#0470e4;}
.poll_list1 .graphbar1 {margin:11px 0px 10px 0px;padding:0px;border:1px solid #eee;height:13px;background-color:#d5d5d5;border-radius:25px;}
li:nth-child(1) .Vnum, li:nth-child(1) .graphbar1 .gx_bar11 {background:#0470e4;border:1px solid #0470e4;}
li:nth-child(2) .Vnum, li:nth-child(2) .graphbar1 .gx_bar11 {background:#81bc3d;border:1px solid #81bc3d;}
li:nth-child(3) .Vnum, li:nth-child(3) .graphbar1 .gx_bar11 {background:#fa9900;border:1px solid #fa9900;}
li:nth-child(4) .Vnum, li:nth-child(4) .graphbar1 .gx_bar11 {background:#0dbeff;border:1px solid #0dbeff;}
li:nth-child(5) .Vnum, li:nth-child(5) .graphbar1 .gx_bar11 {background:#0dbeff;border:1px solid #0dbeff;}
li:nth-child(6) .Vnum, li:nth-child(6) .graphbar1 .gx_bar11 {background:#0470e4;border:1px solid #0470e4;}
li:nth-child(7) .Vnum, li:nth-child(7) .graphbar1 .gx_bar11 {background:#81bc3d;border:1px solid #81bc3d;}
li:nth-child(8) .Vnum, li:nth-child(8) .graphbar1 .gx_bar11 {background:#fa9900;border:1px solid #fa9900;}
li:nth-child(9) .Vnum, li:nth-child(9) .graphbar1 .gx_bar11 {background:#0dbeff;border:1px solid #0dbeff;}
li:nth-child(10) .Vnum, li:nth-child(10) .graphbar1 .gx_bar11 {background:#0470e4;border:1px solid #0470e4;}
li:nth-last-child(1) {border-bottom:0px;}
.spanPollCount {float: right;width:50%;display:inline-block;text-align:right;}

.portletInfoTD {width:100%;}
.portletInfoTD input[type='text'] {width:100%; height:27px; font-size:12px; padding:0px 0px 0px 5px; color:#393939;}