@charset "utf-8";
.context-menus { position: absolute; display: none; text-align: center; cursor:pointer; z-index:6000;}
.context-menus.active { display: block; background-color: white;}
.popuplist td { background: #FFF; border: 1px solid #d2d2d2; height: 29px; word-break: break-all;}
.popuplist {border-collapse:collapse;}
.menus{font-size:12px;width:100%;display:inline-block;text-align:left;height:100%;line-height:29px;}