TD,input, text, div:not(.slick-slide.slick-current.slick-center),select, textarea,a{FONT-SIZE: 9pt;COLOR: #393939;FONT-FAMILY: malgun gothic, arial,verdana;}
input,SELECT{HEIGHT: 20px}
.td{empty-cells:show}
TEXTAREA{padding:5px}
A:link{TEXT-DECORATION: none}
A:visited{TEXT-DECORATION: none}
A:active{TEXT-DECORATION: none}

A:hover{COLOR: #0B790E;TEXT-DECORATION: none}
A.top:link{COLOR: #ffffff;TEXT-DECORATION: none}
A.top:visited{COLOR: #ffffff;TEXT-DECORATION: none}
A.top:active{COLOR: #ffffff;TEXT-DECORATION: none}
A.top:hover{COLOR: #22427f;TEXT-DECORATION: none}

.btn{border-width:1px;border-style:outset;padding-left:3px;padding-right:3px;BACKGROUND-COLOR: #e0e0e0;}
.dotline{BACKGROUND-IMAGE: url(..\images\admin\line_dot.gif);WIDTH: 750px;HEIGHT: 1px}
.subtitle{BACKGROUND-POSITION:left;    BACKGROUND-IMAGE:  url(../images/img_subtitle.gif); BACKGROUND-REPEAT:no-repeat; font-size:10pt; font-weight:bold; padding-left:15px;white-space: nowrap;}
.subtxt{ COLOR: #2778a7;font-weight:bold}
.ltb{BORDER-RIGHT: #cccccc 1px solid;BORDER-LEFT: #cccccc 1px solid;WIDTH: 175px; HEIGHT: 100%;BACKGROUND-COLOR: #eeeeee}
.pbody{ background-color: F5F5F5;margin:0}
.iconbg{    BORDER-bottom: #84b2d4 2px solid;   BACKGROUND-COLOR: #d0e6f8;    COLOR: #002B42;HEIGHT: 42px;width:100%;padding-left:10px}
.ltitle{padding-left:10px;padding-top:2px;height:23px;background-color:E4E4E4;width:780;word-break:keep-all}
.list{margin-top:2px;padding-top:4px;padding-bottom:4px;padding-left:10px;width:780}
.mwidth{ WIDTH: 780;}
.micon{padding-right:2px;height:40px;}
.pt{background-color :#ffffff;border-collapse:collapse;padding:3px;}
.mbody{    BACKGROUND-POSITION: left top;    BACKGROUND-IMAGE:  url(../images/bg_main.gif);   margin-left: 15px; margin-top:0;   BACKGROUND-REPEAT: repeat-x; background-color: #FFFFFF}
.mtitle{height:37px; color:#3A3A3A; BACKGROUND-POSITION:8px;    BACKGROUND-IMAGE:  url(../images/img_maintitle1.gif); BACKGROUND-REPEAT:no-repeat; font-size:12pt; font-weight:bold; padding-left:26px; padding-top:4px; white-space: nowrap;vertical-align : middle;}
.mtitle_sub{font-size:11pt;font-weight:bold;}
.page{VERTICAL-ALIGN: bottom;   TEXT-ALIGN: right;padding-bottom:4px;width:300}
.pstitle{background-color: ECECEC;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;white-space: nowrap;word-break:keep-all;word-wrap:normal}
.btnposition{padding-right:10px;text-align:right}

.pmenu{FONT-SIZE: 9pt;FONT-FAMILY: malgun gothic,arial,verdana;padding-left:8px;padding-right:6px; white-space: nowrap; text-align: center;vertical-align: middle;background-image:url(../images/pbar.gif);background-position:left;background-repeat:no-repeat;}

.rpad{PADDING-RIGHT: 20px;TEXT-ALIGN: right}
.atitle_stat{PADDING-RIGHT: 0px;COLOR: #ffffff;HEIGHT: 25px;BACKGROUND-COLOR: #a5b8dd}
.atitle_stat2{PADDING-RIGHT: 5px;PADDING-LEFT: 0px;COLOR: #ffffff;HEIGHT: 25px;BACKGROUND-COLOR: #ffffff}
.ptitle{PADDING-LEFT: 20px;COLOR: #ffffff;HEIGHT: 30px}
.m10{MARGIN-TOP: 10px}
.ptb{BORDER-RIGHT: #426091 1px solid;BORDER-TOP: #426091 1px solid;BACKGROUND-IMAGE: url(../images/admin/popup_bg.gif);BORDER-LEFT: #426091 1px solid;BORDER-BOTTOM: #426091 1px solid;BACKGROUND-REPEAT: repeat-x}
.white{ HEIGHT: 23px; BACKGROUND-COLOR: #ffffff}
.gray1{PADDING-LEFT: 20px;PADDING-TOP: 2px;HEIGHT: 23px;BACKGROUND-COLOR: #e4e4e4}
.ltitle{PADDING-TOP: 2px;HEIGHT: 23px;BACKGROUND-COLOR: #e4e4e4}
.atb{BACKGROUND-COLOR: #f0f0f0}
.atitle{PADDING-LEFT: 20px;COLOR: #ffffff;HEIGHT: 25px;BACKGROUND-COLOR: #a5b8dd}
.button{border-width:1px;border-style:outset;padding-left:3px;padding-right:3px;BACKGROUND-COLOR: #e0e0e0;cursor:pointer}
.tipElm
{
    FONT-SIZE: 9pt;
    COLOR: darkblue;
    FONT-FAMILY: malgun gothic, arial,verdana;
    TEXT-DECORATION: underline;
    cursGroupor: help
}
.abody
{
    MARGIN-TOP: 15px;
    MARGIN-LEFT: 30px
}
.box
{
    BORDER-RIGHT: black 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    BACKGROUND: #dddddd;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: malgun gothic, arial,verdana;
}


/* admin top */
.admin_top{margin:0;background: #687077;}
.admin_top h1{
	font-size:18px;
	color: white;
	width:177px;
	height:46px;
	line-height:46px; 
	margin:0px;
	font-family: Malgun Gothic, malgun gothic;
	padding:0px 10px;}
#adminmenu{
	clear: both;
	margin: 0; 
	padding:0;
	height:31px;	
	background:white;}
#adminmenu ul{
	height:41px;
	line-height:41px;
	margin:0px;
	padding:0 0 0 10px;
	background:white;
	border-top: 1px solid #687077;
	border-bottom:1px solid #ccc;
	}
#adminmenu li, #adminmenu li.off{
	float:left;
	display:inline-block;
	margin-right:2px;
	/* background:url('/images/admin/top_bar.gif') no-repeat top right; */
	height:41px;
	padding:0px 10px;
	vertical-align:middle;
	cursor:pointer;
	color:#333;
	font-weight:bold;
}
#adminmenu li span, #adminmenu li span.off{
	display:inline-block;
	height:30px;
	line-height:29px;
	font-size:13px;
}
#adminmenu li.on span{height:30px;line-height: 30px;color: #2271ca;} 
.adminsub{background-color:#f5f5f5;height:25px}

/* Slide Image*/
.ui-sortable{ margin:0px; padding:0px 0px 0px 15px;}
.sliderList {margin:10px 30px 20px 0px;display:inline-block; border-radius:0px; vertical-align : top; background-color : #ffffff; box-sizing:border-box; border:none; box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.20);position:relative;}
.addsliderList {margin:10px 30px 20px 0px;display:inline-block; border-radius:0px; vertical-align : top; background-color : #ffffff; box-sizing:border-box; border:none; box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.20);position:relative;}
.slider-body {margin:0px;position: relative;cursor:move; border:none; font-size:14px; font-weight:bold; height:40px; line-height:38px; border-radius:0px; color:#393939; width:285px;height:515px}
.slider-head {margin:0px; position: absolute;cursor:move; border:none; width:285px; height:40px; line-height:38px; border-radius:0px; background: rgba(0, 0, 0, 0.5);}
.slider-header {margin:0px;position: relative;cursor:move;border:none;font-size:14px;font-weight:bold;height:40px;line-height:38px;border-radius:0px;color:#393939;width:285px;height:515px;}
.slider-header-add {padding:0px 0px 0px 15px;margin:0px;position: relative;cursor:move; border:none; font-size:14px; font-weight:bold; height:40px; line-height:38px; border-radius:0px;background: rgba(0, 0, 0, 0.5); width:270px; z-index: 2;}
.slider-header-modify {padding:0px 0px 0px 15px;margin:0px;position: relative;cursor:move; border:none; font-size:14px; font-weight:bold; height:40px; line-height:38px; border-radius:0px; color:#393939;background: rgba(0, 0, 0, 0.5); z-index: 2;}
.slider-content {margin:0px; position: absolute;cursor:move; border:none; width:285px; border-radius:0px; background: rgba(0, 0, 0, 0.5); top: 400px; height: 115px;}
.slider-imagePage {width:225px; height:210px;}
.addSlider {border:1px dashed #aab2ba; display:inline-block; text-align:center; vertical-align : top; border-radius:0px; width:285px; height:515px; position:relative; margin: 10px 5px 5px 0px;}
.sliderInfoTD {padding:5px 15px 5px 15px; color: #fff;}
.sliderInfoTDadd {padding:10px 15px 10px 15px; color: #fff;}
.sliderInfoModify {padding:10px 15px 10px 15px;}
.addSlider:hover {cursor:pointer;}
.slideIsUse {padding: 15px 10px 0px 10px;}
.cancelNewSliderBtn img {height:25px; float:right; padding: 3px 9px; line-height: 23px; display: inline-block; margin:7px 7px 0px 0px; color: #fff; box-sizing: border-box; cursor:pointer; border-radius:2px;}
.addNewSliderBttn img {height:25px; float:right; padding: 0px 9px; line-height: 23px; display: inline-block; margin:7px 7px 0px 0px; color: #fff; box-sizing: border-box; cursor:pointer; border-radius:2px;}
.sliderAddBody {margin:0px;position: relative;cursor:move; border:none; font-size:14px; font-weight:bold; height:40px; line-height:38px; border-radius:0px; color:#393939; width:285px;height:515px; list-style: none;}
.sliderModifyBody {margin:0px;position: relative;cursor:move; border:none; font-size:14px; font-weight:bold; height:40px; line-height:38px; border-radius:0px; color:#393939; width:285px;height:515px;}
.addImageBtn span {height:25px; background-color:#f4f4f4; border:1px solid #e7e7e7;  float:right; padding: 0px 9px; line-height: 23px; display:block; text-align: center; margin-top:50%; margin-right:35%}
.addImageBtnModify span {height:25px; background-color:#f4f4f4; border:1px solid #e7e7e7;  float:right; padding: 0px 9px; line-height: 23px; display:block; text-align: center; margin-top:50%; margin-right:35%}
.slider-content-add {margin:0px; position: absolute;cursor:move; border:none; width:285px; border-radius:0px; background: rgba(0, 0, 0, 0.5); top: 400px; right: 1px; z-index: 2;}
#UploadSliderImage {position:relative; bottom:210px;}
.imgbtn {position: relative;}
.sliderListmodify {display:inline-block; border-radius:0px; vertical-align : top; background-color : #ffffff; box-sizing:border-box; border:none; box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.20);position:relative;}
.cancelNewSliderBtnmodify img {height:25px; float:right; padding: 3px 9px; line-height: 23px; display: inline-block; margin:7px 7px 0px 0px; color: #fff; box-sizing: border-box; cursor:pointer; border-radius:2px;}
.sliderURL {display: block; width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #fff;}
.slider-content-modify {margin:0px; position: absolute;cursor:move; border:none; width:285px; border-radius:0px; background: rgba(0, 0, 0, 0.5); top: 400px; z-index: 2;}

/* popup */
.jinhang {width:16px;height:16px;margin-left:15px;margin-top:5px;}
.portletInfoTD {width:100%;}
.portletInfoTD input[type='text'] {width:100%;height:27px;font-size:12px;padding:0px 0px 0px 5px;color:#393939;}
.skinList {margin-left:-10px;list-style:none;}
.skins {position:relative;width:140px;height:37px;text-align:center;border:1px solid #cecece;cursor:pointer;}
.skinImages {position:relative;width:100%;height:35px; border:1px solid #cecece;}
.checked {background-color:#edf7ff;border:1px solid #2196f3;}
.skinPopup {width:500px;height:500px;position:absolute;background:rgba(0,0,0,0.4);border-radius:30px;top:100px;left:150px;}
.skinDivTop {display:inline-block;float:right;width:40px;margin-top:15px;}
.skinPopImg {width:400px;height:400px;position:relative;top:50px;left:45px;}
.skinCloseBtn {cursor:pointer;font-size:25px;}

/* quick poll */
.poll_list1 {display:inline-block; width:100%;font-size:12px;border-bottom:1px dashed rgb(229, 229, 229);height:36px;line-height:36px;}
.question {background:#f2f2f2 0px 0px;margin-top:0px;height:60px;word-break:break-all;border:1px solid #ddd;overflow-y:hidden;width:auto;}
.question span {display: inline-block;font-size:13px;font-weight:bold;width:45%;margin:5px;}
.box {OVERFLOW-X:hidden;padding:10px;overflow-y:auto;height:225px;width:413px;border-top:0px;border-collapse:collapse;empty-cells:show;margin-top:-5px;border:1px solid #ddd;}
.Vnum {margin:0px 5px 0px 0px;padding:1px 6px;border-radius:25px;-webkit-border-radius:25px;font-size:13px;font-weight:bold;color:#fff;}
.Pt_QstOptTitleDiv {width:22%;overflow:hidden;}
.graphbar1 {width:60%;overflow:hidden;height:13px;}
#popupContentTb .box {background:#ffffff;}
.poll_list1 .graphbar1 .gx_bar11 {height:13px;margin:0px;padding:0px;border:0px;margin-top:-1px;background:#0470e4;}
.poll_list1 .graphbar1 {margin:11px 0px 10px 0px;padding:0px;border:1px solid #eee;height:13px;background-color:#d5d5d5;border-radius:25px;}
.box li:nth-child(1) .Vnum, li:nth-child(1) .graphbar1 .gx_bar11 {background:#0470e4;border:1px solid #0470e4;}
.box li:nth-child(2) .Vnum, li:nth-child(2) .graphbar1 .gx_bar11 {background:#81bc3d;border:1px solid #81bc3d;}
.box li:nth-child(3) .Vnum, li:nth-child(3) .graphbar1 .gx_bar11 {background:#fa9900;border:1px solid #fa9900;}
.box li:nth-child(4) .Vnum, li:nth-child(4) .graphbar1 .gx_bar11 {background:#0dbeff;border:1px solid #0dbeff;}
.box li:nth-child(5) .Vnum, li:nth-child(5) .graphbar1 .gx_bar11 {background:#0dbeff;border:1px solid #0dbeff;}
.box li:nth-child(6) .Vnum, li:nth-child(6) .graphbar1 .gx_bar11 {background:#0470e4;border:1px solid #0470e4;}
.box li:nth-child(7) .Vnum, li:nth-child(7) .graphbar1 .gx_bar11 {background:#81bc3d;border:1px solid #81bc3d;}
.box li:nth-child(8) .Vnum, li:nth-child(8) .graphbar1 .gx_bar11 {background:#fa9900;border:1px solid #fa9900;}
.box li:nth-child(9) .Vnum, li:nth-child(9) .graphbar1 .gx_bar11 {background:#0dbeff;border:1px solid #0dbeff;}
.box li:nth-child(10) .Vnum, li:nth-child(10) .graphbar1 .gx_bar11 {background:#0470e4;border:1px solid #0470e4;}
.box li:nth-last-child(1) {border-bottom:0px;}
.spanPollCount {float: right;width:50%;display:inline-block;text-align:right;}

/* quick link */
.link, .linkAdd {cursor: pointer; vertical-align: top; display: inline-block; width: 310px; border: 1px solid #d9d9d9; margin: 20px 30px 0px 0px; height: 200px; background-color: rgb(255, 255, 255);}
.linkAdd {border: 1px dashed #aaaaaa;}
.linkAdd dl dt {text-align: center; margin-top: 50px;}
.linkAdd dl dd {margin-left: 120px; color: #999; font-size: 15px; line-height: 19px;}
.link dl {margin: 10px;}
.link dl dt, .link dl dd {font-size: 13px; line-height: 25px; margin-left: 0px;} 
.link dl dt {float: left; width: 50px;}
.link p {margin: 0px 10px 0px 10px; font-size: 18px; font-weight: bold; line-height: 36px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.link p img {vertical-align: bottom; margin-right: 4px;}
.linkBttn {text-align: right; padding: 10px 10px 0px 0px;}
.linkDetails {list-style: none; float: left; width: 90%; border: 1px solid black; position: relative; display: list-item; margin: 20px 0px 20px 0px;}
.linkTitle {margin: 10px;}
.linkTitle span {font-size: 18px; font-weight: bold;}
.linkContent {float: left; width: 375px; min-width: 375px; display: inline-block; margin: 3px 10px 10px 10px;}
.content, .content th, .content td {border: 0px;}
.content th {background-color: transparent;}
.contInput {width: 100%; -moz-box-sizing: border-box; box-sizing: border-box;}
.primary > td {border: 0px;}
.popInput {width:30px;}
.type tr th, .perm tr th {vertical-align: top;}
.perList {border-left: 1px solid #d2d2d2 !important;}
.perList > .listview {height: 169px; overflow-y: auto; overflow-x: hidden; border-bottom: 0px; border-width: 0px; border: 1px solid #ddd; margin-left: 7px;}
.perm tr:ntn-child(2) > td {padding:0px; border-left: 1px solid #ddd;}
.perm tr:ntn-child(2) > td > div {text-align: right;}
.linkType {width:280px; height: 169px; margin-left:5px; border: 1px solid #d2d2d2;}
.linkType tr {text-align:center;} 
.linkType tr td {width:25%;}
.linkType tr:nth-child(odd) > td {cursor:pointer;}
.linkType tr:nth-child(even) > td {text-align:center; margin-top:-5px;}
.linkType img {margin-top: 5px;}
.hideDetails {display: none;}
.linkChoice {background: #edf7ff; border: 1px solid #2196f3; color: #0470e3;}

/* Employee of Month */
.calSlider {width: 85% !important; margin: 0px auto; border-top: 2px solid; border-bottom: 1px solid #c8ccd0;}
.slick-slide {margin: 0px 3px;}
.slick-slide img {width: 100% !important;}
.slick-center {color: red;}
.slick-prev:before, .slick-next:before {color: black;}
.yearDiv {height: 38px; /* border: 1px solid #c8ccd0; */ }
.yearSpan {text-align: center; font-size: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; letter-spacing: -1px; line-height: 31px;}
.employee {vertical-align: top; display: inline-block; width: 180px; border: 1px solid #d9d9d9; margin: 20px 60px 0px 0px; height: 240px;}
.empBttn {text-align: right; padding: 10px 10px 0px 0px; height: 27px;}
.empBttn > img:first-child {margin-right: 7px;}
.empAdd dl dt {margin: 0px;}
.empAdd dl dt img {margin: 10px 0px 20px 60px; cursor: pointer;}
.empAdd dl dd {color: #999; font-size: 15px; line-height: 21px; text-align: center; margin: 0px;}
.empImg dl dd {font-size: 15px; line-height: 19px; text-align: center; margin: 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.empImg dl dt img {margin-left: 40px; height: 95px; width: 95px; cursor:pointer;}
.empInfo {border-bottom: 3px solid; margin: 0px 25px 0px 25px;}
.empInfo p {margin: 0px; text-align: center; font-size: 20px; font-weight: bold;}
.empCompany {font-weight: bold; font-size: 20px;}
.calendarleft {margin: 0px;}
.calendarright {margin: 0px;}
.tree_delete {margin: 0px; cursor: pointer;}
.slick-slide {outline: none !important;}
.employeeList {margin-left: 110px;}

/* ManageOrgan */
.listview.organ{margin-bottom:2px;} 
.OrganListView {border: 0px solid #ddd; Width: 375px; Height: 510px; overflow-x: hidden; BACKGROUND-COLOR: white; overflow-y:scroll;}
.pwd, .move {margin-left:15px; margin-top:3px;}
.retire {margin-left:5px; margin-top:3px;}