@charset "utf-8";
/* CSS Document */

input, textarea, select, ul, li, h1, h2, table, th {
	font-size:12px;	
	color: #393939;
	text-decoration: none;
	ime-mode:active;
}
a{		
	color: #393939;
	text-decoration: none;
	ime-mode:active;
}
span {
	font-size:12px;	
	text-decoration: none;}
	
ul, li, h1, h2, h3, h4, h5, h6, body {margin:0}
h2 {margin:2px 0}

select {border:1px solid #b6b6b6;height:18px;margin:0}
textarea {
	padding: 5px;
	border: 1px solid #b6b6b6;
	width:100%;
}
table, th, td {
	border-collapse: collapse;
	empty-cells: show;
	padding:0;margin:0;
	font-size:12px;	
}
th{
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
	color: #666;
	background-color:#f3f3f3;
	border:1px solid #b6b6b6;
	padding:2px 10px;
}

A:hover{COLOR: #0B790E; text-decoration:none}

form{display:inline;margin:0}
img { border:0px;}

/* background */
.cmhomebg_type1{
	background:url(../images/kr/community/type1/backimg.gif)  repeat-x #d5dde4;
}
.cmhomebg_type2{
	background:url(../images/kr/community/type2/backimg.gif) repeat-x;
}

.cmhomebg_type3 {
	background:url(../images/kr/community/type3/backimg.gif);
}
.cmhomebg_type4{
	background:url(../images/kr/community/type4/backimg.gif);
}
.cmhomebg_type5{
	background:url(../images/kr/community/type5/backimg.gif);
}

/* layout */
#cmhome_type1 {
	width:900px;
	margin:20px auto 0px;
	padding:10px 10px 20px 10px;
	border:1px solid #9fabb7;
	overflow:hidden;
	background:#fff;
}
#cmhome_type2 {
	width:900px;
	margin:20px auto 0px;
	padding:10px 10px 20px 10px;
	border:1px solid #b6dbe5;
	overflow:hidden;
	background:#fff;
}
#cmhome_type3 {
	width:900px;
	margin:20px auto 0px;
	padding:10px 10px 20px 10px;
	border:1px solid #b7a9a5;
	overflow:hidden;
	background:#fff;
}
#cmhome_type4 {
	width:900px;
	margin:20px auto 0px;
	padding:10px 10px 20px 10px;
	border:3px solid #c0c9be;
	overflow:hidden;
	background:#fff;
}

#cmhome_type5 {
	width:900px;
	margin:20px auto 0px;
	padding:10px 10px 20px 10px;
	border:1px solid #a6a6a6;
	overflow:hidden;
	background:#fff;
}





.cmhome_top { 
	clear:both;
	padding:0px; 
	height:156px; 
	vertical-align:top;
	overflow:hidden;
}
.cmhome_left { 
	float:left; 
	width:180px; 
	margin:0px;
	overflow:hidden; 
	}
.cmhome_right {
	float:right;
	margin:0px;
	width:700px;
}


/* cmhome_type1 start */
/* cmhome_type1-top */
#cmhome_type1 .cmhome_top .homeimg {
	border:3px solid #3f464d; 
	height:100px; 
}
#cmhome_type1 .cmhome_top .homename {
	background:url(../images/kr/community/type1/topbg.gif) repeat-x bottom #3f464d;
	color:#fff; 
	font-size:14px;
	line-height:140%; 
	padding:6px 10px 7px 10px; 
	text-align:center;
}


/* cmhome_type1-left */
#cmhome_type1 .info {
	width:180px;
	background: url(../images/kr/community/type1/info_bg_bottom.gif) repeat-x bottom #4d5359;
	padding:0px;
	overflow:hidden;
}
#cmhome_type1 .info_box {
	position:relative;
	background:url(../images/kr/community/type1/info_bg01.gif) no-repeat;
	border:0px;
	padding:15px 10px 2px 10px;
}
#cmhome_type1 .info_box .master {
	margin:0px 0px 9px 65px;
	padding:0px;
	font-size:12px;
	color:#333;
}
#cmhome_type1 .info_box .master p {
	padding:0px;
	margin:0px;
	line-height:18px;
	
}
#cmhome_type1 .info_box .pic {
	position:absolute;
	top:15px;
	left:12px;
	width: 51px;
	height: 54px;
	display:inline-block;
	margin:0px;
	padding:0px;
	border:1px solid #CCC;
}
.admin_menu { 
	 border-top:1px dotted #999999;
	 margin-bottom:3px;
}
.admin_menu span {
	display:inline-block;
	cursor:pointer;
	background:url(../images/kr/community/type1/icon_setting.gif) no-repeat 5px 5px;
	padding:5px 0px 0px 23px;
	color:#555;
 	font-size:12px;
	height:15px;	
}
#cmhome_type1 .info_count {
	margin:0px;
	height:42px;
	padding:0px 10px;
	background:url(../images/kr/community/type1/info_bg02.gif) no-repeat;
	list-style:none;
}
#cmhome_type1 .info_count li {
	float:left;
	width:40px;
	height:27px;
	padding:15px 0px 0px 32px;
	text-align:right;
	display:inline-block;
	overflow:hidden;
	margin-right:5px;
	
}
#cmhome_type1 .info_count .icon_member {
	background:url(../images/kr/community/type1/icon_people_big.gif) no-repeat 0px 10px;
}
#cmhome_type1 .info_count .icon_board {
	margin-left:5px;
	background:url(../images/kr/community/type1/icon_board_big.gif) no-repeat 2px 10px;
}
#cmhome_type1 .info_count li .count {
	display:block;
	font-size:11px;
	color:#797676;
	font-weight:bold;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	
}

#cmhome_type1 .info_list {
	width:160x;
	margin:7px 10px;
	padding:0px;
	list-style:none;
	font-size:12px;
}
#cmhome_type1 .info_list li {
	background:url(../images/kr/community/type1/info_dotted.gif) no-repeat 0px 7px;
	line-height:20px;
	padding:0px 0px 0px 8px;
	color:#fff;
}

#cmhome_type1 .icon_gray {
	display:inline-block;
	padding:0px 3px 0px 0px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top right;
	 line-height:17px;
	 *line-height:15px
	 ;text-decoration:none !important;
	 white-space:nowrap;
	 margin:0px 0px 5px 0px; 
	 cursor:pointer;
	 margin-right:3px;
 }
#cmhome_type1 .icon_gray span {
	display:block;
	padding:0px 0px 0 4px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top left;
	height:15px; 
	color:#797e82; 
	vertical-align:bottom; 
	font-size:11px;
}


#cmhome_type1 .btn_join {
	border:1px solid #333;
	background:url(../images/kr/community/type1/btn_makebg.gif) repeat-x;
	height:29px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#333;
	margin:5px 4px 5px 4px;
	cursor:pointer;
	line-height:28px;
}
#cmhome_type1 .btn_join img {
	vertical-align:middle;
}

#cmhome_type1 .leftmenu {
	border:2px solid #8d97a0;
	margin-top:10px;
	font-size:12px;
}
#cmhome_type1 .leftmenu h2 {
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #c6c6ca;
	border-bottom: 1px solid #eef0f3;
	cursor: pointer;
	background: url('../images/kr/left/01_minus.gif') no-repeat right 13px;
	height:33px;
	line-height:33px;
	word-break:keep-all;
	white-space:nowrap;
	z-index:10;
	background-color:#dde1e6;
	display: block;
}

#cmhome_type1 .leftmenu h2.on {
	font-weight: bold;
	background: url('../images/kr/left/01_plus.gif') no-repeat right 13px;
	background-color:#ffffff;
	color:#333333;
}
#cmhome_type1 .tree{
	padding:10px 0px;
	border-top:1px solid #c6c6ca;
}
#cmhome_type1 .leftmenu h3 {
	font-size:12px;
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #c6c6ca;
	border-bottom: 1px solid #eef0f3;
	cursor: pointer;
	height:33px;
	line-height:33px;
	word-break:keep-all;
	white-space:nowrap;
	z-index:10;
	background:none;
	background-color:#dde1e6;
	display: block;
}
#cmhome_type1 .leftmenu h3.on {
	font-weight: bold;
	background-color:#ffffff;
	color:#333333;
}

.leftmenu h2 img, .leftmenu h3  img { 
	vertical-align:middle;
	margin-right:4px;
}


/* cmhome_type1-right */
#cmhome_type1 .introduce {
	clear:both;
	border:1px solid #b6bdc2;
	background:#eef2fa;
	overflow:hidden;
	height:97px;
}
#cmhome_type1 .introduce .bgimg {
	display:inline-block;
	width:120px;
	vertical-align:middle;
	float:left;
	height:93px;
	background:url(../images/kr/community/type1/introduce_img.gif) no-repeat left top;
}
#cmhome_type1 .introduce p {
	margin:0px;
	padding:15px;
	height:62px;
	font-size:12px;
	color:#555;
	overflow:auto;
	line-height:18px;	
}

/* cmhome_type1 end */

/* cmhome_type2 start */
/* cmhome_type2-top */
#cmhome_type2 .cmhome_top .homeimg {
	border:3px solid #2681bb; 
	height:100px; 
}
#cmhome_type2 .cmhome_top .homename {
	background:url(../images/kr/community/type2/topbg.gif) repeat-x bottom #2680ba;
	color:#fff; 
	font-size:14px;
	line-height:140%; 
	padding:6px 10px 7px 10px; 
	text-align:center;
}


/* cmhome_type2-left */
#cmhome_type2 .info {
	width:180px;
	background: url(../images/kr/community/type2/info_bg_bottom.gif) repeat-x bottom #99bfd8;
	padding:0px;
	overflow:hidden;
}
#cmhome_type2 .info_box {
	position:relative;
	background:url(../images/kr/community/type2/info_bg01.gif) no-repeat;
	border:0px;
	padding:15px 10px 2px 10px;
}
#cmhome_type2 .info_box .master {
	margin:0px 0px 9px 65px;
	padding:0px;
	font-size:12px;
	color:#333;
}
#cmhome_type2 .info_box .master p {
	padding:0px;
	margin:0px;
	line-height:18px;
	
}
#cmhome_type2 .info_box .pic {
	position:absolute;
	top:15px;
	left:12px;
	width: 51px;
	height: 54px;
	display:inline-block;
	margin:0px;
	padding:0px;
	border:1px solid #CCC;
}

#cmhome_type2 .info_count {
	margin:0px;
	height:42px;
	padding:0px 10px;
	background:url(../images/kr/community/type2/info_bg02.gif) no-repeat;
	list-style:none;
}
#cmhome_type2 .info_count li {
	float:left;
	width:40px;
	height:27px;
	padding:15px 0px 0px 32px;
	text-align:right;
	display:inline-block;
	overflow:hidden;
	margin-right:5px;
	
}
#cmhome_type2 .info_count .icon_member {
	background:url(../images/kr/community/type1/icon_people_big.gif) no-repeat 0px 10px;
}
#cmhome_type2 .info_count .icon_board {
	margin-left:5px;
	background:url(../images/kr/community/type1/icon_board_big.gif) no-repeat 2px 10px;
}
#cmhome_type2 .info_count li .count {
	display:block;
	font-size:11px;
	color:#797676;
	font-weight:bold;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	
}

#cmhome_type2 .info_list {
	width:160x;
	margin:7px 10px;
	padding:0px;
	list-style:none;
	font-size:12px;
}
#cmhome_type2 .info_list li {
	background:url(../images/kr/community/type2/icon_arrow01.gif) no-repeat 0px 7px;
	line-height:20px;
	padding:0px 0px 0px 8px;
	color:#0d354e;
}

#cmhome_type2 .icon_gray {
	display:inline-block;
	padding:0px 3px 0px 0px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top right;
	 line-height:17px;
	 *line-height:15px
	 ;text-decoration:none !important;
	 white-space:nowrap;
	 margin:0px 0px 5px 0px; 
	 cursor:pointer;
	 margin-right:3px;
 }
#cmhome_type2 .icon_gray span {
	display:block;
	padding:0px 0px 0 4px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top left;
	height:15px; 
	color:#797e82; 
	vertical-align:bottom; 
	font-size:11px;
}



#cmhome_type2 .btn_join {
	border:1px solid #849ba8;
	background:url(../images/kr/community/type2/btn_makebg.gif) repeat-x;
	height:29px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#333;
	margin:5px 4px;
	cursor:pointer;
	line-height:28px;
}
#cmhome_type2 .btn_join img {
	vertical-align:middle;
}

#cmhome_type2 .leftmenu {
	border:2px solid #bad1e0;
	margin-top:10px;
	font-size:12px;
}
#cmhome_type2 .leftmenu h2 {
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #c6c6ca;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	background: url('../images/kr/left/01_minus.gif') no-repeat right 13px;
	height:33px;
	line-height:33px;
	word-break:keep-all;
	white-space:nowrap;
	z-index:10;
	background-color:#f8f8f8;
	display: block;
}
#cmhome_type2 .leftmenu h2.on {
	font-weight: bold;
	background: url('../images/kr/left/01_plus.gif') no-repeat right 13px;
	background-color:#ffffff;
	color:#333333;
}
#cmhome_type2 .tree{
	padding:10px 0px;
	border-top:1px solid #c6c6ca;
}
#cmhome_type2 .leftmenu h3 {
	font-size:12px;
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #c6c6ca;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	height:33px;
	line-height:33px;
	word-break:keep-all;
	white-space:nowrap;
	z-index:10;background:none;
	background-color:#f8f8f8;
	display: block;
}
#cmhome_type2 .leftmenu h3.on {
	font-weight: bold;
	background-color:#ffffff;
	color:#333333;
}

/* cmhome_type2-right */
#cmhome_type2 .introduce {
	clear:both;
	border:3px solid #d5d5d5;
	background:url(../images/kr/community/type2/introduce_bg.gif);
	overflow:hidden;
	height:93px;
}
#cmhome_type2 .introduce .bgimg {
	display:inline-block;
	width:120px;
	vertical-align:middle;
	float:left;
	height:93px;
	background:url(../images/kr/community/type2/introduce_img.gif) no-repeat left top;
}
#cmhome_type2 .introduce p {
	margin:0px;
	padding:15px;
	height:62px;
	font-size:12px;
	color:#555;
	overflow:auto;
	line-height:18px;	
}

/* cmhome_type2 end */

/* cmhome_type3 start */
/* cmhome_type3-top */
#cmhome_type3 .cmhome_top .homeimg {
	border:3px solid #8c684b; 
	height:100px; 
}
#cmhome_type3 .cmhome_top .homename {
	background:url(../images/kr/community/type3/topbg.gif) repeat-x bottom #8c684b;
	color:#fff; 
	font-size:14px;
	line-height:140%; 
	padding:6px 10px 7px 10px; 
	text-align:center;
}


/* cmhome_type3-left */
#cmhome_type3 .info {
	width:180px;
	background: url(../images/kr/community/type3/info_bg_bottom.gif) repeat-x bottom #a08268;
	padding:0px;
	overflow:hidden;
}
#cmhome_type3 .info_box {
	position:relative;
	background:url(../images/kr/community/type3/info_bg01.gif) no-repeat;
	border:0px;
	padding:15px 10px 2px 10px;
}
#cmhome_type3 .info_box .master {
	margin:0px 0px 9px 65px;
	padding:0px;
	font-size:12px;
	color:#333;
}
#cmhome_type3 .info_box .master p {
	padding:0px;
	margin:0px;
	line-height:18px;
	
}
#cmhome_type3 .info_box .pic {
	position:absolute;
	top:15px;
	left:12px;
	width: 51px;
	height: 54px;
	display:inline-block;
	margin:0px;
	padding:0px;
	border:1px solid #CCC;
}

#cmhome_type3 .info_count {
	margin:0px;
	height:42px;
	padding:0px 10px;
	background:url(../images/kr/community/type3/info_bg02.gif) no-repeat;
	list-style:none;
}
#cmhome_type3 .info_count li {
	float:left;
	width:40px;
	height:27px;
	padding:15px 0px 0px 32px;
	text-align:right;
	display:inline-block;
	overflow:hidden;
	margin-right:5px;
	
}
#cmhome_type3 .info_count .icon_member {
	background:url(../images/kr/community/type1/icon_people_big.gif) no-repeat 0px 10px;
}
#cmhome_type3 .info_count .icon_board {
	margin-left:5px;
	background:url(../images/kr/community/type1/icon_board_big.gif) no-repeat 2px 10px;
}
#cmhome_type3 .info_count li .count {
	display:block;
	font-size:11px;
	color:#797676;
	font-weight:bold;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	
}

#cmhome_type3 .info_list {
	width:160x;
	margin:7px 10px;
	padding:0px;
	list-style:none;
	font-size:12px;
}
#cmhome_type3 .info_list li {
	background:url(../images/kr/community/type3/icon_arrow01.gif) no-repeat 0px 7px;
	line-height:20px;
	padding:0px 0px 0px 8px;
	color:#fff;
}

#cmhome_type3 .icon_gray {
	display:inline-block;
	padding:0px 3px 0px 0px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top right;
	 line-height:17px;
	 *line-height:15px
	 ;text-decoration:none !important;
	 white-space:nowrap;
	 margin:0px 0px 5px 0px; 
	 cursor:pointer;
	 margin-right:3px;
 }
#cmhome_type3 .icon_gray span {
	display:block;
	padding:0px 0px 0 4px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top left;
	height:15px; 
	color:#797e82; 
	vertical-align:bottom; 
	font-size:11px;
}


#cmhome_type3 .btn_join {
	border:1px solid #a05454;
	background:url(../images/kr/community/type1/btn_makebg.gif) repeat-x;
	height:29px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#333;
	margin:5px 4px;
	cursor:pointer;
	line-height:28px;
}
#cmhome_type3 .btn_join img {
	vertical-align:middle;
}

#cmhome_type3 .leftmenu {
	border:1px solid #a4917f;
	margin-top:10px;
	font-size:12px;
}
#cmhome_type3 .leftmenu h2 {
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #cac2ba;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	background:url('../images/kr/left/01_minus.gif') no-repeat right 13px #f3f1ee;
	height:33px;
	line-height:33px;
	z-index:10;
	display: block;
}
#cmhome_type3 .leftmenu h2.on {
	font-weight: bold;
	background:url('../images/kr/left/01_plus.gif') no-repeat right 13px;
	background-color:#ffffff;
	color:#333333;
}

#cmhome_type3 .tree{
	padding:10px 0px;
	border-top:1px solid #cac2ba;
}

#cmhome_type3 .leftmenu h3 {
	font-size:12px;
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #cac2ba;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	height:33px;
	line-height:33px;
	word-break:keep-all;
	white-space:nowrap;
	z-index:10;
	background:none;
	background-color:#f3f1ee;
	display: block;
}
#cmhome_type3 .leftmenu h3.on {
	font-weight: bold;
	background-color:#ffffff;
	color:#333333;
}


/* cmhome_type3-right */
#cmhome_type3 .introduce {
	clear:both;
	border:3px solid #c9c5ae;
	background:#fafafa;
	overflow:hidden;
	height:93px;
}
#cmhome_type3 .introduce .bgimg {
	display:inline-block;
	width:120px;
	vertical-align:middle;
	float:left;
	height:93px;
	background:url(../images/kr/community/type3/introduce_img.gif) no-repeat left top;
}
#cmhome_type3 .introduce p {
	margin:0px;
	padding:15px;
	height:62px;
	font-size:12px;
	color:#555;
	overflow:auto;
	line-height:18px;	
}

/* cmhome_type3 end */
/* cmhome_type4 start */
/* cmhome_type4-top */
#cmhome_type4 .cmhome_top .homeimg {
	border:3px solid #3ebb26; 
	height:100px; 
}
#cmhome_type4 .cmhome_top .homename {
	background:url(../images/kr/community/type4/topbg.gif) repeat-x bottom #3ebb26;
	color:#fff; 
	font-size:14px;
	line-height:140%; 
	padding:6px 10px 7px 10px; 
	text-align:center;
}


/* cmhome_type4-left */
#cmhome_type4 .info {
	width:180px;
	background: url(../images/kr/community/type4/info_bg_bottom.gif) repeat-x bottom #59bc48;
	padding:0px;
	overflow:hidden;
}
#cmhome_type4 .info_box {
	position:relative;
	background:url(../images/kr/community/type4/info_bg01.gif) no-repeat;
	border:0px;
	padding:15px 10px 2px 10px;
}
#cmhome_type4 .info_box .master {
	margin:0px 0px 9px 65px;
	padding:0px;
	font-size:12px;
	color:#333;
}
#cmhome_type4 .info_box .master p {
	padding:0px;
	margin:0px;
	line-height:18px;
	
}
#cmhome_type4 .info_box .pic {
	position:absolute;
	top:15px;
	left:12px;
	width: 51px;
	height: 54px;
	display:inline-block;
	margin:0px;
	padding:0px;
	border:1px solid #CCC;
}

#cmhome_type4 .info_count {
	margin:0px;
	height:42px;
	padding:0px 10px;
	background:url(../images/kr/community/type4/info_bg02.gif) no-repeat;
	list-style:none;
}
#cmhome_type4 .info_count li {
	float:left;
	width:40px;
	height:27px;
	padding:15px 0px 0px 32px;
	text-align:right;
	display:inline-block;
	overflow:hidden;
	margin-right:5px;
	
}
#cmhome_type4 .info_count .icon_member {
	background:url(../images/kr/community/type1/icon_people_big.gif) no-repeat 0px 10px;
}
#cmhome_type4 .info_count .icon_board {
	margin-left:5px;
	background:url(../images/kr/community/type1/icon_board_big.gif) no-repeat 2px 10px;
}
#cmhome_type4 .info_count li .count {
	display:block;
	font-size:11px;
	color:#797676;
	font-weight:bold;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	
}

#cmhome_type4 .info_list {
	width:160x;
	margin:7px 10px;
	padding:0px;
	list-style:none;
	font-size:12px;
}
#cmhome_type4 .info_list li {
	background:url(../images/kr/community/type4/icon_arrow01.gif) no-repeat 0px 7px;
	line-height:20px;
	padding:0px 0px 0px 8px;
	color:#fff;
}

#cmhome_type4 .icon_gray {
	display:inline-block;
	padding:0px 3px 0px 0px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top right;
	 line-height:17px;
	 *line-height:15px
	 ;text-decoration:none !important;
	 white-space:nowrap;
	 margin:0px 0px 5px 0px; 
	 cursor:pointer;
	 margin-right:3px;
 }
#cmhome_type4 .icon_gray span {
	display:block;
	padding:0px 0px 0 4px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top left;
	height:15px; 
	color:#797e82; 
	vertical-align:bottom; 
	font-size:11px;
}



#cmhome_type4 .btn_join {
	border:1px solid #4ca13c;
	background:url(../images/kr/community/type1/btn_makebg.gif) repeat-x;
	height:29px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#333;
	margin:5px 4px;
	cursor:pointer;
	line-height:28px;
}
#cmhome_type4 .btn_join img {
	vertical-align:middle;
}

#cmhome_type4 .leftmenu {
	border:2px solid #9ebd98;
	margin-top:10px;
	font-size:12px;
}
#cmhome_type4 .leftmenu h2 {
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #c6c6ca;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	background: url('../images/kr/left/01_minus.gif') no-repeat right 13px;
	height:33px;
	line-height:33px;
	word-break:keep-all;
	white-space:nowrap;
	z-index:10;
	background-color:#f8f8f8;
	display: block;
}
#cmhome_type4 .leftmenu h2.on {
	font-weight: bold;
	background: url('../images/kr/left/01_plus.gif') no-repeat right 13px;
	background-color:#ffffff;
	color:#333333;
}
#cmhome_type4 .tree{
	padding:10px 0px;
	border-top:1px solid #c6c6ca;
}
#cmhome_type4 .leftmenu h3 {
	font-size:12px;
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #c6c6ca;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	height:33px;
	line-height:33px;
	word-break:keep-all;
	white-space:nowrap;
	z-index:10;
	background:none;
	background-color:#f8f8f8;
	display: block;
}
#cmhome_type4 .leftmenu h3.on {
	font-weight: bold;
	background-color:#ffffff;
	color:#333333;
}


/* cmhome_type4-right */
#cmhome_type4 .introduce {
	clear:both;
	border:3px solid #d5d5d5;
	background:url(../images/kr/community/type4/introduce_bg.gif);
	overflow:hidden;
	height:93px;
}
#cmhome_type4 .introduce .bgimg {
	display:inline-block;
	width:120px;
	vertical-align:middle;
	float:left;
	height:93px;
	background:url(../images/kr/community/type4/introduce_img.gif) no-repeat left top;
}
#cmhome_type4 .introduce p {
	margin:0px;
	padding:15px;
	height:62px;
	font-size:12px;
	color:#555;
	overflow:auto;
	line-height:18px;	
}

/* cmhome_type4 end */

/* cmhome_type5 start */
/* cmhome_type5-top */
#cmhome_type5 .cmhome_top { 
	clear:both;
	padding:0px; 
	height:156px; 
	margin:0px -10px;
	vertical-align:top;
	overflow:hidden;
}
#cmhome_type5 .cmhome_top .homeimg {
	border:3px solid #ffffff; 
	padding:0px 10px;
	height:100px; 
}
#cmhome_type5 .cmhome_top .homename {
	background:url(../images/kr/community/type5/topbg.gif) repeat-x bottom #fff;
	color:#000; 
	font-size:14px;
	line-height:140%; 
	padding:6px 10px 7px 10px; 
	text-align:center;
}


/* cmhome_type5-left */
#cmhome_type5 .info {
	width:180px;
	background: url(../images/kr/community/type5/info_bg_bottom.gif) repeat-x bottom #a4a7a9;
	padding:0px;
	overflow:hidden;
}
#cmhome_type5 .info_box {
	position:relative;
	background:url(../images/kr/community/type5/info_bg01.gif) no-repeat;
	border:0px;
	padding:15px 10px 2px 10px;
}
#cmhome_type5 .info_box .master {
	margin:0px 0px 9px 65px;
	padding:0px;
	font-size:12px;
	color:#333;
}
#cmhome_type5 .info_box .master p {
	padding:0px;
	margin:0px;
	line-height:18px;
	
}
#cmhome_type5 .info_box .pic {
	position:absolute;
	top:15px;
	left:12px;
	width: 51px;
	height: 54px;
	display:inline-block;
	margin:0px;
	padding:0px;
	border:1px solid #CCC;
}

#cmhome_type5 .info_count {
	margin:0px;
	height:42px;
	padding:0px 10px;
	background:url(../images/kr/community/type5/info_bg02.gif) no-repeat;
	list-style:none;
}
#cmhome_type5 .info_count li {
	float:left;
	width:40px;
	height:27px;
	padding:15px 0px 0px 32px;
	text-align:right;
	display:inline-block;
	overflow:hidden;
	margin-right:5px;
	
}
#cmhome_type5 .info_count .icon_member {
	background:url(../images/kr/community/type1/icon_people_big.gif) no-repeat 0px 10px;
}
#cmhome_type5 .info_count .icon_board {
	margin-left:5px;
	background:url(../images/kr/community/type1/icon_board_big.gif) no-repeat 2px 10px;
}
#cmhome_type5 .info_count li .count {
	display:block;
	font-size:11px;
	color:#797676;
	font-weight:bold;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	
}

#cmhome_type5 .info_list {
	width:160x;
	margin:7px 10px;
	padding:0px;
	list-style:none;
	font-size:12px;
}
#cmhome_type5 .info_list li {
	background:url(../images/kr/community/type5/info_dotted.gif) no-repeat 0px 7px;
	line-height:20px;
	padding:0px 0px 0px 8px;
	color:#fff;
}

#cmhome_type5 .icon_gray {
	display:inline-block;
	padding:0px 3px 0px 0px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top right;
	 line-height:17px;
	 *line-height:15px
	 ;text-decoration:none !important;
	 white-space:nowrap;
	 margin:0px 0px 5px 0px; 
	 cursor:pointer;
	 margin-right:3px;
 }
#cmhome_type5 .icon_gray span {
	display:block;
	padding:0px 0px 0 4px;
	background:url(../images/kr/community/type1/icon_graybg.gif) no-repeat top left;
	height:15px; 
	color:#797e82; 
	vertical-align:bottom; 
	font-size:11px;
}



#cmhome_type5 .btn_join {
	border:1px solid #a9abad;
	background:url(../images/kr/community/type1/btn_makebg.gif) repeat-x;
	height:29px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#333;
	margin-top:5px;
	cursor:pointer;
	line-height:28px;
}
#cmhome_type5 .btn_join img {
	vertical-align:middle;
}

#cmhome_type5 .leftmenu {
	border:2px solid #a9abad;
	margin-top:10px;
	font-size:12px;
}
#cmhome_type5 .leftmenu h2 {
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #c6c6ca;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	background: url('../images/kr/left/01_minus.gif') no-repeat right 13px;
	height:33px;
	line-height:33px;
	word-break:keep-all;
	white-space:nowrap;
	z-index:10;
	background-color:#f8f8f8;
	display: block;
}
#cmhome_type5 .leftmenu h2.on {
	font-weight: bold;
	background: url('../images/kr/left/01_plus.gif') no-repeat right 13px;
	background-color:#ffffff;
	color:#333333;
}
#cmhome_type5 .tree{
	padding:10px 0px;
	border-top:1px solid #c6c6ca;
}
#cmhome_type5 .leftmenu h3 {
	font-size:12px;
	margin:0px;
	padding:0 0 0 10px;
	border-top:1px solid #c6c6ca;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	height:33px;
	line-height:33px;
	word-break:keep-all;
	white-space:nowrap;
	z-index:10;
	background:none;
	background-color:#f8f8f8;
	display: block;
}
#cmhome_type5 .leftmenu h3.on {
	font-weight: bold;
	background-color:#ffffff;
	color:#333333;
}

/* cmhome_type5-right */
#cmhome_type5 .introduce {
	clear:both;
	border:3px solid #a9abad;
	background:url(../images/kr/community/type5/introduce_bg.gif);
	overflow:hidden;
	height:93px;
}
#cmhome_type5 .introduce .bgimg {
	display:inline-block;
	width:120px;
	vertical-align:middle;
	float:left;
	height:93px;
	background:url(../images/kr/community/type5/introduce_img.gif) no-repeat left top;
}
#cmhome_type5 .introduce p {
	margin:0px;
	padding:15px;
	height:62px;
	font-size:12px;
	color:#555;
	overflow:auto;
	line-height:18px;	
}

/* cmhome_type5 end */
/*  common span */
.leftmenu h2 span  {
	width:138px;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

/*  common-board */
.board_area {
	clear:both;
	margin:20px 5px 0px 0px;
	padding:0px;
	overflow:hidden;
}


.f_left {
	clear:both;
	float:left;
	width:335px;
}
.f_right {
	float:right;
	width:335px;
}

.f_right + .f_right {
	clear:both;
	float:right;
	width:335px;
}

/* btype_list */
.btype_list {
	margin:0px; 
	padding:0px;

}
.btype_list .title {
	position:relative;
	margin:0px;
	padding:0px 0px 0px 10px;
	border-bottom: 1px solid #c1c4c6;
	height:25px;
	line-height:25px;
	font-size:12px;
	color:#333;
	font-weight:bold;
	background:url(../images/kr/community/type1/icon_arrow02.gif) no-repeat 0px 8px;
		
}
.btype_list .title .more {
	position:absolute;
	top:5px;
	right:0px;
	cursor:pointer;
}
.btype_list ul {
	margin:5px 0px 0px; 
	padding:0px;
	list-style:none;
}
.btype_list ul li {
	clear:both;
	margin:0px; 
	padding:0px 0px 0px 10px;
	line-height:21px;
	height:21px;
	background:url(../images/kr/community/type1/board_dotted.gif) no-repeat 2px 10px;	
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.btype_list ul li .txt {
	float:left;
	width:78%;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;

}
.btype_list ul li .date{
	float:right;
	width:70px;
	color:#666;
	text-align:right;
}

/* btype_photo */
.btype_photo {
	margin:0px; 
	padding:0px;

}
.btype_photo .title {
	position:relative;
	margin:0px;
	padding:0px 0px 0px 10px;
	border-bottom: 1px solid #c1c4c6;
	height:25px;
	line-height:25px;
	font-size:12px;
	color:#333;
	font-weight:bold;
	background:url(../images/kr/community/type1/icon_arrow02.gif) no-repeat 0px 8px;
		
}
.btype_photo .title .more {
	position:absolute;
	top:5px;
	right:0px;
	cursor:pointer;
}
.btype_photo  ul {
	margin:10px 0px 0px 2px; 
	padding:0px; 
	white-space:nowrap; 
	overflow:hidden; 
}
.btype_photo ul li {
	display:inline-block; 
	float:left;
	width:72px;
	margin:0px 5px;
	padding:0px;
	text-align:center;
	list-style:none; 
	color:#333;
	cursor: pointer;}
.btype_photo ul .photo { 
	display:block; 
	height:68px;
	margin-bottom:5px;
	border:2px solid #d8d8d8;
}
.btype_photo ul li .ptxt {
	height:20px;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size:12px;
	text-align:center; 
}

/* makeguide */
.makeguide { 
	margin:20px 0px 0px 30px;
	width:623px;
	background:url(../images/kr/community/type1/makeguide_bg.gif) no-repeat top right;
	padding:30px 0px 0px 0px;
	overflow:hidden;

}
.makeguide p {
	margin:0px 0px 10px 0px;
	padding:0px;
}


/* right_area */
.cmhome_body {
	margin: 0px 0px 10px ;
    overflow:auto;
}

.cmhome_body .type1_h1 {
	font-size:15px;
	font-weight:bold;
	padding:0px 0px 5px;
	margin:0px 0px 7px;
	color:#333;
	height:20px;
	line-height:20px;
	border-bottom:2px solid #92969a;
}

.cmhome_body .type1_h2 {
	font-size:15px;
	font-weight:bold;
	padding:0px 0px 5px;
	margin:0px 0px 7px;
	color:#333;
	height:20px;
	line-height:20px;
	border-bottom:2px solid #9dc5df;
}
.cmhome_body .type1_h3 {
	font-size:15px;
	font-weight:bold;
	padding:0px 0px 5px;
	margin:0px 0px 7px;
	color:#333;
	height:20px;
	line-height:20px;
	border-bottom:2px solid #c8c4ad;
}
.cmhome_body .type1_h4 {
	font-size:15px;
	font-weight:bold;
	padding:0px 0px 5px;
	margin:0px 0px 7px;
	color:#333;
	height:20px;
	line-height:20px;
	border-bottom:2px solid #9ebd98;
}

.cmhome_body .type1_h4 {
	font-size:15px;
	font-weight:bold;
	padding:0px 0px 5px;
	margin:0px 0px 7px;
	color:#333;
	height:20px;
	line-height:20px;
	border-bottom:2px solid #a9abad;
}

.cmhomelist{table-layout:fixed; border:0 none !important;font-size:12px; border-spacing:0; border-collapse:collapse;}

.cmhomelist tr th{text-align:left;border:0px;text-decoration:none; color:#666666; font-size:11px; padding:6px 4px 6px; border-top:1px solid #b6b6b6;border-bottom:1px solid #b6b6b6; background:url(../images/kr/community/type1/cmhometh_bg.gif)  bottom repeat-x; }
.cmhomelist tr th.title{width:100%; text-align:left;}

.cmhomelist tr td{padding:0px 4px; border:0px; font-weight:normal; font-size:12px; color:#5b5a5a; border-bottom:1px solid #ebebed; border-spacing:0; height:24px;}
.cmhomelist tr td img{vertical-align:middle;}
.cmhomelist tr td.title{width:100%; text-align:left; color:#5b5a5a;}
.cmhomelist tr td.title span{width:95%; display:inline-block; font-size:12px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; vertical-align:middle; border:0px;}
