@CHARSET "UTF-8";

.contextMenuBlock { 
	visibility:hidden; 
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	position:absolute;
	z-index:1000;
	top:0;
	left:0;
	user-select:none;
}
.contextMenuBtn{ 
	z-index:1001; 
	position:absolute; 
	text-align:center; 
	width:68px; 
	height:68px; 
	box-sizing:border-box; 
	background:#5CA9FA; 
	cursor:pointer; 
	border-radius:45px; 
	-webkit-border-radius:45px; 
	-moz-border-radius:45px;
	opacity: 1;
	bottom: 50px;
    right: 50px;
    visibility: visible;
}

/* .contextMenuBtn:hover {
	opacity: 1;	
} */

.contextMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(/images/contextmenu/menu.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* .contextMenu span {
	border-radius: 5px;
	margin-bottom: 4px;
	margin-top: 4px;
    width: 55%;
    height: 4px;
    background: white;
    display: block;	
} */
	
.popupMenuBtn{
	position: absolute;
    text-align: center;
    width: 0px;
    height: 68px;
    box-sizing: border-box;
    background: rgba(72, 81, 92, 0.7);
    opacity: 1;
    border-radius: 135px;
    -webkit-border-radius: 135px;
    -moz-border-radius: 135px;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
    width : 68px;
    visibility: hidden;
    transition:width 0.3s linear;
}

.quickMenuBtn {
	height:100%;
	padding:0 68px 0 10px;
	width: max-content;
	box-sizing:border-box;
}

.quickMenuTop {
	float:left;
}

.quickMenuMiddle {
	float:left;
}

.quickMenuBottom {
	float:left;	
}

.quickMenuTop_memo {	
	float:left;	
}

.quickMenuMiddle_memo {
	float:left;	
}

.quickMenuBottom_memo {
	float:left;	
}


.quickMenuBtnDiv {
	display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 68px;
    line-height: 68px;
    float: left;
}

.quickMenuBtnDiv span {

	color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 0 22px;
}

.quickMenuBtnDiv div {
	display: flex;
	justify-content: center;
	display:none;
}

.quickMenuBtnDiv:hover span{
	color:#5CA9FA;
}