input, label, textarea, select, ul, li, h1, h2, table, th, .page, .point, .box, .box2, .nobox, .leftbody, .message, .mainbody,  .listview2 td,.content td, .file td, .file2 td, .txt, .imgbtn{
	font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;
	color:#393939;
}
p, strong, h3, div{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
a{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif; color:#393939;}
span{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
table, th, td{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.btn, .btnposition input{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.left_pims span, .left_board span, .left_appr span, .left_resource span, .left_cop span, .left_webfolder span, .left_env span, .left_circular span{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
#mainmenu li span, #mainmenu li span.off{font-family:Meiryo UI, ＭＳ Ｐゴシックzz, Arial, Helvetica, sans-serif; /* line-height:30px; */}
#mainmenu li span.btnexportexcel {
	width:170px !important;
}
.left_admin{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.tstyle1, .tstyle3{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.mainlist{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.mainlist_free{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.mainlist_depth{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.pagenavi{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.popup_noti_btnarea .btn, .btnposition input{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.popup_mainlist{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.right_tabpartList01{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.System03DL{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.System03DL dt span{font-family:Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}

.file td input{margin:-2px 4px 0 0; vertical-align:middle;}
#menu span{padding:0 10px 0px 10px;}
.content input[type=checkbox]{vertical-align:-4px !important;}
.pagenavi span:hover, .pagenavi span.on, .pageGo .pageGoBtn:hover{border:1px solid #388CE5; color:#388CE5 !important;}
.receiver_tltype01 span{font-size:13px; letter-spacing:-0.5px;}
.btn_writeBox .btn_write02{font-size:15px;}
.tree_minus{margin:7px 0px 0px 0px;}
.tree_resource_standard{margin:8px 0px 0px 0px;}
.calendarleft{margin:1px 0px 0px 0px;}
.calendarright{margin:1px 0px 0px 0px;}
.previewmailDL dd.pretext .pretextUL li.preSubject .subjectText{float:left;}
.calendar_pagenav .spanText{font-size:16px !important;}
.mainmenuTab .mainmenuTabUL li span{line-height:31px;}
.switch{margin-top:0px; vertical-align:middle;}
.contents_categoryViewList{height:351px;}
.surveyConfig .surveyBttn a.imgbtn{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1);}
.surveyConfig .surveyBttn a.imgbtn span{font-weight:bold; color:#000;}
.headpanel .crust{width:200px;}
.left-Th{width:95px !important;}
.imgbtnSurvey{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1); border:1px solid #c3c3c3; height:28px;}
.quesDiv .qstnRow .dd-container .dd-options{width:580px !important;}
.survey_qsbtn li{width:80px;}
.searchinputBox{height:260px;}
.mainmenuTabUL_left li{line-height:19px;}

/* voc#80238 [영문] 커뮤니티>게시판>공지사항>글조회>인쇄>칸 ui 수정 필요 */
.boardItemViewPrint_cssThEn{width:500px !important; text-align:center !important}
.boardItemViewPrint_cssTdEn{width:80% !important;}

/* 20230306 셀렉트 수정 */
.organMainmenu ul li.newSelect{float:left; margin:0 5px 0 0; padding:0 15px; height:34px; font-size:14px; line-height:32px; background:#fff; color:#000; border:1px solid #babec7; border-radius:3px; box-sizing:border-box; cursor:pointer; position:relative;}
.icon_sel{background-image:url(../images/arrow_iconset.png) !important; background-size:8px; display:inline-block; width:16px !important; height:16px !important; line-height:0px !important; padding:0px !important; margin:6px 0px 0px 0px; background-repeat:no-repeat; background-color:transparent !important; box-shadow:none !important; border:0px none !important; border-radius:0px !important; vertical-align:top !important; overflow:hidden;}
.collapse_down{background-position:0px -13px !important; margin:6px 0px 0px 0px; cursor:pointer;}
.collapse_up{background-position:0px 5px !important; margin:6px 0px 0px 0px; cursor:pointer;}

.organMainmenu ul.selectUL li ul.option_horizontal_list{position:absolute; left:0px; top:28px; min-width:100px; /*max-width:180px;*/ list-style:none; margin:0px; padding:0px 0px; background:#ffffff; border:1px solid #808080; border-bottom-left-radius:2px; border-bottom-right-radius:2px; box-shadow:2px 2px 10px rgb(0 0 0 / 18%); z-index:10000; display:block; height:auto !important; overflow:auto !important; max-height:200px !important; width:auto !important;}
.organMainmenu ul.selectUL li .option_horizontal_list li{float:none !important; height:28px !important; line-height:30px; margin:0px !important; padding:0px 10px !important; font-size:12px; color:#444; vertical-align:top; box-sizing:border-box; border:0px none; border-radius:0px; background:transparent; box-shadow:none; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; border:none !important;}
.organMainmenu ul.selectUL li .option_horizontal_list li:hover{background:#e2ecfa; border:0 none; color:#333333;}
#mainmenu ul.selectUL{overflow:visible; max-height:220px;}
.organMainmenu ul li.newSelect{border-radius:0px;}
.organMainmenu ul li.newSelect span{padding:0px 10px !important;}

.newSelect_div ul li p .on{display:block}
.newSelect_div ul li p .off{display:none}
/* 스크롤바 커스텀 */
.organMainmenu ul.selectUL li .option_horizontal_list::-webkit-scrollbar{width:8px;}
.organMainmenu ul.selectUL li .option_horizontal_list::-webkit-scrollbar-thumb{height:30%; background:#d9d9d9; border-radius:10px;}
.organMainmenu ul.selectUL li .option_horizontal_list::-webkit-scrollbar-track{background:#f1f1f1;}
/* //스크롤바 커스텀 */
/* //20230306 셀렉트 수정 */

/* Search 20230208 */
.searchBtn.nofilter{right:12px;}

.resLnb_tree{padding-top:20px;}
.organMainmenu ul li.newSelect{box-sizing:border-box;}
.file .pos2 .imgbtn{width:75px !important;}
.portlet_tabnew01_top p span{line-height:26px !important;}
.content input{margin-top:0px;}
.searchinputBox{height:27px !important;}
#TreeView, #TreeView2, #TreeView3, #TreeViewCC{padding:6px 8px; box-sizing:border-box;}
.resetBtn{line-height:0px;}
.IDcontainer > input[type="checkbox"]{display:none;}
.IDcontainer .list_text{padding-left:25px}
.textUser{width:31%}
#TreeCtrl_MyFavTree_ul > .lnbUL{padding-left:20px;}


/* 메일 */
.mailPop3 table.content{width:770px !important;}


/* 투표 */
.voteInfoDiv ul{width:250px !important;}
.voteIconImg_li_info{width:100% !important;}


/* 일정관리 */
.scheduleWrite .hasDatepicker{width:90px !important;}
.scheduleWrite .ui-timepicker-input{width:50px !important;}

.boardTxtURL {width: 70%;}

.qstnWrapper .quesDiv .fileAttTooltip {width: 160px;}