/*
input, label, textarea, select, ul, li, h1, h2, table, th, .page, .point, .box, .box2, .nobox, .leftbody, .message, .mainbody,  .listview2 td,.content td, .file td, .file2 td, .txt, .imgbtn{
	font-family:'malgun gothic', 'arial', 'verdana';
	font-size:12px;
	color:#393939;
}
p, strong, h3{font-family:'malgun gothic', 'arial', 'verdana';}
a{font-family:'malgun gothic', 'arial', 'verdana'; color:#393939;}
span{font-size:12px; font-family:'malgun gothic', 'arial', 'verdana';}
input{font-family:'malgun gothic','arial';}
table, th, td{font-family:'malgun gothic', 'arial', 'verdana';}
th{color:#777;}
.imgbtn span{font-size:12px; line-height:20px;}
.btnpositionNew a.imgbtn, .btnpositionLayer a.imgbtn, .btnpositionJsp a.imgbtn{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1); border:1px solid #c3c3c3;}
.btnpositionNew a.imgbtn span, .btnpositionLayer a.imgbtn span, .btnpositionJsp a.imgbtn span{font-weight:bold; font-size:12px; color:#000;}
.popup .pos2, .mainbody .pos2{padding:0 2px;}
.leftbody ul li{padding:12px 5px 0 40px;}
#left h2, #TopBoards h2{border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea;}
#left h2.on, #TopBoards h2.on{background-color:#f0f6ff;}
#left h3{padding:0 0 0 40px; background:url('/images/kr/left/icon_setup.gif') no-repeat 20px 9px; height:33px; line-height:33px;}
.left_pims{height:51px; background:#0470e4;}
.left_pims span{background:url(/images/kr/left/left_schedule.png) no-repeat left center; height:50px; line-height:48px; font-weight:normal; color:#fff; padding:0px 0px 0px 33px; text-align:center; font-family:Malgun Gothic; font-size:20px;}
.left_board span{text-align:center; font-family:Malgun Gothic; font-size:20px;}
.left_appr span{text-align:center; font-family:Malgun Gothic; font-size:20px;}
.left_resource span{text-align:center; font-family:Malgun Gothic; font-size:20px;}
.left_cop span{text-align:center; font-family:Malgun Gothic; font-size:20px;}
.left_webfolder span{text-align:center; font-family:Malgun Gothic; font-size:20px;}
.left_env span{text-align:center; font-family:Malgun Gothic; font-size:20px;}
.left_circular span{text-align:center; font-family:Malgun Gothic; font-size:20px;}
#mainmenu li, #mainmenu li.off{border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
#mainmenu li span, #mainmenu li span.off{padding:0 4px; font-size:12px; font-family:Malgun Gothic, Arial, Helvetica, sans-serif; line-height:28px;}
#mainmenu li span.icon16{margin-left:4px;}
#mainmenu li.important{color:#0470e4; border-top:1px solid #62aaf9; border-left:1px solid #62aaf9; border-right:1px solid #62aaf9; border-bottom:1px solid #0470e4;}
#mainmenu li.on:hover{color:rgb(4, 112, 227); border-color:rgb(4, 112, 227); background:#f1f8ff;}
#menu select.disabled{background-color:#EEE;}
#menu span{border:1px solid #c7c7c7; border-bottom:1px solid #909193; padding:0 8px 2px 8px; color:#393939;}
.popup h2{color:#666; font-size:12px;}
.content td, .file td, .file2 td, .popuplist td{padding:0 2px 0 2px; border:1px solid #d2d2d2;}
.left_admin{font-size:17px; color:rgb(93,93,93); height:51px; background:url('/images/kr/cm/bg_main.gif') repeat-x;}
#ezFormProc_div h1, #ezFormProc_div h2, h3, h4, h5, h6{color:#000;}
.mainlist tr{height:34px;}
.mainlist tr th{font-size:12px; border-top:1px solid #e2e3e6; border-bottom:1px solid #e2e3e6; background-color:#f1f3f5;}
.mainlist tr td{color:#5b5a5a; word-wrap:break-word;}
.mainlist_free tr th{border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; background-color:#f8f8fa;}
.mainlist_free tr td{color:#5b5a5a; padding:4px;}
.list_element td{text-align:left;}
.pagenavi span:hover, .pagenavi span.on, .pageGo .pageGoBtn:hover{border:1px solid #017bec; background:#0684f9;}
.popup_noti_title{background:#1990ff;}
.popup_noti_content{background:#1990ff;}
.popup_noti_content table{text-shadow:1px 1px 0px #0862c3;}
.popup_noti_content table .ctxt{height:90px; padding-top:31px;}
.popup_noti_btnarea .btn, .btnposition input{border:1px solid #bbb; color:#000; font-weight:bold; box-shadow:0 1px 0 0 rgba(0,0,0,0.25);}
.popup_noti_btnarea .btn, .btnposition input:hover{color:#7a7a7a;}
.popup_noti_btnarea{background-color:#fff; height:46px;}
.guidemenu .on{color:#000;}
#left .list_thumbnail{background:#e4e8ec;}
#left .list_thumbnail li{border-bottom:1px solid #cdd2d9;}
.todayComm{color:#000;}
.receiver_tltype01{padding:0 0 0 15px !important; line-height:28px; border-bottom:1px solid #999;}
.receiver_tltype01 span{font-size:12px; color:#333;}
.receiver_tltype02{padding:0 0 0 15px !important; border-bottom:1px solid #9a9a9a;}
.receiver_tltype01 span{font-size:12px; color:#333;}
.receiver_borderbox{border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.receiver_list td{font-size:12px; color:#5b5a5a; padding:4px 4px;}
.sublist tr td{color:#5b5a5a;}
.System03DL{overflow:hidden;}
#Preview_HeaderH, #Preview_HeaderW{background-color:#f1f3f5;}
.volumeDL dt{color:#000;}
.tree_addressPop{width:16px; height:20px; display:inline-block; background-position:-363px 4px !important; position:absolute; right:50px; top:16px; cursor:pointer;}
.btn_writeBox{height:50px; background:#3d8fea; padding:10px;}
.btn_writeBox .btn_write01{height:30px; line-height:28px; background:#0b56ab; font-size:13px; color:#fff;}
.btn_writeBox .btn_write01:hover{background:#1264c1; transition:none;}
.btn_writeBox .btn_write02{margin:0 0 0 2px; width:98px; height:30px; line-height:28px; background:#196dcb; font-size:13px; color:#fff;}
.btn_writeBox .btn_write02:hover{background:#1f79de;}
.lnbUL{border-bottom:1px solid #cdd2d9;}
.lnbUL li{padding:0px 6px 0px 16px;}
.lnbUL li .list_text{font-size:13px;}
.lnbUL li:hover .list_text{color:#0470e4; font-weight:bold;}
.lnbUL > .tree{border-bottom:1px solid #cdd2d9; padding-bottom:10px; margin-bottom:10px;}
.tree_minus{margin:7px 0px 0px 0px;}
.tree_tree{background-position:0px -208px;}
.tree_mail{background-position:-26px 0px; width:16px; height:16px;}
.tree_outmail{background-position:-52px 0px; width:16px; height:16px;}
.tree_manage{background-position:-312px 0px; width:16px; height:16px;}
.tree_outbox{background-position:-78px 0px; width:16px; height:16px;}
.tree_delete{background-position:-104px 0px; width:16px; height:16px;}
.tree_folder{background-position:0px -208px; width:16px; height:16px;}
.tree_individual{background-position:-130px 0px; width:16px; height:16px;}
.tree_junk{background-position:-156px 0px; width:16px; height:16px;}
.tree_appr{background-position:-26px -26px; width:16px; height:16px;}
.tree_appr_ing{background-position:-52px -26px; width:16px; height:16px;}
.tree_appr_write{background-position:-78px -26px; width:16px; height:16px;}
.tree_appr_complete{background-position:-104px -26px; width:16px; height:16px;}
.tree_appr_turn{background-position:-130px -26px; width:16px; height:16px;}
.tree_appr_department{background-position:-156px -26px; width:16px; height:16px;}
.tree_appr_receive{background-position:-182px -26px; width:16px; height:16px; margin:8px 0 0 0;}
.workIcon{display:inline-block; margin:8px 0px 0px 10px;}
.tree_resource_standard{margin:8px 0px 0px 0px;}
.lnb h2 .h2Title{font-size:13px;}
.mail_space{height:39px; line-height:39px; bottom:0; width:220px; left:0;}
.mail_space .mail_spaceText{color:#000; padding:0 0 0 20px; bottom:0;}
.mail_space .mailBar{height:38px; line-height:38px;}
.newLeft{background-color:#e4e8ec;}
.admin_left_title{background:#3d8fea; color:#fff;}
.companySelect{height:31px; float:right;}
.popup_icon16_delete{background-position:8px 6px !important; width:16px;}
.popup_icon16_print{width:16px;}
.popup_icon16_refresh{width:16px;}
.popup_icon16_search{width:16px;}
.popup_icon16_star{width:16px;}
.popup_icon16_mail{width:16px;}
.popup_icon16_mail_gray{width:16px;}
.sub_frameIcon .sub_frameIconUL{border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
.sub_frameIcon .sub_frameIconUL02{border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
.previewmail .previewmail_info{background:#f1f3f5;}
.previewmailDL dd.pretext .pretextUL li.preSubject .subjectText{float:left;}
.previewmailDL dd.pretext .pretextUL li.preSubject .popup_open{float:left;}
.previewmailDL dd.pretext .pretextUL li.preT_list{padding-right:0;}
.mainmenuTab .mainmenuTabUL li span{font-weight:bold; color:#777; background:#e4e7ea; border:1px solid #e4e7ea;}
.mainmenuTab .mainmenuTabUL li:hover span{background:#3d8fea; color:#fff;}
.mainmenuTab .mainmenuTabUL li.on span{background:#3d8fea; color:#fff; border:1px solid #3d8fea;}
.admin_menuDL .admin_menuTit{float:left;}
.bottomBtn .btnA{padding:5px 4px; color:#393939; border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
.bottomBtn .btnA:hover{border:1px solid #0470e4; color:#0470e4;}
.admin_thema{width:797px;}
.switch{width:60px; height:18px;}
.slider{left:0;}
.slider:before{left:8px;}
input:checked + .slider:before{transform:translateX(26px);}
.community_section01{background:url(../images/kr/community/bannerbgleft.png) #3d8fea left top no-repeat;}
.contents_bannerCommunity{background:url(../images/kr/community/bannerbgright.png) right top no-repeat; padding-top:0;}
.contents_tabCommunity{border-bottom:1px solid #e7e7e7; background-color:#f3f5f7;}
.contents_tabCommunity dd.btn_more{border-left:1px solid #e7e7e7;}
.contents_listCommunity li{background:url(../images/kr/community/communityPortlet_listpoint.gif) left center no-repeat;}
.contents_listCommunity li span{padding:0px 0px 0px 6px;}
.contents_listCommunity li span.icon_new img{padding-right:0;}
.contents_rightCommunity dd span{text-align:left;}
.contents_rightCommunity dd span.title{text-align:left;}
.contents_listCategory{padding:14px 23px;}
.contents_listCategory li{padding:0;}
.contents_listCategory li span.count{color:#ff6c00;}
.contents_categoryView{background:#f3f5f7;}
.contents_searchCategory dl dd{height:34px;}
.categoryBox{border:1px solid #e2e3e6; cursor:pointer;}
.categoryInfo dt.sort{padding:0 6px;}
.categoryInfo dd.categoryInfo_count span.count{color:#ff6c00;}
.popup .mainlist tr{height:31px;}
.surveyConfig .surveyBttn a.imgbtn{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1);}
.surveyConfig .surveyBttn a.imgbtn span{font-weight:bold; color:#000;}
.user-listDiv{height:26px;}
.draft-survey{padding:0 5px; color:#2196f3; font-weight:bold; border:1px solid #62aaf9; border-bottom:1px solid #0470e4;}
.usersTr td >img{width:30px; height:30px;}
.usersTr td:first-child{width:30px;}
.popup-title >span{color:red;}
.surveydetail-header span{border:1px solid #c7c7c7; border-bottom:1px solid #909193; padding:0px 8px 2px 8px; font-size:12px;}
.textInput:focus, .info-input-ttl:focus, .info-input-pp:focus{border:1px solid #2196f3 !important;}
.imgbtnSurvey{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1);}
.imgbtnSurvey_save{border:1px solid #62aaf9; box-shadow:0px 2px 0px 0px rgba(98, 170, 249, 0.8);}
.survey_qsbtn li{border-bottom:1px solid #909193;}
.survey_qsbtn li.modify, .survey_qsbtn li.save{color:#0470e4; border:1px solid #2196f3; border-bottom:1px solid #0470e4;}
.question-panel{padding:10px;}
.question-header{padding:10px 0;}
.textInput:focus, .info-input-ttl:focus, .info-input-pp:focus{border-bottom:1px solid #03a9f4 !important;}
.upage-ul{right:13px; padding:0 18px 8px 18px;}
.upage-ul li{width:140px; padding:0 10px;}
.searchForm{margin-right:17px;}
.searchBtn{right:-19px; top:-2px;}
.searchBtn{position:absolute; right:-19px; top:-2px;}
.searchFilterBtn{right:-50px; top:-2px;}
.layerPopup_new{right:-48px;}
.layerPopup_button .button_style01{background-color:#3d8fea;}
.searchBtn.nofilter{right:12px;}
.searchForm .text{border-right:0 !important;}
.resetBtn{line-height:0px;}
.textUser{width:31%}
#TreeCtrl_MyFavTree_ul > .lnbUL{padding-left:20px;}
*/

html{font-family: 'Microsoft YaHei UI', 'Microsoft JhengHei UI', 'Noto Sans KR', sans-serif, 'malgun gothic', 'arial', 'verdana' !important;}
input, label, textarea, select, ul, li, h1, h2, table, th, .page, .point, .box, .box2, .nobox, .leftbody, .message, .mainbody,  .listview2 td,.content td, .file td, .file2 td, .txt, .imgbtn{
    font-family: 'Microsoft YaHei UI', 'Microsoft JhengHei UI', 'Noto Sans KR', sans-serif, 'malgun gothic', 'arial', 'verdana' !important;
}
p, strong, h3, div, a, span, table, th, td {
    font-family: 'Microsoft YaHei UI', 'Microsoft JhengHei UI', 'Noto Sans KR', sans-serif, 'malgun gothic', 'arial', 'verdana' !important;
}

/* 메일 */
.previewmailDL dd.pretext .pretextUL li.preT_list .cblack{min-width:50px; display:inline-block;}
.tagli > span:first-child{width:50px !important;}
.tag_normal{width:154px !important;}
#popServer1, #popServer2, #popServer3{width:180px !important;}

/* 게시판 */
.boardGeneral .content{width:670px !important;}

/* 주소록 */
.address_wordmenu li:first-child{width:auto !important;}

/* 웹폴더 */
.webfolderListBoxOT .btn_write01{min-height:40px; line-height:1.5; padding:5px;}

/* datepicker */
.ui-datepicker{width:210px !important;}

/* 업무관리 */
.taskConfig table.content{width:300px !important;}

/* 사다리게임 */
#startButton > div > span:nth-child(2){display:block !important;}

.statistics_wrap .statistics .graph_box .graph .display .num{margin-left: -5px;}