/* 노토산스 font */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(fonts/NotoSansKr/woff/NotoSansKR-Thin.woff) format('woff'),
	  url(fonts/NotoSansKr/otf/NotoSansKR-Thin.otf) format('opentype');
  }
  @font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(fonts/NotoSansKr/woff/NotoSansKR-Light.woff) format('woff'),
	  url(fonts/NotoSansKr/otf/NotoSansKR-Light.otf) format('opentype');
  }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 400;
	 src: url(fonts/NotoSansKr/woff/NotoSansKR-Regular.woff) format('woff'),
	  url(fonts/NotoSansKr/otf/NotoSansKR-Regular.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 500;
	 src: url(fonts/NotoSansKr/woff/NotoSansKR-Medium.woff) format('woff'),
	  url(fonts/NotoSansKr/otf/NotoSansKR-Medium.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 700;
	 src: url(fonts/NotoSansKr/woff/NotoSansKR-Bold.woff) format('woff'),
	  url(fonts/NotoSansKr/otf/NotoSansKR-Bold.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 900;
	 src: url(fonts/NotoSansKr/woff/NotoSansKR-Black.woff) format('woff'),
	  url(fonts/NotoSansKr/otf/NotoSansKR-Black.otf) format('opentype');
   }
  
html,body,h1,h2,h3,h4,h5,div, p, span, a, strong, input,label,textarea, select,ul,li,td, dl,dt, dd, table, th, td, .left_title{font-family:'Noto Sans KR', "맑은 고딕", Dotum, "돋움", Gulim, "굴림", Arial, Helvetica, sans-serif !important;}
/* 노토산스 font */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/NotoSansKr/woff/NotoSansKR-Thin.woff) format('woff'),
    url(fonts/NotoSansKr/otf/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/NotoSansKr/woff/NotoSansKR-Light.woff) format('woff'),
    url(fonts/NotoSansKr/otf/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(fonts/NotoSansKr/woff/NotoSansKR-Regular.woff) format('woff'),
    url(fonts/NotoSansKr/otf/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(fonts/NotoSansKr/woff/NotoSansKR-Medium.woff) format('woff'),
    url(fonts/NotoSansKr/otf/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(fonts/NotoSansKr/woff/NotoSansKR-Bold.woff) format('woff'),
    url(fonts/NotoSansKr/otf/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(fonts/NotoSansKr/woff/NotoSansKR-Black.woff) format('woff'),
    url(fonts/NotoSansKr/otf/NotoSansKR-Black.otf) format('opentype');
 }

html,body,h1,h2,h3,h4,h5,div, p, span, a, strong, input,label,textarea, select,ul,li,td, dl,dt, dd, table, th, td, .left_title{font-family:'Noto Sans KR', "맑은 고딕", Dotum, "돋움", Gulim, "굴림", Arial, Helvetica, sans-serif !important;}
input, label, textarea, select, ul, li, h1, h2, table, th, .page, .point, .box, .box2, .nobox, .leftbody, .message, .mainbody,  .listview2 td,.content td, .file td, .file2 td, .txt, .imgbtn{
	font-family:'Noto Sans KR', "맑은 고딕", Dotum, "돋움", Gulim, "굴림", Arial, Helvetica, sans-serif;
	font-size:12px; 
	color:#393939;
} 
p, strong, h3, div{font-family:'Noto Sans KR', "맑은 고딕", Dotum, "돋움", Gulim, "굴림", Arial, Helvetica, sans-serif;}
a{color:#393939;}
span{font-size:12px;}
select{min-height:20px;}
#menu select, #menu input{border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
table, th, td{font-size:12px;}
th{color:#777;}
.imgbtn{height:20px;}
.imgbtn span{height:20px; font-size:12px; line-height:20px;}
.btnpositionNew{border-top:1px solid #eee;}
.btnpositionNew a.imgbtn, .btnpositionLayer a.imgbtn, .btnpositionJsp a.imgbtn{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1); border:1px solid #c3c3c3;}
.btnpositionNew a.imgbtn span, .btnpositionLayer a.imgbtn span, .btnpositionJsp a.imgbtn span{font-weight:bold; font-size:12px; color:#000;}
.popup .pos2, .mainbody .pos2{padding:0 2px;}
.leftbody{background-color:#fcfcfc;}
.leftbody ul{background-color:#fff;}
.leftbody ul li{border-bottom:1px solid white; background:url('/images/kr/left/left_dot02.gif') no-repeat 25px 14px #fff; padding:12px 5px 0px 40px;}
.leftbody ul li:last-child{border-bottom:1px solid #eaeaea;}
#left h3{padding:0 0 0 40px; background:url('/images/kr/left/icon_setup.gif') no-repeat 20px 9px; height:33px; line-height:33px;}
.left_pims{height:51px; background:#0470e4;}
.left_pims span{background:url(/images/kr/left/left_schedule.png) no-repeat left center; height:50px; line-height:48px; font-weight:normal; color:#fff; padding:0 0 0 33px; text-align:center; font-size:20px;}
.left_board span{text-align:center; font-size:20px;}
.left_appr span{text-align:center; font-size:20px;}
.left_resource span{text-align:center; font-size:20px;}
.left_cop span{text-align:center; font-size:20px;}
.left_webfolder span{text-align:center; font-size:20px;}
.left_env span{text-align:center; font-size:20px;}
.left_circular span{text-align:center; font-size:20px;}
#mainmenu li, #mainmenu li.off{border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
#mainmenu li span, #mainmenu li span.off{padding:0 4px; font-size:12px; line-height:28px;}
#mainmenu li span.icon16{margin-left:4px;}
#menu span{border:1px solid #c7c7c7; border-bottom:1px solid #909193; padding:0px 8px 2px 8px; color:#393939;}
.popup h2{color:#666; font-size:12px;}
.content td, .file td, .file2 td, .popuplist td{padding:0 2px 0 2px; border:1px solid #d2d2d2;}
.left_admin{font-size:17px; color:rgb(93,93,93); height:51px; background:url('/images/kr/cm/bg_main.gif') repeat-x;}
.mainlist tr{height:34px;}
.mainlist tr th{font-size:12px; border-top:1px solid #e2e3e6; border-bottom:1px solid #e2e3e6; background-color:#f1f3f5;}
.mainlist tr td{color:#5b5a5a;}
.mainlist_free tr th{border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; background:#f8f8fa;}
.mainlist_free tr td{font-size:12px; color:#5b5a5a; padding:4px;}
.list_element td{text-align:left;}
.pagenavi span:hover, .pagenavi span.on, .pageGo .pageGoBtn:hover{border:1px solid #017bec; background:#0684f9;}
.popup_noti_title{background:#1990ff;}
.popup_noti_content{background:#1990ff;}
.popup_noti_content table .ctxt{height:90px; padding-top:31px;}
.popup_noti_btnarea{background-color:#fff; height:46px;}
.popup_mainlist tr th{color:#777;}
.popup_notice .popup_noticeLayout .notice_btn .btn_style01 span{font-size:12px;}
#left .list_thumbnail{background:#e4e8ec;}
#left .list_thumbnail li{border-bottom:1px solid #cdd2d9;}
.todayComm{color:#000;}
.receiver_tltype01{padding:0 0 0 15px; background:url(../images/kr/cm/title_bg.gif) no-repeat left; line-height:28px; border-bottom:1px solid #999;}
.receiver_tltype01 span{color:#333;}
.receiver_tltype02{padding:0 0 0 15px; background:url(../images/kr/cm/title_bg.gif) no-repeat left; border-bottom:1px solid #9a9a9a;}
.receiver_tltype02 span{font-size:12px; color:#333;}
.receiver_borderbox{border:1px solid #ddd;}
.receiver_list td{font-size:12px; color:#5b5a5a; padding:4px;}
.sublist tr th{color:#777; font-size:12px;}
.sublist tr td{color:#5b5a5a;}
.System03DL{overflow:hidden;}
.volumeDL dt{color:#000;}
.imgbck{background-color:#f1f3f5; border:1px solid #e2e3e6;}
.tree_addressPop{width:16px; height:20px; display:inline-block; background-position:-363px 4px !important; position:absolute; right:50px; top:16px; cursor:pointer;}
.btn_writeBox{height:50px; background:#3d8fea; padding:10px;}
.btn_writeBox .btn_write01{height:30px; line-height:28px; background:#0b56ab; font-size:14px; color:#fff;}
.btn_writeBox .btn_write01:hover{background:#1264c1;}
.btn_writeBox .btn_write02{margin:0 0 0 2px; width:98px; height:30px; line-height:28px; background:#196dcb; font-size:13px; color:#fff;}
.btn_writeBox .btn_write02:hover{background:#1f79de;}
.btn_writeBox_work .btn_write01{text-align:left; height:30px; line-height:28px; background:#0b56ab; cursor:pointer;}
.btn_writeBox_work .btn_write01:hover{background:#1264c1;}
.btn_writeBox_work span.worksT{font-size:12px; padding:0px 10px 0px 10px; display:inline-block; color:#fff; overflow:hidden; height:30px; line-height:30px;}
.btn_writeBox_work span.workT{display:inline-block; margin:0px; padding:0px 0px 0px 10px;  font-size:14px; color:#fff; overflow:hidden; height:30px; line-height:28px;}
.btn_writeBox_work .btn_write02{margin:0 0 0 2px; width:98px; text-align:left; height:30px; line-height:28px; background:#196dcb;}
.btn_writeBox_work .btn_write02:hover{background:#1f79de;}
.lnbUL > .tree{border-bottom:1px solid #cdd2d9; padding-bottom:10px; margin-bottom:10px;}
.tree_minus{margin:7px 0 0 0;}
.tree_tree{background-position:0px -208px;}
.tree_mail{background-position:-26px 0px; width:16px; height:16px;}
.tree_outmail{background-position:-52px 0px; width:16px; height:16px;}
.tree_manage{background-position:-312px 0px; width:16px; height:16px;}
.tree_outbox{background-position:-78px 0px; width:16px; height:16px;}
.tree_delete{background-position:-104px 0px; width:16px; height:16px;}
.tree_folder{background-position:0px -208px; width:16px; height:16px;}
.tree_individual{background-position:-130px 0px; width:16px; height:16px;}
.tree_junk{background-position:-156px 0px; width:16px; height:16px;}
.tree_appr{background-position:-26px -26px; width:16px; height:16px;}
.tree_appr_ing{background-position:-52px -26px; width:16px; height:16px;}
.tree_appr_write{background-position:-78px -26px; width:16px; height:16px;}
.tree_appr_complete{background-position:-104px -26px; width:16px; height:16px;}
.tree_appr_turn{background-position:-130px -26px; width:16px; height:16px;}
.tree_appr_department{background-position:-156px -26px; width:16px; height:16px;}
.tree_appr_receive{background-position:-182px -26px; width:16px; height:16px; margin:8px 0 0 0;}
.workIcon{display:inline-block; margin:8px 0 0 10px;}
.tree_resource_standard{margin:8px 0 0 0;}
.lnb h2 .h2Title{font-size:13px;}
.mail_space{height:39px; line-height:39px; bottom:0; width:220px;}
.mail_space .mail_spaceText{padding:0 0 0 20px; color:#fff;}
.mail_space .mailBar{height:39px;}
.newLeft{background-color:#e4e8ec;}
.admin_left_title{font-size:18px; color:#000; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.companySelect{height:31px;}
.popup_icon16_delete{background-position:8px 6px !important; width:16px;}
.popup_icon16_print{width:16px;}
.popup_icon16_refresh{width:16px;}
.popup_icon16_search{width:16px;}
.popup_icon16_star{width:16px;}
.popup_icon16_mail{width:16px;}
.popup_icon16_mail_gray{width:16px;}
.sub_frameIcon .sub_frameIconUL{border:1px solid #c7c7c7; border-bottom:px solid #909193; float:left;}
.sub_frameIcon .sub_frameIconUL02{border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
.previewmail .previewmail_info{background:#f1f3f5;}
.previewmailDL dd.pretext .pretextUL li.preSubject .subjectText{float:left;}
.previewmailDL dd.pretext .pretextUL li.preSubject .popup_open{float:left;}
.previewmailDL dd.pretext .pretextUL li.preT_list{padding-right:0;}
.admin_menuDL .admin_menuTit{float:left;}
.bottomBtn .btnA{color:#393939; border:1px solid #c7c7c7; border-bottom:1px solid #909193; font-size:12px;}
.bottomBtn .btnA:hover{border:1px solid #0470e4;}
.switch{width:60px; height:18px;}
.slider{left:0}
.slider:before{left:8px;}
input:checked + .slider:before{transform:translateX(26px);}
.community_section01{background:url(../images/kr/community/bannerbgleft.png) #3d8fea left top no-repeat;}
.contents_tabCommunity{border-bottom:1px solid #e7e7e7; background-color:#f3f5f7;}
.contents_tabCommunity dd.btn_more{border-left:1px solid #e7e7e7;}
.contents_listCommunity li{background:url(../images/kr/community/communityPortlet_listpoint.gif) left center no-repeat; cursor:pointer;}
.contents_listCommunity li span{padding:0px 0px 0px 6px;}
.contents_listCategory{padding:14px 23px;}
.contents_listCategory li span.count{color:#ff6c00;}
.contents_categoryView{background:#f3f5f7;}
.contents_searchCategory dl dt.searchinput{width:calc(100% - 245px);}
.categoryInfo dt.sort{padding:0 6px;}
.categoryInfo dd.categoryInfo_count span.count{color:#ff6c00;}
.popup .mainlist tr{height:31px;}
.surveyConfig .surveyBttn a.imgbtn{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1);}
.surveyConfig .surveyBttn a.imgbtn span{font-weight:bold; color:#000;}
.user-listDiv{height:26px;}
.draft-survey{padding:0 5px; color:#2196f3; font-weight:bold; border:1px solid #62aaf9; border-bottom:1px solid #0470e4;}
.surveydetail-header span{border:1px solid #c7c7c7; border-bottom:1px solid #909193; padding:0 8px 2px 8px; font-size:12px;}
.headpanel{width:860px;}
.textInput:focus, .info-input-ttl:focus, .info-input-pp:focus{border:1px solid #2196f3 !important;}
.imgbtnSurvey{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1); border:1px solid #c3c3c3; height:28px;}
.imgbtnSurvey_save{border:1px solid #62aaf9; box-shadow:0px 2px 0px 0px rgba(98, 170, 249, 0.8);}
.imgbtnSurvey_save span{color:#0470e4;}
.survey_qsbtn li{widtH:52px; border-bottom:1px solid #909193;}
.survey_qsbtn li.modify, .survey_qsbtn li.save{color:#0470e4; border:1px solid #2196f3; border-bottom:1px solid #0470e4;}
.question-panel .srvyDragBtn{left:50%;}
.ranking-select >select, .dropdown-wrap select{padding:0 10px;}
.textInput:focus, .info-input-ttl:focus, .info-input-pp:focus{border-bottom:1px solid #03a9f4 !important;}
#ContextMenuDiv > .popuplist{width:170px;}
.searchFilterBtn{position:absolute; right:-50px; top:-2px;}
.layerPopup_new{width:372px; height:350px; border:1px solid #cbcbcb;}
.layerPopup_new .content_layout:nth-child(1) .content_layout_center > .content_layout{margin-bottom:5px;}
.layerPopup_new .content_layout:nth-child(1) .content_layout_center > .content_layout:first-child{margin-bottom:13px;}
.layerPopup_new .content_layout:nth-child(1) .content_layout_center > .content_layout:last-child{margin-bottom:13px;}
.layerPopup_new .content_layout:nth-child(3) .content_layout_center > .content_layout:first-child{margin-bottom:5px;}
.layerPopup_button{background:#ffffff; border-top:1px solid #E5E5E5;}
.layerPopup_button .button_style01{background-color:#3d8fea;}
.layerPopup_button .button_style03{padding:0;}
.boardItemViewPrint_cssThEn{width:500px !important; text-align:center !important}
.boardItemViewPrint_cssTdEn{width:80% !important;}
.collapse_down{margin:6px 0 0 0;}
.collapse_up{margin:6px 0 0 0;}
.searchBtn.nofilter{right:12px;}
.searchForm .text{border-right:0 !important;}
.resetBtn{line-height:0px;}
.textUser{width:31%}
