table, th, .page, .point, .box, .box2, .nobox, .leftbody, .message, .mainbody,  .listview2 td,.content td, .file td, .file2 td, .txt, .imgbtn{
    font-size:12px;
    color:#393939;
}

a{color:#393939;}
.file td input{margin:-2px 4px 0 0; vertical-align:middle;}
#mainmenu li span, #mainmenu li span.off{line-height:28px;}
.receiver_tltype01 span{font-size:13px;}
.additiontext{padding-right:1px;}
.tree_minus{margin:7px 0px 0px 0px;}
.tree_resource_standard{margin:8px 0 0 0;}
.previewmailDL dd.pretext .pretextUL li.preSubject .subjectText{float:left;}
.adminMenu_icon{margin:0 6px 0 0;}
.switch{margin-top:0px; vertical-align:middle;}
.contents_searchCategory dl dt.searchinput{width:calc(98% - 228px);}
.surveyConfig .surveyBttn a.imgbtn{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1);}
.surveyConfig .surveyBttn a.imgbtn span{font-weight:bold; color:#000;}
.surveyTbl .anoynmTh, .surveyTbl .publicTh, .surveyTbl .targetTh{width:100px;}
.headpanel .crust{width:200px;}
.headpanel .crust a.crumb{padding:0;}
.imgbtnSurvey{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1); border:1px solid #c3c3c3; height:28px;}
.quesDiv .qstnRow .dd-container .dd-options{display:none; list-style:none; overflow:auto; position:absolute; right:-1px; top: 44px; width:795px !important; z-index:2000; margin:0px 0px 0px 0px; padding:0; background:#fff; border:solid 1px #c7c7c7; border-bottom:none;}
.quesDiv .qstnRow .dd-container .dd-selected-text{font-size:13px;}
.prevQsWrapper .skipArea .skipSelect{width:135px;}
.mainmenuTabUL_left li{line-height:19px;}

/* voc#80238 [영문] 커뮤니티>게시판>공지사항>글조회>인쇄>칸 ui 수정 필요 */
.boardItemViewPrint_cssThEn{width:500px !important; text-align:center !important}
.boardItemViewPrint_cssTdEn{width:80% !important;}

/* 20230306 셀렉트 수정 */
.organMainmenu ul li.newSelect{float:left; margin:0 5px 0 0; padding:0 15px; height:34px; font-size:14px; line-height:32px; background:#fff; color:#000; border:1px solid #babec7; border-radius:3px; box-sizing:border-box; cursor:pointer; position:relative;}
.icon_sel{background-image:url(../images/arrow_iconset.png) !important; background-size:8px; display:inline-block; width:16px !important; height:16px !important; line-height:0px !important; padding:0px !important; margin:6px 0px 0px 0px; background-repeat:no-repeat; background-color:transparent !important; box-shadow:none !important; border:0px none !important; border-radius:0px !important; vertical-align:top !important; overflow:hidden;}
.collapse_down{background-position:0px -13px !important; margin:6px 0px 0px 0px; cursor:pointer;}
.collapse_up{background-position:0px 5px !important; margin:6px 0px 0px 0px; cursor:pointer;}

.organMainmenu ul.selectUL li ul.option_horizontal_list{position:absolute; left:0px; top:28px; min-width:100px; /*max-width:180px;*/ list-style:none; margin:0px; padding:0px 0px; background:#ffffff; border:1px solid #808080; border-bottom-left-radius:2px; border-bottom-right-radius:2px; box-shadow:2px 2px 10px rgb(0 0 0 / 18%); z-index:10000; display:block; height:auto !important; overflow:auto !important; max-height:200px !important; width:auto !important;}
.organMainmenu ul.selectUL li .option_horizontal_list li{float:none !important; height:28px !important; line-height:30px; margin:0px !important; padding:0px 10px !important; font-size:12px; color:#444; vertical-align:top; box-sizing:border-box; border:0px none; border-radius:0px; background:transparent; box-shadow:none; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; border:none !important;}
.organMainmenu ul.selectUL li .option_horizontal_list li:hover{background:#e2ecfa; border:0 none; color:#333333;}
#mainmenu ul.selectUL{overflow:visible; max-height:220px;}
.organMainmenu ul li.newSelect{border-radius:0px;}
.organMainmenu ul li.newSelect span{padding:0px 10px !important;}

.newSelect_div ul li p .on{display:block}
.newSelect_div ul li p .off{display:none}
/* 스크롤바 커스텀 */
.organMainmenu ul.selectUL li .option_horizontal_list::-webkit-scrollbar{width:8px;}
.organMainmenu ul.selectUL li .option_horizontal_list::-webkit-scrollbar-thumb{height:30%; background:#d9d9d9; border-radius:10px;}
.organMainmenu ul.selectUL li .option_horizontal_list::-webkit-scrollbar-track{background:#f1f1f1;}
/* //스크롤바 커스텀 */
/* //20230306 셀렉트 수정 */

/* Search 20230208 */
.searchBtn.nofilter{right:12px;}
.resLnb_tree{padding-top:20px;}
.collapse_down{margin:6px 0px 0px 0px;}
.collapse_up{margin:6px 0px 0px 0px;}
#usePer{font-size:12px;}
.mail_spaceText{font-size:12px !important;}
.inf-spanTxt input{margin-top:-3px;}
.modal{max-width:500px;}
.webfolderListBoxOT .btn_write01{line-height:1.8;}
#layer_Viewpopup .popupwrap2 .list_element th{width:100px !important;}
input#inOffice, input#retired, input#stopped{vertical-align:middle;}
.lmLetterBoxTitle>div:first-child{width:110px !important; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.lmLetterBoxTitle>input{width:130px !important; vertical-align:top; margin-top:4px;}
.searchinputBox{height:27px !important;}
#normalScreen .file .imgbtn{margin-bottom:2px !important;}
.admin_menu span{padding:4px 0px 0px 23px !important;}
#lmSearchInput{width:70% !important;}
.calendar_pagenav .spanText{margin-top:-4px;}
#ownerInput.us{width:calc(100% - 80px) !important;}
.textUser{width:22%;}


/* 메일 */
.approverSettingPopUp .searchDiv{display:flex;}
.approverSettingPopUp .searchDiv select{width:auto !important; margin-right:5px !important; padding-right:20px !important;}
.approverSettingPopUp .searchDiv .searchInputDiv{flex:1;}

.apprRejectPopUp > p{margin-top:0; color:#333;}

.mailWrite .noti_txt{letter-spacing:-0.4px;}

.searchinputBox{width: 250px !important;}

/* 투표 */
.voteInfoDiv ul{width:250px !important;}
.voteIconImg_li_info{width:100% !important;}

/* 환경설정 */
.taskConfig .content{width:300px !important;}
.pmsSetting .content{width:500px !important;}


/* 관리자 */
.admin_pms_left .left_admin{height:auto; line-height:1.5; padding:12px 0 12px 15px;}
.admin_pms_left #left .project_admin{padding-left:15px;}

.statistics_wrap .statistics .graph_box .graph .display .num{margin-left: -5px;}
.payment_form_list ul.info.nodata{margin: 0 0}
.statistics_wrap .statistics .graph_box .txt { min-width: 105px; margin-right: 10px; padding:0px }
.statistics_wrap .statistics .graph_box .graph ul { padding: 0PX }