input, label, textarea, select, ul, li, h1, h2, table, th, .page, .point, .box, .box2, .nobox, .leftbody, .message, .mainbody,  .listview2 td,.content td, .file td, .file2 td, .txt, .imgbtn{font-family:'arial', 'arial', 'arial'; font-size:12px; color:#393939;}
p, strong, h3, div{font-family:'arial', 'arial', 'arial';}
a{font-family:'arial', 'arial', 'arial'; color:#393939;}
span{font-size:12px; font-family:'arial', 'arial', 'arial';}
select{min-height:20px;}
table, th, td{font-family:'arial', 'arial', 'arial';}
th{color:#777;}
.imgbtn span{height:20px; font-size:12px; line-height:20px;}
.btn, .btnposition input{font-family:'arial', 'arial', 'arial';}
.btnpositionNew{border-top:1px solid #eee;}
.btnpositionNew a.imgbtn, .btnpositionLayer a.imgbtn, .btnpositionJsp a.imgbtn{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1); border:1px solid #c3c3c3;}
.btnpositionNew a.imgbtn span, .btnpositionLayer a.imgbtn span, .btnpositionJsp a.imgbtn span{font-weight:bold; color:#000;}
.popup .pos2, .mainbody .pos2{padding:0 2px;}
#left h3{padding:0 0 0 40px; background:url('/images/kr/left/icon_setup.gif') no-repeat 20px 9px; height:33px; line-height:33px;}
.left_pims{height:51px; background:#0470e4;}
.left_pims span{background:url(/images/kr/left/left_schedule.png) no-repeat left center; display:inline-block; height:50px; line-height:48px; font-weight:normal; color:#fff; padding:0px 0px 0px 33px; text-align:center; font-family:arial; font-size:20px;}
.left_board span{text-align:center; font-family:arial; font-size:20px;}
.left_appr span{text-align:center; font-family:arial; font-size:20px;}
.left_resource span{text-align:center; font-family:arial; font-size:20px;}
.left_cop span{text-align:center; font-family:arial; font-size:20px;}
.left_webfolder span{text-align:center; font-family:arial; font-size:20px;}
.left_env span{text-align:center; font-family:arial; font-size:20px;}
.left_circular span{text-align:center; font-family:arial; font-size:20px;}
#mainmenu li, #mainmenu li.off{border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
#mainmenu li span, #mainmenu li span.off{padding:0 4px; font-size:12px; line-height:28px;}
#mainmenu li span.icon16{margin-left:4px;}
#menu span{border:1px solid #c7c7c7; border-bottom:1px solid #909193; padding:0 8px 2px; color:#393939;}
.popup h2{color:#666; font-size:12px;}
.content td, .file td, .file2 td, .popuplist td{padding:0 2px; border:1px solid #d2d2d2;}
.left_admin{font-size:17px; color:rgb(93,93,93); height:51px; background:url('/images/kr/cm/bg_main.gif') repeat-x;}
.mainlist tr{height:34px}
.mainlist tr th{border-top:1px solid #e2e3e6; border-bottom:1px solid #e2e3e6; background-color:#f1f3f5;}
.mainlist tr td{font-size:12px; color:#5b5a5a;}
.mainlist_free tr th{border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; background-color:#f8f8fa;}
.mainlist_free tr td{font-size:12px; color:#5b5a5a; padding:4px;}
.list_element td{text-align:left;}
.pagenavi span:hover, .pagenavi span.on, .pageGo .pageGoBtn:hover{border:1px solid #017bec; background:#0684f9;}
.popup_noti_title{background:#1990ff;}
.popup_noti_content{background:#1990ff;}
.popup_noti_content table .ctxt{word-break:break-word; height:90px; padding-top:31px;}
.popup_noti_btnarea .btn, .btnposition input{border:1px solid #bbbbbb; font-weight:bold; box-shadow:0px 1px 0px 0px rgba(0,0,0,0.25);}
.popup_noti_btnarea .btn, .btnposition input:hover{color:#7a7a7a;}
.popup_noti_btnarea{background-color:#fff; height:46px;}
.guidemenu .on{color:#000;}
.popup_mainlist tr th{color:#777;}
#left .list_thumbnail{background:#e4e8ec;}
#left .list_thumbnail li{border-bottom:1px solid #cdd2d9;}
.todayComm{color:#000;}
.receiver_tltype01{padding:0px 0px 0px 15px !important; line-height:28px; border-bottom:1px solid #999;}
.receiver_tltype01 span{font-size:12px; color:#333;}
.receiver_tltype02{padding:0px 0px 0px 15px!important; border-bottom:1px solid #9a9a9a;}
.receiver_tltype02 span{font-size:12px; color:#333;}
.receiver_borderbox{border:1px solid #ddd;}
.receiver_list td{font-size:12px; color:#5b5a5a; padding:4px 4px;}
.sublist tr td{color:#5b5a5a;}
#Preview_HeaderH, #Preview_HeaderW{background-color:#f1f3f5;}
.volumeDL dt{color:#000;}
.tree_minus{margin:7px 0 0 0;}
.tree_tree{background-position:0px -208px;}
.tree_mail{background-position:-26px 0px; width:16px; height:16px;}
.tree_outmail{background-position:-52px 0px; width:16px; height:16px;}
.tree_manage{background-position:-312px 0px; width:16px; height:16px;}
.tree_outbox{background-position:-78px 0px; width:16px; height:16px;}
.tree_delete{background-position:-104px 0px; width:16px; height:16px;}
.tree_folder{background-position:0px -208px; width:16px; height:16px;}
.tree_individual{background-position:-130px 0px; width:16px; height:16px;}
.tree_junk{background-position:-156px 0px; width:16px; height:16px;}
.tree_appr{background-position:-26px -26px; width:16px; height:16px;}
.tree_appr_ing{background-position:-52px -26px; width:16px; height:16px;}
.tree_appr_write{background-position:-78px -26px; width:16px; height:16px;}
.tree_appr_complete{background-position:-104px -26px; width:16px; height:16px;}
.tree_appr_turn{background-position:-130px -26px; width:16px; height:16px;}
.tree_appr_department{background-position:-156px -26px; width:16px; height:16px;}
.tree_appr_receive{background-position:-182px -26px; width:16px; height:16px;}
.workIcon{margin:0 0 0 10px;}
.mail_space{height:39px; line-height:39px; bottom:0; width:220px;}
.mail_space .mail_spaceText{color:#fff; padding:0 0 0 20px;}
.mail_space .mailBar{height:39px;}
.newLeft{background-color:#e4e8ec;}
.companySelect{height:31px;}
.popup_icon16_delete{background-position:8px 6px; width:16px;}
.popup_icon16_print{width:16px;}
.popup_icon16_refresh{width:16px;}
.popup_icon16_search{width:16px;}
.popup_icon16_star{width:16px;}
.popup_icon16_mail{width:16px;}
.popup_icon16_mail_gray{width:16px;}
.sub_frameIcon .sub_frameIconUL{border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
.sub_frameIcon .sub_frameIconUL02{border:1px solid #c7c7c7; border-bottom:1px solid #909193;}
.previewmail .previewmail_info{background:#f1f3f5;}
.previewmailDL dd.pretext .pretextUL li.preSubject .subjectText{float:left;}
.previewmailDL dd.pretext .pretextUL li.preSubject .popup_open{float:left;}
.mainmenuTab .mainmenuTabUL li span{font-weight:bold; color:#777; background:#e4e7ea; border:1px solid #e4e7ea;}
.mainmenuTab .mainmenuTabUL li:hover span{background:#3d8fea; color:#fff;}
.mainmenuTab .mainmenuTabUL li.on span{background:#3d8fea; color:#fff; border:1px solid #3d8fea;}
.admin_menuDL .admin_menuTit{float:left;}
.bottomBtn .btnA{color:#393939; border:1px solid #c7c7c7; border-bottom:1px solid #909193; font-size:12px;}
.bottomBtn .btnA:hover{border:1px solid #0470e4;}
.switch{width:60px; height:18px;}
.slider{left:0;}
.slider:before{left:8px;}
input:checked + .slider:before{transform:translateX(26px);}
.community_section01{background:url(../images/kr/community/bannerbgleft.png) #3d8fea left top no-repeat;}
.contents_tabCommunity{border-bottom:1px solid #e7e7e7; background-color:#f3f5f7;}
.contents_tabCommunity dd.btn_more{border-left:1px solid #e7e7e7;}
.contents_listCommunity li{background:url(../images/kr/community/communityPortlet_listpoint.gif) left center no-repeat;}
.contents_listCommunity li span{padding:0px 0px 0px 6px;}
.contents_listCategory{padding:14px 23px;}
.contents_listCategory li{padding:0;}
.contents_listCategory li span.count{color:#ff6c00;}
.contents_categoryView{background:#f3f5f7;}
.contents_searchCategory dl dt.searchinput{width:calc(100% - 245px);}
.categoryBox{border:1px solid #e2e3e6;}
.categoryInfo dt.sort{padding:0 6px;}
.categoryInfo dd.categoryInfo_count span.count{color:#ff6c00;}
.popup .mainlist tr{height:31px;}
.prevHeaderW{border-top:1px solid #ddd;}
.draft-survey{color:#2196f3; border:1px solid #62aaf9; border-bottom:1px solid #0470e4;}
.surveydetail-header span{border:1px solid #c7c7c7; border:1px solid #909193; padding:0px 8px 2px 8px;}
.headpanel{width:860px;}
.textInput:focus, .info-input-ttl:focus, .info-input-pp:focus{border:1px solid #2196f3 !important;}
.imgbtnSurvey{box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.1); border:1px solid #c3c3c3; height:28px;}
.imgbtnSurvey span{color:#000;}
.imgbtnSurvey_save{border:1px solid #62aaf9; box-shadow:0px 2px 0px 0px rgba(98, 170, 249, 0.8);}
.imgbtnSurvey_save span{color:#0470e4;}
.survey_qsbtn li.modify, .survey_qsbtn li.save{color:#0470e4; border:1px solid #2196f3; border-bottom:1px solid #0470e4;}
.question-panel .srvyDragBtn{left:50%;}
.question-header{padding:10px 0;}
.ranking-select >select, .dropdown-wrap select{padding:0 10px;}
.textInput:focus, .info-input-ttl:focus, .info-input-pp:focus{border-bottom:1px solid #03a9f4 !important;}
.searchBtn{position:absolute; right:-19px; top:-2px;}
.searchinputBox{width:135px;}
.mainmenuTabUL_left li  .tree_resource_no, .mainmenuTabUL_left li  .tree_resource_ok, .mainmenuTabUL_left li  .tree_resource_refuse{margin:0;}
#ContextMenuDiv > .popuplist{width:170px;}
.searchFilterBtn{position:absolute; right:-50px; top:-2px;}
.layerPopup_new{right:-48px;}
.layerPopup_new .content_layout:nth-child(1) .content_layout_center > .content_layout{margin-bottom:5px;}
.layerPopup_new .content_layout:nth-child(1) .content_layout_center > .content_layout:first-child{margin-bottom:13px;}
.layerPopup_new .content_layout:nth-child(1) .content_layout_center > .content_layout:last-child{margin-bottom:13px;}
.layerPopup_new .content_layout:nth-child(3) .content_layout_center > .content_layout:first-child{margin-bottom:5px;}
.searchBtn.nofilter{right:12px;}
.searchForm .text{border-right:0 !important;}
.lnbUL li .list_text2{padding-left:23px; text-overflow:ellipsis; overflow:hidden; white-space:pre}
.resetBtn{line-height:0px;}
.textUser{width:22%}

.statistics_wrap .statistics .graph_box .graph .display .num{margin-left: -5px;}
.payment_template .right_box li .template_box .conts_box .document_list ul.info .cont.no-data .txt {left: 45%;}
.payment_form_list ul .cont.no-data .txt{left: 45%;}
.payment_template .left_box .template_box .conts_box .document_list ul .cont.no-data .txt{left: 45%;}
.payment_form_list ul.info.nodata{margin: 0 0}
.statistics_wrap .statistics .graph_box .txt { min-width: 105px; margin-right: 10px; padding:0px; }
.statistics_wrap .statistics .graph_box .graph ul { padding: 0PX }