.node_normal
{
    height:15px;
    color:#555;
    /*padding-top:3px;*/
    font-family:Gulim;
    font-size:9pt;
    vertical-align:top;
    cursor:pointer;
    background-image:none;
    background-attachment:scroll;
    background-repeat:repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-color:Transparent; 
    line-height:16px;
}
.node_selected
{    
    height: 15px;
    color: #333;
    /*padding-top:3px;*/
    font-family:Gulim;
    font-size: 9pt;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
    background-image: none;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-color: transparent;
    line-height:16px;
}
.node_hover
{
    height: 15px;
    color: #333;
    /*padding-top:3px;*/
    font-family:Gulim;
    font-size: 9pt;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
    background-image: none;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-color: transparent;
    line-height:16px;
}