/* 노토산스 font */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(/css/fonts/NotoSansKr/woff/NotoSansKR-Thin.woff) format('woff'),
	  url(/css/fonts/NotoSansKr/otf/NotoSansKR-Thin.otf) format('opentype');
  }
  @font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(/css/fonts/NotoSansKr/woff/NotoSansKR-Light.woff) format('woff'),
	  url(/css/fonts/NotoSansKr/otf/NotoSansKR-Light.otf) format('opentype');
  }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 400;
	 src: url(/css/fonts/NotoSansKr/woff/NotoSansKR-Regular.woff) format('woff'),
	  url(/css/fonts/NotoSansKr/otf/NotoSansKR-Regular.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 500;
	 src: url(/css/fonts/NotoSansKr/woff/NotoSansKR-Medium.woff) format('woff'),
	  url(/css/fonts/NotoSansKr/otf/NotoSansKR-Medium.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 700;
	 src: url(/css/fonts/NotoSansKr/woff/NotoSansKR-Bold.woff) format('woff'),
	  url(/css/fonts/NotoSansKr/otf/NotoSansKR-Bold.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 900;
	 src: url(/css/fonts/NotoSansKr/woff/NotoSansKR-Black.woff) format('woff'),
	  url(/css/fonts/NotoSansKr/otf/NotoSansKR-Black.otf) format('opentype');
   }

.node_div { line-height:10px !important;}

.node_normal
{
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    color: #333;
    display: inline-block;
    padding: 0px 0px 0px 3px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    width: 76%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}
.node_selected
{
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    color: #0470E4;
    display: inline-block;
    padding: 0px 0px 0px 3px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    width: 76%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: underline !important;
}
.node_normal:hover
{
    color:#0470E4 !important; 
    font-weight:bold;
} 

