@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

.node_div { line-height:10px !important;}

.node_normal
{
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    color: #333;
    display: inline-block;
    padding: 0px 0px 0px 3px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    width: 76%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}
.node_selected
{
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    color: #0470E4;
    display: inline-block;
    padding: 0px 0px 0px 3px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    width: 76%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: underline !important;
}
.node_normal:hover
{
    color:#0470E4 !important; 
    font-weight:bold;
} 

