@charset "utf-8";
/* CSS Document */

* { position:relative;}
html { height:100%; }
body {height:100%; margin:0;}
input,button { margin:0; outline:none; color:#4f5964; font-family:Malgun Gothic,"맑은 고딕", Arial, sans-serif  !important; }
img { border:0 none; vertical-align:top; }
hr,caption,legend  { display:none; }
address { font-style:normal; }
article,aside,canvas,details,footer,header,hgroup,menu,nav,section,summary,address {  display:block; }

.login_body { margin: 0px; padding: 0px; height: 100%; background: url(/images/kr/login/login_layout_bg.png) #c2cacd repeat-x bottom center; z-index: 10; }
.login_wrapper{width:100%; height:100%; min-height:600px; overflow:hidden;}
.login_layout { position: absolute; top: 50%; left: 50%; width: 500px; height: 540px; margin: -300px 0px 0px -250px; padding: 0px; }


.login_form { width: 500px; height: 540px; padding: 0px; background: #FFF; border-radius: 14px; -webkit-border-radius: 14px; -moz-border-radius: 14px; box-shadow: 0px 0px 10px rgba(132,146,153,0.75); font-family: Malgun Gothic,"맑은 고딕", Arial, sans-serif; z-index:10;}
.login_form .title{width:173px; height:66px; margin:62px auto 30px; padding:0;}

.login_form form { width: 340px; margin: 0px auto 24px; padding: 0 }
.login_form form fieldset {margin:0; padding:0; border:0; clear:both;}
.login_form legend {visibility:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0}

.txt_form{width:220px; float:left;}

.logo{width:288px; height:38px; margin:70px auto 56px; text-align:center;}
.id { width: 306px; height: 55px; margin: 0px auto 15px auto; padding: 0px 0px 0px 0px; background: url(/images/kr/login/input_bg_id.png) #96a4aa 14px center no-repeat; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.pw { width: 306px; height: 55px; margin: 0px auto 15px auto; padding: 0px 0px 0px 0px; background: url(/images/kr/login/input_bg_pw.png) #96a4aa 14px center no-repeat; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.btn_login  { margin:0px; padding:0px; }
.login_form .btn_login { display: block; width: 306px; height: 65px; line-height: 65px; margin: 0px auto 0px auto; padding: 0px 0px 0px 0px; background: #1543a9; text-align: center; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; box-sizing: border-box; cursor: pointer; font-size: 24px; color: #fff; }
.login_form .btn_login:hover { background: #0e2e74; }
.login_form .btn_login:active { background: #0e2e74; }

#uid { background: url(/images/kr/login/txt_id.gif) no-repeat 0px 20px; width: 215px; height: 54px; margin: 0px 0px 0px 55px; padding: 0px 5px 0px 5px; color: #ffffff; font-size: 18px; border: 0px solid #fff; border-radius: 0px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
#upw { background: url(/images/kr/login/txt_pw.gif) no-repeat 0px 20px; width: 215px; height: 54px; margin: 0px 0px 0px 55px; padding: 0px 5px 0px 5px; color: #ffffff; font-size: 18px; border: 0px solid #fff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }

.input_text.focus,
.input_text.focusnot { background: #96a4aa !important; }

.saveid { margin: 0px 18px 20px 34px; padding: 0px; }
.saveid input[type="checkbox"] {display:none;}
.saveid input[type="checkbox"] + label {display:inline-block; color:#595757; font-size:16px; cursor:pointer; vertical-align:top;}
.saveid input[type="checkbox"] + label span {display:inline-block;width:27px;height:28px;margin:-5px 10px 0 0;vertical-align:middle;background:url(/images/kr/login/bg_check.png) left top no-repeat;cursor:pointer;}
.saveid input[type="checkbox"]:checked + label span {background:url(/images/kr/login/bg_check.png) -34px top no-repeat;}

.address {padding-top:55px; color: #aaaaaa; font-size: 12px; text-align:center;}

.login_formBg { position: absolute; left: 50%; top: 50%; width: 900px; height: 815px; margin: -274px 0px 0px -250px; background: url(/images/kr/login/bg_loginform.png) no-repeat left top; overflow: hidden; z-index: 1; }

footer{font-size:14px; color:#c3c3c3; display: none; }
footer p{margin:18px 0px 0px 0px; padding:0px; text-align:center;}