@charset "utf-8";
/* CSS Document */

/* base */
* { position:relative;}
html { height:100%; }
body {height:100%; margin:0; }
input,button { margin:0; outline:none; color:#4f5964; font-family:"굴림", Gullim,"돋움", Dotum, verdana, Arial, sans-serif; }
img { border:0 none; vertical-align:top; }
hr,caption,legend  { display:none; }
address { font-style:normal; }
article,aside,canvas,details,footer,header,hgroup,menu,nav,section,summary,address { 
    display:block;
 }
 
.login_body {background:url(/images/kr/login/body_bg1.gif) repeat-x top;}
.login_warpper {position:absolute; top:50%; width:100%;height:556px;margin:-278px 0 0 0px; background:url(/images/kr/login/body_bg2.gif) repeat-x;}
.login_layout {width:810px; height:556px; margin:0 auto; clear:both; vertical-align:top;}
.login_layout .set1,.set2{ clear:both; overflow:hidden; display: block;}
.login_flash { width:464px; height:309px; float:left;}

.login_logo {float:left; margin-top:38px;}
.login_banner { float:right; margin-top:38px; width:371px; height:81px; background:url(/images/kr/login/bannerbg.gif) no-repeat;}
.login_banner dl { float:left; margin:0px 2px 0px 30px; padding:0px;}
.login_banner dl dt { margin:0px 0px 0px 0px; padding:0px; height:0px; vertical-align:top;}
.login_banner dl dd {margin:18px 0px 0px 0px; padding:0px; cursor:pointer;} 

.login_form { float:right; width:336px; right:10px; margin:119px 0px 0px 0px; font-family:"굴림", Gullim,"돋움", Dotum, verdana, Arial, sans-serif;}
.login_form .title { margin:0px 0px 13px 0px; padding:0px; }
.login_form form {margin:0;padding:0}
.login_form form fieldset {margin:0;padding:0;border:0; clear:both;}
.login_form legend {visibility:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.id{padding:8px 0 0 26px; background:url(/images/kr/login/id_bg.gif) no-repeat left top; width:220px; height:36px; margin:0px;}
.pw{padding:8px 0 0 26px;background:url(/images/kr/login/pw_bg.gif) no-repeat left top; width:220px; height:36px;margin:0px;}
#TextUserID {background:#fff url(/images/kr/login/id_txt.gif) no-repeat 0 0 ;width:206px; height:22px;border:0px solid #fff;padding:2px 0px 0px 4px; line-height:21px; color:#333333; font-size:13px;}
#TextPassword {background:#fff url(/images/kr/login/pw_txt.gif) no-repeat 0 0 ;width:206px; height:22px;border:0px solid #fff;padding:2px 0px 0px 4px;line-height:21px;color:#333333; font-size:13px;}
.input_text.focus,
.input_text.focusnot { background:#fff !important;}
.saveid { width:100px;padding:0px ; margin:0px; color:#FFF; font-size:12px;}
.saveid input{vertical-align:middle;*vertical-align:top; margin:-4px 0px 0 0;*margin:-5px 0px 0 0;}
.btn_login { position:absolute; top:0px; right:0px;width:86px; height:81px;}


address {background:url(/images/kr/login/bottom.gif) right no-repeat; height:127px; vertical-align:top;}
address span { position:absolute; left:288px;  top:98px;font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#777777; }


