body, h1{margin:0;padding:0}
a,input, textarea, select, h1, h2, ul, li, .page, table, th, .txt, .point, .box, .leftbody, .message, .nobox, .mainbody, div, .notice, username{
	font-size:9pt;
	font-family: 'arial', 'verdana', 'dotum';
	color: #434343;
	text-decoration: none;
}

form{margin:0}
.tbody{padding:0; margin-left:5px; margin-right:5px; margin-top:0;}
.search{width:130px}
.username{
	color: #5271A1;margin:0;
	word-break:keep-all;
	vertical-align:top;
	font:8pt verdana dotum;
	padding:22px 0 0 20px;
}
.username_EIP {font: 9pt dotum, arial;
	color: #5271A1;
	text-decoration: none;
	word-break:keep-all;
	padding:0 0 0 20px;
}
.search{
	height:20px;color:#8D8D8D;
	background-color:#FFFFFF;
	border: 1px solid #99B5CE;
	margin-left: 1px;
	margin-right: 3px;
}
.menu_txt{
	font-family: arial, verdana, dotum;
	font-size:9pt;
	white-space: nowrap;
	font-weight: bold;
	color: #D7F2FF;
	vertical-align: middle;
	text-align: center;
    background-image:url(/images/main/pbar.gif);
	background-position:left;
	background-repeat:no-repeat;
	}
.submenu{
	font: 9pt arial, Verdana, dotum;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	padding: 3px 6px;
	height:24px;
	background-image:none;
}
.logo{
	background:url(/images/top/logo.gif) no-repeat left center;
	margin-left:20px;
	padding-left:120px;
	width:360px;
	height:35px;
	float:left;
	vertical-align:middle
}
.tleft{background:url(/images/main/topbar_left.gif) no-repeat top left;width:100px;
white-space:nowrap}
.tright{background:url(/images/main/topbar_right.gif) right top no-repeat; width:15px;white-space:nowrap}
.tback{background-image:url(/images/main/topbar_bg.gif); 
	width:100%;padding:0;margin:0;border:none}
.menu{width:700px}
.t_home{background:url(/images_en/main/menu01.gif) left top;width:77px;height:34px;cursor:pointer;white-space:nowrap; empty-cells:show}
.t_mail{background:url(/images_en/main/menu02.gif) no-repeat top left;width:81px;height:34px;cursor:pointer}
.t_pims{background:url(/images_en/main/menu03.gif) no-repeat;width:70px;height:34px;cursor:pointer}
.t_approval{background:url(/images_en/main/menu05.gif) no-repeat;width:102px;height:34px;cursor:pointer}
.t_approvalG{background:url(/images_en/main/menu13.gif) no-repeat;width:94px;height:34px;cursor:pointer}
.t_board{background:url(/images_en/main/menu04.gif) no-repeat;width:83px;height:34px;cursor:pointer}
.t_cop{background:url(/images_en/main/menu06.gif) no-repeat;width:63px;height:34px;cursor:pointer}
.t_kms{background:url(/images_en/main/menu09.gif) no-repeat;width:60px;height:34px;cursor:pointer}
.t_dms{background:url(/images_en/main/menu10.gif) no-repeat;width:60px;height:34px;cursor:pointer}
.t_resource{background:url(/images_en/main/menu07.gif) no-repeat;width:103px;height:34px;cursor:pointer}
.t_webdisk{background:url(/images_en/main/menu10.gif) no-repeat;width:89px;height:34px;cursor:pointer}
.t_ezProcess{background:url(/images_en/main/menu11.gif) no-repeat;width:75px;height:34px;cursor:pointer}
.t_bpm{background:url(/images_en/main/menu08.gif) no-repeat;width:60px;height:34px;cursor:pointer}
.t_memo{background:url(/images_en/main/menu14.gif) no-repeat;width:59px;height:34px;cursor:pointer}
.t_report{background:url(/images_en/main/menu21.gif) no-repeat;width:77px;height:34px;cursor:pointer}
.t_time{background:url(/images_en/main/menu22.gif) no-repeat;width:77px;height:34px;cursor:pointer}

.t_home_o{background:url(/images_en/main/menu01o.gif) left top;width:77px;height:34px;cursor:pointer;white-space:nowrap; empty-cells:show}
.t_mail_o{background:url(/images_en/main/menu02o.gif) no-repeat top left;width:81px;height:34px;cursor:pointer}
.t_pims_o{background:url(/images_en/main/menu03o.gif) no-repeat;width:70px;height:34px;cursor:pointer}
.t_approval_o{background:url(/images_en/main/menu05o.gif) no-repeat;width:102px;height:34px;cursor:pointer}
.t_approvalG_o{background:url(/images_en/main/menu13o.gif) no-repeat;width:94px;height:34px;cursor:pointer}
.t_board_o{background:url(/images_en/main/menu04o.gif) no-repeat;width:83px;height:34px;cursor:pointer}
.t_cop_o{background:url(/images_en/main/menu06o.gif) no-repeat;width:63px;height:34px;cursor:pointer}
.t_kms_o{background:url(/images_en/main/menu09o.gif) no-repeat;width:60px;height:34px;cursor:pointer}
.t_dms_o{background:url(/images_en/main/menu10o.gif) no-repeat;width:60px;height:34px;cursor:pointer}
.t_resource_o{background:url(/images_en/main/menu07o.gif) no-repeat;width:103px;height:34px;cursor:pointer}
.t_webdisk_o{background:url(/images_en/main/menu10o.gif) no-repeat;width:89px;height:34px;cursor:pointer}
.t_ezProcess_o{background:url(/images_en/main/menu11o.gif) no-repeat;width:75px;height:34px;cursor:pointer}
.t_bpm_o{background:url(/images_en/main/menu08o.gif) no-repeat;width:60px;height:34px;cursor:pointer}
.t_memo_o{background:url(/images_en/main/menu14o.gif) no-repeat;width:59px;height:34px;cursor:pointer}
.t_report_o{background:url(/images_en/main/menu21o.gif) no-repeat;width:77px;height:34px;cursor:pointer}
.t_time_o{background:url(/images_en/main/menu22o.gif) no-repeat;width:77px;height:34px;cursor:pointer}

.util{word-break:keep-all;width:450px;text-align:right;margin-top:5px;padding-right:20px;float:right;height:35px}
.u_admin{background:url(/images_en/main/u_admin.gif) no-repeat;width:71px; height:12px; cursor:pointer}
.u_config{background:url(/images_en/main/u_config.gif) no-repeat;width:54px; height:12px; cursor:pointer}
.u_member{background:url(/images_en/main/u_member.gif) no-repeat;width:88px; height:12px; cursor:pointer}
.u_connect{background:url(/images_en/main/u_connect.gif) no-repeat;width:91px; height:12px; cursor:pointer}
.u_sitemap{background:url(/images_en/main/u_sitemap.gif) no-repeat;width:47px; height:12px; cursor:pointer}
.u_help{background:url(/images_en/main/u_help.gif) no-repeat;width:31px; height:12px; cursor:pointer}
.u_logout{background:url(/images_en/main/u_logout.gif) no-repeat;width:39px; height:12px; cursor:pointer}

.admin_top{margin:0}
.admin_top h1{
	background:url(/images/admin/top_admin.gif) no-repeat;
	width:177px;
	height:29px;}
#adminmenu{
	clear: both;
	margin: 0; 
	padding:0;
	background:url(/images/admin/top_bg.gif)}
#adminmenu ul{
	display:inline;
	height:30px;
	margin:0 0 0 5px}
#adminmenu li, #adminmenu li.off{
	display:inline;
	margin-right:2px;
	background:url('/images/admin/top_bar.gif') no-repeat top right;
	height:30px;
	padding-left:6px;
	vertical-align:middle;
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	word-break:keep-all;
	white-space:nowrap
}
#adminmenu li span, #adminmenu li span.off{
	height:30px;
	padding-right:10px;
	padding-top:4px;
}
#adminmenu li.on span{background:url('/images/admin/top_select.gif') no-repeat bottom center;}
.adminsub{background-color:#f5f5f5;height:25px}

.personal{width:157px;background-image:url(/images/main/personal_bg.gif);margin-left:5px}
.time{background:url(/images_en/main/personal_top.gif);FONT-SIZE: 8pt; color: #DCEEF7; font-family: Verdana;font-weight:bold;height:26px;padding-top:35px;padding-bottom:5px; text-align:center; }
.personal ul{margin:5px 0 0 10px;width:137px}
.personal ul li{list-style:none;text-align:right;font-size:8pt;font-family:verdana;font-weight:bold; cursor:pointer;background-repeat:no-repeat;background-position:center;height:19px;margin-bottom:0;padding:0}
.personal ul li.mail{background-image:url(/images_en/main/p_mail.gif);border-bottom:1px solid #9eb9de}
.personal ul li.schedule{background-image:url(/images_en/main/p_schedule.gif);border-bottom:1px solid #9eb9de}
.personal ul li.appr{background-image:url(/images_en/main/p_appr.gif);border-bottom:1px solid #9eb9de}
.personal ul li.poll{background-image:url(/images_en/main/p_poll.gif);border-bottom:1px solid #9eb9de}
.personal ul li.memo{background-image:url(/images_en/main/p_memo.gif);border-bottom:1px solid #9eb9de}
.personal ul li.count{margin-left:100px;margin-top:-19px;padding-right:5px;}
.personal .p_bottom{background-image:url(/images/main/personal_bottom.gif);margin:0px;padding:4px; }

.my_kms h1{background:url(/images_en/main/my_knowledge.gif) no-repeat;width:157px;height:22px; margin:0;margin-left:5px;}
.my_kms ul{
	margin:0;
	margin-top:1px;
	height:50px;
	background:url(/images_en/main/my_knowledge2.gif) left top;
	width:157px;margin-left:5px}
.my_kms ul li{margin:0;text-align:right;vertical-align:bottom; list-style:none;padding-top:33px;width:75px;font-weight:bold}
.my_kms li.mil{margin-top:-47px; margin-left:80px}

.calendar{border:1px solid #B2CBF3;margin-left:5px;width:157px;height:200px;text-align:center;padding:2px 0;}
.calctrlleftNavButton, .calctrlRightNavButton, .calctrlMonthDisplayName{background-color:#e4eefd}
.calctrlTitle{border-bottom:1px solid #e4eefd;}
.calctrlMonthDisplayName{color:#5874a0}
.leftyearbutton, .leftyearbutton, .leftNavButton,.rightNavButton,.rightYearButton{width:13px;height:13px; background-repeat:no-repeat;margin:1px;cursor:pointer}
.leftyearbutton{background-image:url(/images/main/maincalendar_pprev.jpg);}
.leftNavButton{background-image:url(/images/main/maincalendar_prev.jpg);}
.rightNavButton{background-image:url(/images/main/maincalendar_next.jpg)}
.rightYearButton{background-image:url(/images/main/maincalendar_nnext.jpg); }


.quicklink {
text-align:center;
	width: 155px;
	border: 1px solid #D5DADE;
	background-color: #F0F0F2;
	margin-left:5px;
	padding:0 0 4px;
}
.quicklink h1{
	background:url(/images_en/main/quickmenu_title.gif) no-repeat;
	width:155px; height:20px; margin:0 0 2px;}
.quicklink select, .quicklink span{
	width:140px;
	margin:1px 0;
	font:9pt arial;
}
.adddel{background:url(/images_en/main/btn_adddel.gif) no-repeat center; height:22px; cursor:pointer}


.knowledge_box, .banner, .poll_box, .best{margin-left:10px;width:156px; table-layout:fixed}
.poll_box {font:9pt, arial;
border:1px solid #bbd2f3;padding:3px;background-colr:#f4f8fe}
.poll_box h1{background:url('/images_en/main/poll_title.gif') no-repeat left top #f4f8fe;height:27px;}
.poll_box .question{background:url(/images/main/poll_q.gif) no-repeat #fff 3px left top;padding-left:35px;margin-top:2px;height:35px;word-break:break-all}
.poll_box .qlist{color:666666;background-color:#FFFFFF;word-break:break-all}
.poll_box .button{text-align:center;background-color:#FFFFFF;margin:5px  0}
.btn_vote, .btn_vote_view, .btn_result{
	background-repeat:no-repeat;
	height:18px;
	cursor:pointer;
	margin:1px;
}
.btn_vote{
	background:url(/images_en/main/btn_vote.gif);
	width:59px; 
}
.btn_vote_view{
	background:url(/images_en/main/btn_vote_view.gif);
	width:68px;
}
.btn_result{
	background:url(/images_en/main/btn_result.gif);
	width:71px;
}


.best, .best img{border:1px solid #D5DADE; width:156px;padding:2px 0}
.best img{margin:2px;width:42px}
.best_sawon{
	background:url(/images_en/main/people1_title.gif) no-repeat;
	height:20px;
	
	}
.best_kms{
	background:url(/images_en/main/people2_title.gif) no-repeat;
	height:20px;
}
.interview{
	background:url(/images_en/main/bt_interview.gif) no-repeat;
	width:93px;
	height:11px;
	cursor:pointer;	
}
.knowledge_name{
	height:22px;
	padding:5px 2px 0;
	color:#666666
}

.notice{margin-top:5px;width:334px;}
.notice h1{
	background:url('/images/main/notice_title.gif') no-repeat left top;
	height:23px;margin:0;}
.noticelist{
	width:300px;
	overflow:hidden;text-overflow:ellipsis;
	cursor:pointer;
	padding-left:15px;
	height:18px;
	background:url(/images/main/portlet_dot01.gif) no-repeat 5px 5px;}
	
#divWebpart{margin-top:10px;clear:both}
#leftwebpart{width:265px;}
#rightwebpart{width:320px}
#centerwebpart{width:20px}
#leftwebpart iframe, #rightwebpart iframe{height:140px}
.mypicture {
	height: 255px;
	width: 267px;
	float:left;
	margin-right: 10px;
	margin-bottom:10px;
	background:url(/images/main/main.jpg) no-repeat;
}

.portlet_mail{float:right;width:334px;}
.portlet, .portletlist, .portlet table td{font:x-small, arial;margin:0;padding:0}
.portlet table{padding:0;margin:0;border-collapse:collapse}
.portlet h1{
	float:left;
	background:url(/images/main/portlet_dot.gif) no-repeat left center 0px;
	font-weight:bold;
	padding-left:17px;
	}
.more{
	background:url(/images/main/portlet_more.gif) no-repeat right;
	margin-top:-15px;
	margin-bottom:8px;
	cursor:pointer;
	border-bottom:2px solid #e7e7e7;
	float:right;
	width:100%;
	font:x-small;
}
.portletlist{
	clear:both;
	background:url(/images/main/portlet_dot01.gif) no-repeat 5px 5px;
	padding-left:10px;
	height:18px;
	overflow:hidden;text-overflow:ellipsis;
	width:270px;

}	
.mailgun{font:x-small, arial;margin-top:10px;margin-left:110px;margin-bottom:0px;width:120px; float:left}
.mailportlet .graph{float:right;margin-right:10px;margin-bottom:18px;margin-top:-25px}
.mailportlet{background:url(/images_en/main/mail.jpg) no-repeat;width:335px;height:144px;padding:0;margin-top:7px }
.mailportlet h1{display:none}
.mailportlet .portletlist{clear:both;width:310px; border-top:none;height:18px;background:none;}

.banner1{background:url(/images_en/main/banner_01.gif) no-repeat;margin-bottom:4px; cursor:pointer; width:156px;height:41px;margin-left:10px;}
.banner2{background:url(/images_en/main/banner_02.gif) no-repeat;margin-bottom:4px; cursor:pointer; width:156px;height:41px;margin-left:10px;}
.banner3{background:url(/images_en/main/banner_03.gif) no-repeat;margin-bottom:4px; cursor:pointer; width:156px;height:41px;margin-left:10px;}

.layout{ width:765px; height: 536px; margin:0 auto; margin-top:60px; background: url(/images_en/login/back.jpg) no-repeat left;}
.layout h1 {padding-top:40px; padding-left:12px;background:url(/images/login/logo.gif) no-repeat; width:186px; height:40px}
.login h2{font:xx-small;margin:0; background:url(/images_en/login/login.gif) no-repeat;width:228px; height:44px}
.login{ 
	margin-left:412px; 
	width:254px; 
	height:150px;  
	margin-top:15px;padding-top:25px; padding-left:30px; 
	background: url(/images/login/login_back.gif) no-repeat left top;
	vertical-align:top}	
.id{float:left; width:130px; margin-top:10px; background:url(/images_en/login/id.gif) no-repeat;padding-left:55px;}
.id input, .pw input{border:1px solid #c0bba6; background-color:#faf8ee; width:110px; height:15px;font:9pt dotum; padding-top:2px}
.pw{float:left; width:130px; margin-top:2px; background:url(/images_en/login/pw.gif) no-repeat;padding-left:55px;}
#LoginButton{float:right;width:51px;margin-top:-45px;margin-right:30px}
.idsave {clear:both; margin-left:52px; background:url(/images_en/login/save_id.gif) no-repeat 20px;width:100px;height:20px;}
.login_notice { margin-left:412px;margin-top:20px;width:353px}
.login_wp h1{
	border-bottom:1px solid #b8b8b8;
	background:url(/images/login/title_notice.gif) no-repeat 5px top;
	height:25px;
	width:100%;
	margin-bottom:5px
}
.login_wp .list{
	height:16px; 
	padding-left:10px; 
	padding-top:4px; 
	background: url(/images/login/dot_01.gif) no-repeat left;
	overflow:hidden;
	text-overflow:ellipsis;
	width:100%}
.login_banner1 {margin-left:412px; margin-right:4px; background:url(/images_en/login/bann_messenger.gif) no-repeat;cursor:pointer;width:141px; height:37px}
.login_banner2 {background:url(/images_en/login/bann_help.gif) no-repeat;cursor:pointer;width:141px; height:37px;margin-left:557px;margin-top:-37px}
.copyrights { float:right; margin-top:0px; border-top:1px solid #d0dae2; width:353px; background:url(/images/login/copyrights.gif) no-repeat;height:20px}