/* 일보기 시작 */
/*	메인중에서 아래일정부분 스클롤링*/
.divDailyScrolling
{
    width:100%; 
    height:592px;
    OVERFLOW-Y:auto;
    border-top:solid 1px #b6b6b6;
/*
    BACKGROUND-COLOR: white;
    FONT-SIZE: 0px;
    HEIGHT: 100%;
    OVERFLOW: auto;
    POSITION: relative;
    WIDTH: 100%;
    / *overflow-x: hidden;  spanDailyAppointmentsBlock width 100% 후 가로 스크롤 방지 * /
    */
}
.spanDailyTimesBlock
{
    float:left;
/*
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    HEIGHT: 100%;
    POSITION: relative;
    WIDTH: 50px
    */
}
.spanDailyAppointmentsBlock
{
    position:relative;
/*
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: windowframe 1px;
    BORDER-LEFT: windowframe 1px;
    BORDER-RIGHT: windowframe 1px;
    BORDER-TOP: windowframe 1px;
    LEFT: 50px;
    OVERFLOW: hidden;
    POSITION: absolute;
    top: 0px; / * absolute 라면 지정해야 함* /
    width: 100%; / * 너무 좁아 늘려줘야 함 * /
    */
}
#idCalendarViewer .dailyTimeNode
{
    font-size:12px;
    border:1px solid #949494; 
    border-top:none; 
    width:50px; 
    height:40px; 
    line-height:40px; 
    color:#666666; 
    font-weight:bold;
    TEXT-ALIGN:center;
/*
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #949494 1px;
    BORDER-LEFT: #949494;
    BORDER-RIGHT: #949494;
    BORDER-TOP: #949494 1px solid;
    HEIGHT: 39px;/ *40px; border 제외한 값이므로 border 만큼 줄여야함* /
    OVERFLOW: hidden;
    WIDTH: 100%;
    Z-INDEX: -1
    */
}
.dailyTimeCaption
{
    BACKGROUND-COLOR: white;
    COLOR: #707070;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bolder;
    HEIGHT: 70%;
    LEFT: 1px;
    POSITION: relative;/*absolute; //height 에서 문제*/
    TEXT-ALIGN: right;
    TOP: 30%;
    WIDTH: 55%;
    /*Z-INDEX: -1 // 숨어버려서 문제*/
}
.dailyAMPMContainer
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: 1px solid;
    COLOR: #707070;
    FONT-SIZE: 11px;
    HEIGHT: 38%;
    LEFT: 85%;
    POSITION: relative;
    TOP: 10%;
    WIDTH: 50%
}
.dailyAMPMNode
{
    BACKGROUND-COLOR: white;
    POSITION: absolute;
    TOP: 15%
}
#idCalendarViewer .dailyRowContainer
{
    background-color: Lime;
    font-size:12px;
    line-height:12px;
    border: solid 1px #949494; 
    border-top: none; 
    border-left: none; 
    height: 40px;
/*
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #949494 0px solid;
    BORDER-LEFT: #949494 1px solid;
    BORDER-RIGHT: #949494 1px solid;
    BORDER-TOP: #949494 1px solid;
    HEIGHT: 39px;/ * 40px; border 제외한 값이므로 border 만큼 줄여야함* /
    OVERFLOW: hidden;
    POSITION: relative;
    WIDTH: 100%;
    / *Z-INDEX: -1 // 숨어버려서 문제 * /
    */
}
.dailyRow
{
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    HEIGHT: 100%;
    WIDTH: 100%;
    Z-INDEX: -1
}
.dailyAppt
{
    width:99%; 
    height:20px; 
    border:1px solid #333333; 
    line-height:11px;
    overflow-x:hidden;
/*
    BACKGROUND-COLOR: window;
    BORDER-BOTTOM: windowframe 1px solid;
    BORDER-LEFT: windowframe 1px solid;
    BORDER-RIGHT: windowframe 1px solid;
    BORDER-TOP: windowframe 1px solid;
    OVERFLOW-X: hidden;
    POSITION: absolute;
    Z-INDEX: 2
    */
}
.appointment
{
    BACKGROUND-COLOR: window;
    HEIGHT: 100%;
    WIDTH: 100%;
}
.appointmentTopBar
{
    FONT-SIZE: 0px;
    HEIGHT: 3px
}
.appointmentBody
{
    CURSOR: default;
    HEIGHT: 100%;
    OVERFLOW: hidden;
    PADDING-LEFT: 5px;
    VERTICAL-ALIGN: top;
    line-height: 11px;
}
.appointmentBottomBar
{
    FONT-SIZE: 0px;
    HEIGHT: 4px
}
.appointmentGrabBar
{
    CURSOR: move;
    HEIGHT: 100%;
    WIDTH: 5px
}

/* 일보기 끝 */

















/* *********************************************** */
.noteBody
{
    BACKGROUND-COLOR: buttonface;
    MARGIN: 0px;
    OVERFLOW: hidden;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.previewBody
{
    BACKGROUND-COLOR: buttonface;
    MARGIN: 0px;
    OVERFLOW: hidden;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.noteBody
{
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
.btnRecip
{
    BACKGROUND-COLOR: buttonface;
    COLOR: buttontext;
    CURSOR: pointer;
    HEIGHT: 13px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    TEXT-DECORATION: none
}
.btnRecipDiv
{
    TEXT-ALIGN: center;
    WIDTH: 100%
}
.mainBody
{
    BACKGROUND-COLOR: buttonface;
    MARGIN: 0px;
    OVERFLOW-Y: hidden
}
.msgViewer
{
    BACKGROUND-COLOR: window;
    OVERFLOW: auto;
    POSITION: relative;
    Z-INDEX: -1
}
.msgPreview
{
    MARGIN-TOP: 5px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.msgPreview
{
    WIDTH: 100%
}
.msgViewer
{
    WIDTH: 100%
}
.msgHeader
{
    BACKGROUND-COLOR: transparent;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: 100%
}
.msgHdrCN1
{
    WIDTH: 7.1em
}
.postHdr1
{
    WIDTH: 10em
}
.msgHdr_Post
{
    xTABLE-LAYOUT: fixed
}
.msgHdr_Note
{
    xTABLE-LAYOUT: fixed
}
.msgHdr_Appt
{
    xTABLE-LAYOUT: fixed
}
.msgHdrP1
{
    WIDTH: 7.5em
}
.msgHdrN1
{
    WIDTH: 4.5em
}
.msgHdrN3
{
    TEXT-ALIGN: right;
    WIDTH: 3.8em
}
.msgHdrP3
{
    TEXT-ALIGN: right;
    WIDTH: 5em
}
.msgHdrN4
{
    VERTICAL-ALIGN: top;
    WIDTH: 13.8em
}
.msgHdrP4
{
    VERTICAL-ALIGN: top;
    WIDTH: 13.8em
}
.previewHdr
{
    BACKGROUND-COLOR: transparent;
    HEIGHT: 100%;
    OVERFLOW: hidden;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}
.preHdrN1
{
    MARGIN-RIGHT: 0.3em
}
.preHdrC1
{
    MARGIN-RIGHT: 0.3em
}
.preHdrP1
{
    MARGIN-RIGHT: 0.3em
}
.preHdrR1
{
    MARGIN-RIGHT: 0.3em
}
.preHdrA1
{
    MARGIN-RIGHT: 0.3em
}
.preHdrN3
{
    MARGIN-RIGHT: 0.3em;
    PADDING-LEFT: 0.3em;
    TEXT-ALIGN: right
}
.preHdrC3
{
    MARGIN-RIGHT: 0.3em;
    PADDING-LEFT: 0.3em;
    TEXT-ALIGN: right
}
.preHdrP3
{
    MARGIN-RIGHT: 0.3em;
    PADDING-LEFT: 0.3em;
    TEXT-ALIGN: right
}
.preHdrR3
{
    MARGIN-RIGHT: 0.3em;
    PADDING-LEFT: 0.3em;
    TEXT-ALIGN: right
}
.preHdrA3
{
    MARGIN-RIGHT: 0.3em;
    PADDING-LEFT: 0.3em;
    TEXT-ALIGN: right
}
.preHdrN5
{
    PADDING-RIGHT: 5px
}
.preHdrA5
{
    PADDING-RIGHT: 5px
}
.preHdrP5
{
    PADDING-RIGHT: 5px
}
.fldLabel
{
    VERTICAL-ALIGN: top;
    WIDTH: 15%
}
.fldText
{
    HEIGHT: 100%;
    OVERFLOW: auto;
    WIDTH: 100%
}
.fldTextRecip
{
    OVERFLOW: auto;
    WIDTH: 100%
}
.cbToolbar
{
    BACKGROUND-COLOR: menu;
    HEIGHT: 30px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}
.tbDivider
{
    BORDER-RIGHT: 2px groove
}
.tbButton
{
    BORDER-BOTTOM: buttonface 1px solid;
    BORDER-LEFT: buttonface 1px solid;
    BORDER-RIGHT: buttonface 1px solid;
    BORDER-TOP: buttonface 1px solid;
    COLOR: buttontext;
    CURSOR: pointer;
    HEIGHT: 24px;
    MARGIN-TOP: 1px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    TEXT-DECORATION: none
}
.tbButtonDown
{
    BORDER-BOTTOM: buttonface 1px solid;
    BORDER-LEFT: buttonface 1px solid;
    BORDER-RIGHT: buttonface 1px solid;
    BORDER-TOP: buttonface 1px solid;
    COLOR: buttontext;
    CURSOR: pointer;
    HEIGHT: 24px;
    MARGIN-TOP: 1px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    TEXT-DECORATION: none
}
.tbButtonRaise
{
    BORDER-BOTTOM: buttonface 1px solid;
    BORDER-LEFT: buttonface 1px solid;
    BORDER-RIGHT: buttonface 1px solid;
    BORDER-TOP: buttonface 1px solid;
    COLOR: buttontext;
    CURSOR: pointer;
    HEIGHT: 24px;
    MARGIN-TOP: 1px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    TEXT-DECORATION: none
}
.tbButtonDown
{
    BORDER-BOTTOM-COLOR: buttonhighlight;
    BORDER-LEFT-COLOR: threeddarkshadow;
    BORDER-RIGHT-COLOR: buttonhighlight;
    BORDER-TOP-COLOR: threeddarkshadow
}
.cbSubmenuItem
{
    BORDER-BOTTOM: buttonface 1px solid;
    BORDER-LEFT: buttonface 1px solid;
    BORDER-RIGHT: buttonface 1px solid;
    BORDER-TOP: buttonface 1px solid;
    COLOR: buttontext;
    CURSOR: pointer;
    PADDING-RIGHT: 8px;
    TEXT-DECORATION: none;
    WIDTH: 100%
}
.tbDisabled
{
    CURSOR: pointer;
    FILTER: alpha(opacity=35)
}
.fbButton
{
    BORDER-BOTTOM: menu 1px solid;
    BORDER-LEFT: menu 1px solid;
    BORDER-RIGHT: menu 1px solid;
    BORDER-TOP: menu 1px solid;
    CURSOR: pointer;
    HEIGHT: 22px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 22px
}
.cbSubmenu
{
    BACKGROUND-COLOR: menu;
    BORDER-BOTTOM: white 2px outset;
    BORDER-LEFT: white 2px outset;
    BORDER-RIGHT: white 2px outset;
    BORDER-TOP: white 2px outset;
    COLOR: menutext;
    POSITION: absolute;
    Z-INDEX: 10000
}
.cbSubmenuItem
{
    BORDER-BOTTOM: buttonface 1px solid;
    BORDER-LEFT: buttonface 1px solid;
    BORDER-RIGHT: buttonface 1px solid;
    BORDER-TOP: buttonface 1px solid;
    CURSOR: default;
    PADDING-RIGHT: 8px;
    WIDTH: 100%
}
.AttachTable
{
    BACKGROUND-COLOR: transparent;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.AttachmentWell
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    PADDING-RIGHT: 5px;
    WIDTH: 100%
}
.viewBody
{
    BACKGROUND-COLOR: window;
    OVERFLOW: auto;
    POSITION: relative;
    WIDTH: 100%;
    Z-INDEX: -1
}
.tblMsgBody
{
    BACKGROUND-COLOR: window;
    BORDER-BOTTOM: buttonshadow 2px solid;
    BORDER-LEFT: threeddarkshadow 2px solid;
    BORDER-RIGHT: buttonshadow 2px solid;
    BORDER-TOP: threeddarkshadow 2px solid;
    HEIGHT: 100%;
    OVERFLOW: auto
}
.msgPreviewBody
{
    BACKGROUND-COLOR: window;
    BORDER-BOTTOM: buttonface 5px solid;
    BORDER-TOP: buttonface 5px solid
}
.txtBody
{
    BACKGROUND-COLOR: window;
    HEIGHT: 100%;
    WIDTH: 100%
}
.MSGBODY
{
    OVERFLOW-X: auto;
    OVERFLOW-Y: scroll;
    WIDTH: 100%
}
.MSGBODYFRM
{
    BACKGROUND-COLOR: window;
    BORDER-BOTTOM: buttonshadow 2px solid;
    BORDER-LEFT: threeddarkshadow 2px solid;
    BORDER-RIGHT: buttonshadow 2px solid;
    BORDER-TOP: threeddarkshadow 2px solid;
    PADDING-LEFT: 2px
}
.FORMATBAR
{
    BACKGROUND-COLOR: menu;
    HEIGHT: 26px;
    MARGIN: 0px;
    OVERFLOW: visible;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative
}
.rnStatusRow
{
    PADDING-BOTTOM: 6px
}
.rnStatusImg
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    HEIGHT: 13px;
    LEFT: 3px;
    POSITION: relative;
    TOP: 3px;
    WIDTH: 13px
}
.rnStatusBar
{
    BACKGROUND-COLOR: infobackground;
    COLOR: infotext
}
.viewStatusBar
{
    BACKGROUND-COLOR: infobackground;
    COLOR: infotext
}
.rnOnlineBar
{
    BACKGROUND-COLOR: infobackground;
    COLOR: infotext
}
.viewStatusBar
{
    PADDING-LEFT: 2px
}
.viewStatusImg
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    HEIGHT: 13px;
    WIDTH: 13px
}
.rnOnlineImg
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    HEIGHT: 16px;
    LEFT: 3px;
    POSITION: relative;
    TOP: 3px;
    WIDTH: 16px
}
.grpLEFT
{
    BORDER-BOTTOM: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none
}
.grpRIGHT
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    PADDING-RIGHT: 4px
}
.grpTop
{
    BORDER-TOP: buttonhighlight 2px groove
}
.grpBottom
{
    BORDER-BOTTOM: buttonhighlight 2px groove;
    PADDING-BOTTOM: 4px
}
.AllDayCell
{
    HEIGHT: 0px
}
/*    하루종일 스타일     */
.dailyAllDayAppointment
{
    BACKGROUND-COLOR: menu;
    BORDER-BOTTOM: windowframe 1px solid;
    BORDER-LEFT: windowframe 1px solid;
    BORDER-RIGHT: windowframe 1px solid;
    BORDER-TOP: windowframe 1px solid;
    CURSOR: default;
    FONT-SIZE: 9pt;
    HEIGHT: 15px;
    MARGIN: 1px;
    OVERFLOW: hidden;
    POSITION: relative;
    WIDTH: auto;
}



.monthlyViewContainer
{
    BACKGROUND-COLOR: window;
    BORDER-BOTTOM: windowframe 0px solid;
    BORDER-LEFT: windowframe 0px solid;
    BORDER-RIGHT: windowframe 0px solid;
    BORDER-TOP: windowframe 0px solid;
    HEIGHT: 100%;
    OVERFLOW: hidden;
    TOP: 0px;
    WIDTH: 100%
}
.weeklyViewContainer
{
    FONT-SIZE: 0px;
    OVERFLOW: hidden;
    WIDTH: 100%
}


.dailyAllDayWell
{
    BACKGROUND-COLOR: #e6e6e6;
    BORDER-BOTTOM: windowframe 1px;
    BORDER-LEFT: windowframe 1px;
    BORDER-RIGHT: windowframe 1px;
    BORDER-TOP: windowframe 1px;
    OVERFLOW-X: hidden;
    OVERFLOW-Y: hidden;
}


.MonthlyAppointment
{
    CURSOR: default;
    WIDTH: 100%
}
.alldayMonthlyAppointment
{
    BACKGROUND-COLOR: menu;
    CURSOR: default
}
.monthlyviewslot
{
    BACKGROUND: #efefef;
    HEIGHT: 1em;
    OVERFLOW: auto;
    WIDTH: 100%
}

.calctrlTitle
{
    BACKGROUND-COLOR: #transparent;
		height:16;
    CURSOR: pointer;
    TEXT-ALIGN: center;margin-bottom:5;padding:0
		
}
.calctrlRow
{
   WIDTH: 145;
    HEIGHT: 15px;
    TEXT-ALIGN: center;
}
.calctrlWeeklyCell{
	width:20px;
	background-image:url(/images/etc/calendar_week.gif);
	background-repeat : no-repeat;
	background-position : center;
}
.calctrlRightNavButton{}
.calctrlleftNavButton{width:36;align:right}
.calctrlMonthDisplayName{ width:90;font-weight:bold;color:595858}
.bdyView
{
    BACKGROUND-COLOR: menu;
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    MARGIN: 0px;
    OVERFLOW: hidden;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.tdViewContainer
{
    HEIGHT: 100%;
    WIDTH: 100%;
}
.tblViewContainer
{
    HEIGHT: 100%;
    WIDTH: 100%
}
.divCalViewStatus
{
    HEIGHT: 1em;
    TEXT-ALIGN: center
}
.divCalendarRightPane
{
height:100px;
}
.divCalendarControl
{
    MARGIN-bottom: 0px;padding:0px;}
.idCalCtrlStatus
{
    TEXT-ALIGN: center;
    WIDTH: 11em
}
.divCalendarView
{
	HEIGHT: 100%;
    WIDTH: 100%;
    BORDER-BOTTOM: windowframe 1px solid;
    BORDER-LEFT: windowframe 1px solid;
    BORDER-RIGHT: windowframe 1px solid;
    BORDER-TOP: windowframe 1px solid;
    OVERFLOW: hidden;
}
.tdFolderPath
{
    BACKGROUND-COLOR: appworkspace;
    BORDER-BOTTOM: windowframe 1px solid;
    BORDER-LEFT: windowframe 1px solid;
    BORDER-RIGHT: windowframe 1px solid;
    BORDER-TOP: windowframe 1px solid;
    FONT-WEIGHT: bolder
}
.tdFolderPath A
{
    TEXT-DECORATION: none
}
.divCalViewStatus
{
    TEXT-ALIGN: center
}
.tabselected
{
    BACKGROUND-COLOR: menu;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid;
    CURSOR: default;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center
}
.tabsunselected
{
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: buttonhighlight 1px solid;
    BORDER-LEFT: buttonshadow 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid;
    CURSOR: pointer;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: center
}
.tabsnone
{
    BORDER-BOTTOM: buttonhighlight 1px solid;
    WIDTH: 100%
}
.tabHeader
{
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN-TOP: 5px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: 100%
}
.tabdiv
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: medium none;
    WIDTH: 100%
}
.tabdivHide
{
    DISPLAY: none;
    WIDTH: 100%
}
.datepicker_date
{
    TEXT-ALIGN: left
}
.datepicker_time
{
    TEXT-ALIGN: left;
    WIDTH: 8em
}
.apptTdDatePicker
{
    BORDER-BOTTOM: highlighttext 2px inset;
    BORDER-TOP: highlighttext 2px outset;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
.fldrTitleBar
{
    BACKGROUND-COLOR: appworkspace;
    WIDTH: 100%
}
.fldrTitleBar A
{
    TEXT-DECORATION: none
}
.AttachTable
{
    FONT-SIZE: x-small
}
.cbToolbar
{
    FONT-SIZE: x-small
}
.cbSubmenu
{
    FONT-SIZE: x-small
}
.fldFont
{
    FONT-SIZE: x-small
}
.fldText
{
    FONT-SIZE: x-small
}
.msgHeader
{
    FONT-SIZE: x-small
}
.fldLabel
{
    FONT-SIZE: x-small
}
.trButtons
{
    FONT-SIZE: x-small
}
.msgViewer
{
    FONT-SIZE: x-small
}
.appointment
{
    FONT-SIZE: x-small
}
.rnOnlineBar
{
    FONT-SIZE: x-small
}
.viewStatusBar
{
    FONT-SIZE: x-small
}
.appointmentBody
{
    FONT-SIZE: x-small
}
.tabHeader
{
    FONT-SIZE: x-small
}
BODY
{
    FONT-SIZE: x-small
}
.cbToolbar IMG
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    HEIGHT: 20px;
    MARGIN-RIGHT: 3px;
    WIDTH: 20px
}
.cbSubmenu IMG
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    HEIGHT: 20px;
    MARGIN-RIGHT: 3px;
    WIDTH: 20px
}
.cbToolbar TD
{
    VERTICAL-ALIGN: middle
}

.FORMATBAR
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid
}
.cbToolbar
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid
}
.btnRecip
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid
}
.tbButtonRaise
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid
}
.tbButton A:hover
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid
}
.tbButton:hover
{
    BORDER-BOTTOM: buttonshadow 1px solid;
    BORDER-LEFT: buttonhighlight 1px solid;
    BORDER-RIGHT: buttonshadow 1px solid;
    BORDER-TOP: buttonhighlight 1px solid
}
.cbSubmenuItem A:hover
{
    BACKGROUND-COLOR: highlight;
    COLOR: highlighttext
}
.cbSubmenuItem:hover
{
    BACKGROUND-COLOR: highlight;
    COLOR: highlighttext
}
.cbSubmenuItem SPAN
{
    MARGIN: 10px;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 5px
}
SELECT
{
    FONT-SIZE: 100%
}
INPUT
{
    FONT-SIZE: 100%
}
TEXTAREA
{
    FONT-SIZE: 100%
}
BUTTON
{
    FONT-SIZE: 100%
}
TABLE
{
    FONT-SIZE: 100%
}
.calctrlDateCell{ font-size: 11px; color: #212121; width:20px;}
.calctrlTable{background:transparent;padding:0;margin:0; table-layout:fixed}