.node_normal
{
    height: 15px;
    line-height:16px;
    color: #666666;
    /*padding-top: 3px;*/
    font-family: Gulim;
    font-size: 12px;
    vertical-align: top;
    cursor: pointer;
    background-image: none;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-color: transparent;
}
.node_selected
{
    height: 15px;
    line-height:16px;
    color: #004a87;
    /*padding-top: 3px;*/
    font-family: Gulim;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
    background-image: none;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-color: transparent;
}
.node_hover
{
    height: 15px;
    line-height:16px;
    color: #004a87;
    /*padding-top: 3px;*/
    font-family: Gulim;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
    background-image: none;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-color: transparent;
}