.node_normal
{    
    /* line-height:21px; */
    /* height: 18px; */
    height: 24px;
    line-height:19px;
    display:inline-block;
    color: #000;    
    padding-left:3px;
    font-size: 12px;
    vertical-align: top;
    cursor: pointer;
    background-image: none;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-color: transparent;
}
.node_selected
{    
    /* line-height:21px; */
    /* height: 18px; */
    height: 24px;
    line-height:19px;
    display:inline-block;    
    color: #000;
    padding-left:3px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
    background-image: none;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-color: transparent;
}
.node_hover
{
    /* line-height:21px; */
    /* height: 18px; */
    height: 24px;
    line-height:19px;
    display:inline-block;
    color: #9b9b9b;
    padding-left:3px;   
    font-size: 12px;
    font-weight: normal;
    vertical-align: top;
    cursor: pointer;
    background-image: none;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-color: transparent;
}