/* 메일미리보기 121022 */
.previewmail_bar_h {position:relative;width:5px;border:1px solid #e8e8e8;float:left; height:100%; display:inline-block; margin:0px 0px 0px 0px; padding:0px; vertical-align:top;text-align:center;border-top:0px}
/*.previewmail_bar_h {width:9px; height:100%; display:inline-block; background:url(/images/bar_length.gif) repeat-y left; margin:0px 10px 0px 0px; padding:0px; vertical-align:top; border-top:1px solid #ddd;} */
.hbar_dotted { width:4px; height:28px; position:absolute; left:50%; top:50%; margin:-14px 0 0 -2px;}
.barbtn_area {width:12px; height:44px; margin:2px 0px 0px 8px;}
.barbtn_area .btn_areaminus { width:12px; height:22px; display:block; background:url(/images/area_minus.gif) no-repeat; text-indent:-1000em;  cursor:pointer; margin:0px; padding:0px;}
.barbtn_area .btn_areaplus { width:12px; height:22px; display:block; background:url(/images/area_plus.gif) no-repeat; text-indent:-1000em; cursor:pointer;margin:0px; padding:0px;}

.previewmail_bar {height:5px; margin:0px; padding:0px;font-size:0px; text-align:center;border-top:1px solid #e8e8e8;margin-top:8px}
.previewmail_info {position:relative; width:100%; margin:0px -5px 0px 0px;  padding:0px 0px 5px 0px; border-top:1px solid #e8e8e8;}
.previewmail_info .mail_title { width:100% ; color:#333333; font-weight: bold; font-size:12px; margin:0px 0px 5px 0px ; clear:both;
padding:0px 0px 0px 0px; height:36px; line-height:37px;}/* 20130416 수정 */
/*.previewmail_info .mail_title {color:#333333; font-weight: bold; font-size:12px; margin:0px 0px 5px 0px ; padding:0px 160px 0px 19px; line-height:160%; background:url(/images/icon_prevtitle.gif) no-repeat 4px 3px;}*/
.previewmail_info .mail_date { position:absolute; top:10px; right:10px; text-align:right; width:150px; font-size:12px;color:#333333; }
.previewmail_info .mail_item { position:relative; margin:0px; padding:4px 10px 2px 14px; font-size:12px; color:#666666; }
.previewmail_info .mail_item dt { font-weight: normal; margin:0px 10px 0px 0px; line-height:18px; padding:0px 0px 2px 0px; color:#919293;}
.previewmail_info .mail_item dd { margin:-19px 0px 0px 0px; padding:0px 0px 2px 65px;line-height:18px; word-break:break-all;}
.previewmail_info .mail_item dd .hidden_area { padding:0px; margin:3px 0px 0px 0px;line-height:18px;}
.previewmail_info .mail_title  .icon_btn { margin-left:13px; display:inline-block; float:left;}
.previewmail_info .mail_title span {display:inline-block;}

.previewmail_info .mail_title  #PreH_subject{width:70%; height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.previewmail_info .mail_title  #PreW_subject{width:70%; height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.previewmail_info .mail_title  .title_blodtxt {display:inline-block; width:100%; height:30px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;} 


.previewmail_info .icon_btn img {vertical-align:middle;}
.previewmail_info .mail_item dd a{color:#666;text-decoration:none}
.previewmail_info .mail_item dd a:hover{ text-decoration:underline;}
/* #PreContent_RayerW .previewmail_info {border-top:0px} */
 
.icon_graydown {margin:0px 0px 0px 3px; cursor:pointer; width:11px; height:11px; display:inline-block; background:url(/images/icon_graydown.gif) no-repeat center bottom; vertical-align:middle;}
.icon_grayup {margin:0px 0px 0px 3px; cursor:pointer; width:11px; height:11px; display:inline-block; background:url(/images/icon_grayup.gif) no-repeat center bottom; vertical-align:middle;}

/* 메일미리보기_첨부파일 121022 */
.previewmail_addfile {position: relative ;margin: 18px 0px 10px 0px;padding: 0px 0px 0px 0px;width: 100%;font-size: 12px;}

/* 20130417 max-width:900px 제거 */
.previewmail_addfile .title {background: url(/images/icon_addfile.gif) no-repeat 0px 1px ;color: #333;font-weight: bold;padding: 0px 0px 0px 10px;margin: 0px 0px 1px 0px;height: 20px;}
.previewmail_addfile .title_btn {font-weight: normal;margin: 0px 5px;}
.previewmail_addfile .title_btn a {text-decoration: underline;}
.previewmail_addfile ul {margin: 0px;padding: 0px;list-style: none;z-index: 1;border-top: 1px solid #e8e8e8;border-left: 1px solid #e8e8e8;border-right: 1px solid #e8e8e8;}
.previewmail_addfile ul li {position: relative;border-bottom: 1px solid #e8e8e8;padding: 7px 5px 5px 10px;margin: 0px;}
.previewmail_addfile ul li span {font-size: 12px;}
.previewmail_addfile ul li .icon_rbtn {position: absolute;right: 10px;cursor: pointer;}
.previewmail_addfile ul li .icon_rbtn2 {position: absolute;right: 30px;cursor: pointer;}
.previewmail_addfile a {color: #666;text-decoration: none}
.previewmail_addfile a:hover {text-decoration: underline;}
.previewmail_addfile .icon_btn {cursor: none;margin: 0px 5px 0px 5px;}
.previewmail_addfile .icon_btn img {vertical-align: middle;}
.previewmail_addfile span {font-size: 12px;}
/* .previewmail_addfile .attachFileName { display:inline-block; width:90%;  white-space:nowrap; overflow:hidden;text-overflow:ellipsis;} */

/* 메일 미리보기_첨파이미지 20181206*/
.previewmail_addImage { position:relative ;margin:18px 0px 10px 0px; padding:0px 0px 0px 0px; width:100%;  font-size:12px;} /* 20130417 max-width:900px 제거 */
.previewmail_addImage .title { color:#333; font-weight:bold; padding:0px 0px 0px 10px; margin:0px 0px 1px 0px; height:20px;}
.previewIamgelist >div {float: left; width: 220px; height: 240px; padding: 10px; box-sizing: border-box;}
.attachImageeName { text-align: center; display:inline-block; width:90%;  white-space:nowrap; overflow:hidden;text-overflow:ellipsis; color:#333; font-weight:bold; padding:0px 0px 0px 10px; margin:0px 0px 1px 0px; height:20px;}
.previewIamgelist div p a img {display: block; margin: auto; border: 0px; border-style: none; width : auto; height : auto; max-width : 195px; max-height: 195px;}
.imageArea {display: flex; height: 200px; align-items: center; padding: 0px; margin: 0px; width: 200px; border: 1px solid #ddd; box-sizing: border-box; margin-bottom: 5px;}
.imageArea >a {flex: 1;}

.attachedfile{ margin:-8px; padding:0px; clear:both; overflow:hidden;}
.attachedfile_title{ margin:0px; padding:0px 20px; list-style:none; height:33px; line-height:31px; box-sizing:border-box; background:#f1f3f5; border-bottom:1px solid #e5e5e5; border-top:1px solid #e5e5e5; font-size:13px; color:#393939;}
.attachedfile_title .titleText{ margin:0px; padding:0px; float:left; }
.attachedfile_title .titleText .titleT{ font-size:13px; display:inline-block; padding:0px 10px 0px 0px; margin:0px;}
.attachedfile_title .titleText .cblue{ margin:0px; padding:0px; font-weight:bold; color:#0470e4;}
.attachedfile_title .titleText .attach_btn_up{background:url(../images/ImgIcon/attach_up.png) no-repeat left 1px; display:inline-block; width:13px; height:11px; cursor:pointer;}
.attachedfile_title .titleText .attach_btn_down{background:url(../images/ImgIcon/attach_down.png) no-repeat left 1px; display:inline-block; width:13px; height:11px; cursor:pointer;}
.attachedfile_title .titleSave{ margin:0px; padding:0px; float:left;}
.attachedfile_title .titleSave span{ font-size:12px; background:#fff; border-left:1px solid #c7c7c7; border-right:1px solid #c7c7c7; border-top:1px solid #c7c7c7; border-bottom:1px solid #909193; padding:1px 3px 2px 3px; letter-spacing:-0.5px; margin:0px 0px 0px 10px; cursor:pointer;}
.attachedfile_list{ padding:10px 20px; margin:0px; list-style:none; border-bottom:1px solid #e5e5e5;}
.attachedfile_list li{ line-height:24px; min-height:26px; font-size:12px;}
.attachedfile_list li span a {color: #393939; text-decoration: none;}
.attachedfile_list li span a:hover {color: #164aad;}
.attachedfile_list .downList{ margin:0px; padding:0px;}
.attachedfile_list .downList .downloadText{ margin:0px; padding:0px 0px 0px 20px; background:url(../images/ImgIcon/attach_download.png) no-repeat left center; cursor:pointer;}
.attachedfile_list .downList .download_delete{ margin:9px 0px 0px 0px; padding:0px; float:right; cursor:pointer;}

/* 2020-05-28 홍승비 - 미리보기 첨부파일 영역 > 메세지 리소스의 기본 폰트를 상속받도록 수정 (다국어 대응) */
.attachFileName{display:inline-block; width:90%;  white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.attachedfile_list .icon_rbtn{position:absolute; right:10px;cursor:pointer;}
.attachedfile_list .icon_rbtn2{position:absolute; right:35px;cursor:pointer;}
.imgSpan{ display:inline-block;}

/* 메일 미리보기 ui 수정 */
.preview_mail_wrap{padding:30px 20px 0;}
.preview_mail_wrap .preview_mail_text{height:auto; max-height:130px; overflow-y:auto;}
.preview_mail_wrap .preview_mail_text p{margin:0; color:#000; font-size:13px; line-height:19px;}
.preview_mail_wrap .preview_mail_attach{overflow-y:auto; max-height:72px;}

.preview_mail_wrap .previewmail_addfile{margin:20px 0 0; border:1px solid #DDDDDD; box-sizing:border-box;}
.preview_mail_wrap .previewmail_addfile .title{height:35px; line-height:35px; background:#E5EFFF; margin:0;}
.preview_mail_wrap .previewmail_addfile .title p{margin:0; font-size:13px;}
.preview_mail_wrap .previewmail_addfile .title p span{font-size:13px;}
.preview_mail_wrap .previewmail_addfile .title p span b{color:#0075FF;}

.preview_mail_wrap .btnpositionNew{background:none; left:0; padding:15px 0; margin:0;}

.preview_mail_wrap .previewmail_addfile ul{border:none;}
.preview_mail_wrap .previewmail_addfile ul li{display:flex; justify-content:space-between; align-items:center; height:35px; padding:0 10px; border:none; border-bottom:1px solid #DEDEDE;}
.preview_mail_wrap .previewmail_addfile ul li:last-child{border-bottom:none;}
.preview_mail_wrap .previewmail_addfile ul li span:first-child{width:calc(100% - 21px);}