

/* sms 추가,변경부분 */
* {font:9pt "dotum"; line-height:normal; color: 393939; }
.title{font:bold 13pt "dotum";margin-top:30px; margin-bottom:5px; padding-left:35px; color:#006699;clear:both;  letter-spacing:-0.1em; background-image : url(../../images/sms/dot_01.gif) ;background-repeat : no-repeat; background-position: 18 center; }	
.bbb {position:absolute;background:blue;left:0px;top:0px;  padding:0 0 15 0; background-color:#FFFFFF; background-image : url(../images/sms/sms_back.gif) ;background-repeat : repeat-x;}
.table{margin-top:15px;width:15px; float:left;}
.mobile{margin-top:15px;background-color :#ffffff; float:left; width:175px;height:487px; border-top:4px solid #c7dde4;  border-bottom:4px solid #eeeeee; background-image : url(../images/sms/mobile.jpg) ;background-repeat : no-repeat; background-position: center 13;text-align:center}
.mobile2{margin-top:15px;background-color :#ffffff; float:left; width:285px;height:487px; border-top:4px solid #c7dde4;  border-bottom:4px solid #eeeeee; font-weight:bold; padding-top:50px; padding-left:15px}
.import {clear:both;margin-top:64px;padding-right:32px; text-align:right}
.sms {text-align:left; margin-top:5px;padding:5 36 5 36; height:118px; line-height:17px} 
.byte {padding-right:32px; text-align:right; font:bold 8pt; color:#007fb7}
.byte1 {padding-right:1px; text-align:right; font:bold 8pt; color:#007fb7}
.number {margin-top:5px; text-align:right; padding-right:22px; font-weight:bold; color:c4c4c4}
.hyphen {color:#007fb7; font-size:11px; font-family:dotum;}
