TD,input, text, div,select, textarea,a{FONT-SIZE: 9pt;COLOR: #393939;word-break:break-all} /*표준모듈 (2007.02.21) 수정 */
input,SELECT{HEIGHT: 20px}
.td{empty-cells:show}
TEXTAREA{padding:5px}
A:link{COLOR: #393939;TEXT-DECORATION: none}
A:visited{COLOR: #393939;TEXT-DECORATION: none}
A:active{COLOR: #393939;TEXT-DECORATION: none}
A:hover{COLOR: #0B790E;TEXT-DECORATION: none}
.btn{border-width:1px;border-style:outset;padding-left:3px;padding-right:3px;BACKGROUND-COLOR: #e0e0e0; cursor:pointer}
.page{VERTICAL-ALIGN: bottom;   TEXT-ALIGN: right;padding-bottom:4px;width:300}
.point{FONT-WEIGHT: bold;    COLOR: #cc6600;    PADDING-TOP: 2px}
.dotted{BACKGROUND: url(../images/main/line_dot01.gif) #ffffff left ;    HEIGHT: 1px}
.line{HEIGHT: 1px;    BACKGROUND-COLOR: #bcbcbc}
.calendar {font-size: 8pt; color: #212121; text-decoration: none}
.msg{FONT-SIZE: 9pt;COLOR: #393939;padding-left:55px;height:100;BACKGROUND-image: url(../images/i_msg.gif);BACKGROUND-REPEAT: no-repeat;background-position:left 50%;width:300;margin:10;border:1px solid #b6b6b6;padding-top:4px;margin:10px; BACKGROUND-COLOR: #ffffff;word-break:break-all;} /*표준모듈 (2007.02.21) 수정 */

A.l:link{TEXT-DECORATION: none}
A.l:visited{TEXT-DECORATION: none}
A.l:active{COLOR: #D58713;TEXT-DECORATION: none}
A.l:hover{COLOR: #D58713;TEXT-DECORATION: none}

.leftline1{    HEIGHT: 1px;    BACKGROUND-COLOR: #c3c3c3}
.leftline2{    HEIGHT: 1px; BACKGROUND: url(../images/left/leftline.gif); BACKGROUND-REPEAT: no-repeat;background-position: 10 center; }
/*.leftline2{    HEIGHT: 1px;BACKGROUND: url(../images/main/line_dot01.gif) }*/

.leftmenu{height:22px;padding-top:4px;text-align:left}
.subtitle{BACKGROUND-POSITION:left;    BACKGROUND-IMAGE:  url(../images/img_subtitle.gif); BACKGROUND-REPEAT:no-repeat; font-size:10pt; font-weight:bold; padding-left:15px;white-space: nowrap;}
.subtxt{ COLOR: #2778a7;font-weight:bold}
.mbody{    BACKGROUND-POSITION: left top;    BACKGROUND-IMAGE:  url(../images/bg_main.gif);   margin-left: 15px; margin-top:0;   BACKGROUND-REPEAT: repeat-x; background-color: #FFFFFF; }
.mtitle{height:37px; color:#3A3A3A; BACKGROUND-POSITION:8px;    BACKGROUND-IMAGE:  url(../images/img_maintitle1.gif); BACKGROUND-REPEAT:no-repeat; font-size:12pt; font-weight:bold; padding-left:26px; padding-top:4px; white-space: nowrap;vertical-align : middle;}
.mtitle_sub{font-size:11pt;font-weight:bold;}
.micon{padding-right:2px;height:40px;}
.mwidth{ WIDTH: 780;}
.ltitle{padding-left:10px;padding-top:2px;height:23px;background-color:E4E4E4;width:780;word-break:keep-all}
.list{margin-top:2px;padding-top:4px;padding-bottom:4px;padding-left:10px;width:780}
.pbody{ background-color:#F5F5F5;margin:0}
.iconbg{    BORDER-bottom: #84b2d4 2px solid;   BACKGROUND-COLOR: #d0e6f8;    COLOR: #002B42;HEIGHT: 42px;width:100%;padding-left:10px;}
.pmenu{FONT-SIZE: 9pt;padding-left:8px;padding-right:6px; white-space: nowrap; text-align: center;vertical-align: middle;background-image:url(../images/pbar.gif);background-position:left;background-repeat:no-repeat;}
.pt{background-color :#ffffff;border-collapse:collapse;padding:3px;}
.pstitle{FONT-SIZE: 9pt;COLOR: #393939;background-color: ECECEC;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;white-space: nowrap;word-break:keep-all;word-wrap:normal}
.btn, .btnposition input{
	width:auto;
	word-break:keep-all;
	white-space:nowrap;
	padding: 0px 3px;
	height: 20px;
	background-color:#d4d4d4;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #bebebe;
	border-bottom:1px solid #bebebe;
	cursor:pointer;
	font-weight:bold;
}
.imginput{
	background-color:#fff3da;
	border-style:solid;
	border-width:1px;
	border-color:#d3c192;
	border-top-color:#fff;
	border-left-color:#fff;
	
}
.btnposition{
	margin: 10px 0px 0px 0px;
	background: none;
	border: none;
	padding: 0px;
	text-align:center;
}


/* 앞으로 없애버릴 css */
.tbbg{	background-color : B6B6B6;}
.pframe{   padding-left: 10px;padding-right:10}
.ptitle{    PADDING-LEFT: 10px;    PADDING-TOP: 5px;    HEIGHT: 23px;    BACKGROUND-COLOR: E4F1FB}
.ptb1{background-color:f5f5f5;}
.normaltd{ FONT-SIZE: 8pt;COLOR: #393939; }
.vline1{    WIDTH: 1px;    BACKGROUND-COLOR: #6A9DBA;empty-cells:show}
.vline2{    WIDTH: 1px;    BACKGROUND-COLOR: #DBF5FB;empty-cells:show}
.gray1{    PADDING-LEFT: 15px;    PADDING-TOP: 2px;    HEIGHT: 23px;    BACKGROUND-COLOR: #e4e4e4}
.gray2{    PADDING-LEFT: 3px;     BACKGROUND-COLOR: #eaeaea}
.gray3{    PADDING-LEFT: 15px;    PADDING-TOP: 2px;    HEIGHT: 23px;    BACKGROUND-COLOR: #e4e4e4}
.T1{    PADDING-LEFT: 15px;    PADDING-TOP: 2px;    HEIGHT: 23px}
.T2{    PADDING-LEFT: 15px;    PADDING-TOP: 2px;    HEIGHT: 23px}
.ltitle2{padding-left:10px;padding-top:2px;height:23px;background-color:FFFFCC;width:800}
.twidth{    MARGIN-LEFT: 25px;    WIDTH: 740px}
.mtxt{    FONT-WEIGHT: bold;   COLOR: #2778a7;    HEIGHT: 30px;padding-left:8px}
.white{    HEIGHT: 22px;    BACKGROUND-COLOR: #ffffff;padding-left:1;padding-right:1}
.ptable{MARGIN: 10px;BACKGROUND-COLOR: #b6b6b6}
