@charset "utf-8";
/* CSS Document */

/* base */
html { height:100%; }
body { height:100%; margin:0; }
input,button { margin:0; outline:none; color:#4f5964; font-size:1em; line-height:1em; }
textarea { margin:0; outline:none; color:#4f5964; font-size:1em; line-height:1.25em; }
img { border:0 none; vertical-align:top; }
hr,caption { display:none; }
strong { font-weight:bold; }
em { font-style:normal; }
a { text-decoration:none; color:#0066cc; }
a:hover { text-decoration:underline; }
cite { font-style:normal; }
address { font-style:normal; }
article {  }
article:after { clear:both; display:block; content:''; }
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary { 
    display:block;
 }
 
/* font-family  */
body,input,button,textarea{font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";}



/* Layout */
.mainbg{min-width:1024px; width:100%;}
#top {top:0px; left:0px; height:75px; width:100%; min-width:1024px; clear:both; z-index:10;  background:#375eab;border-bottom:3px solid #383838; }
#Center {position:relative; margin:0px auto; padding:0px ; min-width:985px; max-width:1230px; }

header{height:75px; clear:both;overflow:hidden;}


.section1_bg {height:305px;background:url(../images/kr/theme01/main/bg_img.jpg) no-repeat center; padding:0px; margin:0px;}
.section1 {margin:0px auto; padding:0px; min-width:985px; max-width:1230px;   vertical-align:top; z-index:3; overflow:hidden; height:305px;}
.section2 {width:230px; margin:15px 18px 0px 5px; overflow:hidden;}
.section3 {width:100%; margin:15px 0px 0px 0px; overflow:hidden;}
.section4 { margin:15px 0px 0px 18px; width:160px;}
.section1_left { float:left; width:230px; height:305px; margin-left:5px; }
.section1_right { margin-left:248px ; padding-top:220px;  height:305px;  }


/* header */
header .logo {float:left; margin:0px; padding:0px; width:132px;height:51px;}

/* utmenu --*/
.utmenu {float:right; margin:0px; padding:0px; height:75px; background:#314371;}
.utmenu ul {margin:25px 10px 0px; padding:0px;list-style:none; line-height:26px;}
.utmenu ul li { float:left; display:inline-block; margin:0px 2px; cursor:pointer; }


/* nav */
nav {float:left;height:51px; vertical-align:top;}
nav .topmenu { padding:0px; margin:23px 0px 0px 0px; height:28px; overflow:hidden;}
nav .topmenu li {list-style:none;float:left; cursor:pointer;}

/*------------ topSubMenu 추가 ------------*/
.topSubMenu { position:absolute; top:51px; left:0px; width:100%; clear:both; height:24px;}
.topSubMenu ul{position:absolute; margin:0; padding:0; list-style:none; height:24px; background:url(../images/kr/theme01/cm/subMenubg_middle.gif) repeat-x;}
.topSubMenu li {float:left; line-height:25px; padding:0px 5px 0px 9px; background:url(../images/kr/theme01/cm/dot_subMenu.gif) no-repeat left 10px;  font-size:12px; color:#ffffff; cursor:pointer;height:24px; margin:0px 6px}
.topSubMenu ul .left {background:url(../images/kr/theme01/cm/subMenubg_left.gif) no-repeat ; width:10px; cursor:none; display:block; padding:0px; margin:0px;}
.topSubMenu ul .right {background:url(../images/kr/theme01/cm/subMenubg_right.gif) no-repeat ; width:10px; cursor:none;display:block; padding:0px; margin:0px;}
.topSubMenu li:hover { color:#00d2ff;}




/* personal */

.personal { width:230px; height:192px;margin:28px 0px 0px 0px ; padding:0px; overflow:hidden;}

.personal .info {height:81px; background:url(../images/kr/theme01/main/info_bg.gif) no-repeat; margin:0px 0px 5px 0px; padding:8px 0px 0px 0px; overflow:hidden;}
.personal .info p { font-size:13px; margin:0px 14px; padding:0px; height:28px; vertical-align:bottom; line-height:24px; border-bottom: 1px solid #fdd470;}

.info_txt { position:relative;ist-style:none; margin:0; padding:0; margin:5px 0px 0px 14px; color:#000;  color:#3b3b3b; width:203px;}
.info_txt dt {  font-size:12px; margin-bottom:3px; padding:0px;}
.info_txt dd { font-size:12px; margin:0px 35px 0px 0px; padding:0px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.info_txt .modify {position:absolute; bottom:0px; right:0px; border:1px solid #b0841c; margin:0px; padding:0px 3px;font-size:12px; display:inline-block; cursor:pointer; }

.personal_content{position:relative;clear:both; overflow:hidden; height:89px; background:url(../images/kr/theme01/main/personal_content_bg.gif) no-repeat;}
.personal_content a{cursor:pointer;}
.personal_content a:hover { text-decoration:none;}
.personal_content ul{ float:left;position:relative;width:55px; height:62px; overflow:hidden; margin:15px 0 0 0; padding:0px 0 0 0; list-style:none;}
.personal_content ul.last{border-right:none; background:none;}
.personal_content ul li{overflow:hidden;}
.personal_content ul li.icon{display:inline-block;  height:40px; padding:0px 0px 0px 10px; overflow:hidden; vertical-align:top; border:0px;}
.icon img {border:0px;}
.personal_content ul li.title{clear:both; display:block; text-align:center; height:22px; line-height:19px; overflow:hidden; vertical-align:top; font-size:12px; color:#232323;}

.personal_content ul li.count {position:absolute; right:5px; top:0px; z-index:5; overflow:hidden;line-height:14px;}
.personal_content ul li.count div{display:inline-block;  color:#fff; padding:0px 0 0 5px;  font-size:12px; background:url(../images/kr/theme01/main/count_l.png) no-repeat left;height:16px; }
.personal_content ul li.count div span{display:inline-block;  color:#fff; padding:0px 6px 0 0px; font-size:12px; background:url(../images/kr/theme01/main/count_r.gif) no-repeat right;font-weight:bold;height:16px;}


/* top_search */

.top_search {  height:85px; overflow:hidden; vertical-align:middle; padding-left:10px; overflow:hidden; border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}
.search_title { font-size:15px; font-weight:bold; margin:10px 0px 7px 0px; padding:0px;}
.topsearch_btn {vertical-align:top; }
.input_text { float:left; width:158px;  border:2px solid #f96423 ;padding:0px 0px 0px 3px; margin:0px;  color:#555; height:29px; font-size:12px; line-height:29px;}

/* quickmenu */
.quickmenu_area  {position:relative;width:100%; height:85px; margin:0px; padding:0px; overflow:hidden}
.quickmenu { margin:5px 37px 0px 45px;  height:80px; list-style:none;white-space:nowrap; overflow:hidden;  padding:0px;}
.quickmenu li { float:left ;display:block; width:11.5%; cursor:pointer; min-width:60px;white-space:nowrap; margin:3px ; padding:0px;}
.quickmenu li .icon {display:block; margin:0 auto;text-align:center; }
.quickmenu li .txt {display:block;text-align:center; color:#2a2a2a; font-size:12px; height:30px;letter-spacing:-1px; line-height:25px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0px 5px; font-weight:bold;}
.btn_quick_left { position:absolute; top:34px; left:12px; margin:0px; padding:0px; cursor:pointer;  }
.btn_quick_right { position:absolute; top:34px; right:5px; margin:0px; padding:0px; cursor:pointer;  }

/* photobox */
.photobox {border:1px solid #e6e6e6; overflow:hidden; }
.photobox .title { padding:0px; margin:11px 0px 17px 16px; font-size:16px; color:#0d0d0d; font-weight:bold;}
.photocont {margin:0px 0px 10px 17px; width:198px; height:165px; padding:0px; overflow:auto; }
.photocont .images_container{overflow:hidden;}
.photocont .images_container img{display:block; }
.images_container ul { margin:0px; padding:0px; list-style:none; float:left}
.images_container ul li { display:block; margin:0px 1px 1px 0px }

/* Title_list common */
.content_title01{margin:0; padding:0; height:42px; border-bottom:1px solid #e6e6e6; overflow:hidden;}
.content_title01 dt{float:left; height:42px; line-height:42px; padding:0px 0px 0px 19px; margin:0; background:url(../images/kr/theme01/main/icon_dotH1.gif) no-repeat left 16px; font-size:17px; font-weight:bold; color:#0d0d0d;}
.content_title01 dd{float:right; height:42px; line-height:42px; padding:0px 11px 0px 0px; margin:0; background:url(../images/kr/theme01/main/icon_dotMore.gif) no-repeat right 17px; font-size:11px; color:#595959; cursor:pointer;}
.content_title02{margin:0; padding:0; height:42px; background:#dfdddd; overflow:hidden;}
.content_title02 dt{float:left; height:42px; line-height:42px; padding:0px 0px 0px 14px; margin:0; font-size:16px; font-weight:bold; color:#0d0d0d; border:0px !important; }
.content_title02 dd{float:right; height:42px; line-height:42px; padding:0px 11px 0px 0px; margin:0 5px 0 0; background:url(../images/kr/theme01/main/icon_dotMore.gif) no-repeat right 17px; font-size:11px; color:#595959; cursor:pointer;}
.content_list01{clear:both; list-style:none; margin:0; padding:10px 0px; overflow:hidden;}
.content_list01 li{width:100%; overflow:hidden; height:22px; line-height:22px;*height:18px; *line-height:18px; padding:0px 0px 0px 10px; background:url(../images/kr/theme01/main/icon_dotList.gif) no-repeat left 10px;}
.content_list01 li span{float:left; display:block; font-size:12px; color:#595959;}
.content_list01 li span strong{color:#010101; font-weight:normal;}
.content_list01 li .title{width:65%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.content_list01 li .name{width:15%; text-align:center;}
.content_list01 li .day{width:20%; text-align:center;}
.content_list02{list-style:none; margin:0; padding:0px 340px 0px 0px; overflow:hidden;}
.content_list02 li{overflow:hidden; height:22px; line-height:22px;padding:0px 0px 0px 10px; margin:0; background:url(../images/kr/theme01/main/icon_dotList.gif) no-repeat left 10px; font-size:12px; color:#595959; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.content_list02 li strong{color:#010101; font-weight:normal;}
.content_list03{position:absolute; right:0; top:15px; list-style:none; margin:0; padding:0; overflow:hidden;}
.content_list03 li{float:left; position:relative; width:141px; height:141px; margin:0px 0px 0px 11px; padding:0px 0px 0px 0px; border:2px solid #f2f1f1; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.content_list03 li span{position:absolute; left:0; bottom:0; display:inline-block; width:125px; height:38px; line-height:38px; padding:0px 8px; font-size:12px; color:#ffffff; background:url(../images/kr/theme01/main/bg_communityImgText.png) repeat-x; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
/* //Title_list common */


/* mail */
.content_mail{overflow:hidden; }
.content_mail .content_list01 li span img{vertical-align:middle; padding:0px 5px 0px 4px;}
.content_mail .content_list01 li{width:100%; overflow:hidden; height:22px; line-height:22px; *height:18px; *line-height:18px; padding:0px 0px 0px 0px; background:none;}

/* //mail */

/* tabappr */
.content_appr{overflow:hidden;}
.content_appr .content_title01{border-bottom:none;}
.content_appr .content_tabTitle{clear:both; list-style:none; margin:0; padding:0; height:27px; background:#f2f1f1; border:1px solid #d6d4d4; overflow:hidden; }
.content_appr .content_tabTitle li{float:left; border-right:1px solid #d6d4d4; background:#f2f1f1; overflow:hidden;cursor:pointer;}
.content_appr .content_tabTitle li.on{background:#ffffff;}
.content_appr .content_tabTitle li span{display:inline-block; height:27px; line-height:27px; font-size:12px;} 
.content_appr .content_tabTitle li .title{padding:0px 10px 0px 9px; color:#595959;}
.content_appr .content_tabTitle li.on .title{color:#e93b05;}
.content_appr .content_tabTitle li .count{padding:0px 10px 0px 10px; color:#e93b05;}
/* //tabappr */

/* nowboard */
.content_board{overflow:hidden;}
/* //nowboard */

/* mycommunity */
.content_community{overflow:hidden;}
.content_community .content_list01{clear:both; position:relative; list-style:none; margin:0; padding:10px 0px; overflow:hidden;}
/* //mycommunity*/

/* community */
.content_community{overflow:hidden;}
.content_community01 .content_title01{border-bottom:0 none;}
.content_community01 .content_list01{clear:both; position:relative; border:1px solid #d6d4d4; background:#f2f1f1; margin:0; padding:3px 3px; overflow:hidden;}
.content_community02 .content_title01{border-bottom:0 none;}
.content_community02 .content_list01{clear:both; position:relative; border:1px solid #d6d4d4; background:#f2f1f1; margin:0; padding:3px 3px; overflow:hidden;}
.content_community01 .content_list01 .content_list02{position:static; float:left; width:50%; padding:0; overflow:hidden;}
.content_community01 .content_list01 .content_list02 .layout_margin3{padding:3px 0px; margin:0px 3px;}
.content_community01 .content_list01 .content_list02 .layout_margin3 .title{list-style:none; margin:0; padding:0; height:35px; line-height:35px;}
.content_community01 .content_list01 .content_list02 .layout_margin3 .title li{float:left; width:auto; background:none; height:35px; line-height:35px; margin:0px 8px; padding:0; color:#898888; cursor:pointer;}
.content_community01 .content_list01 .content_list02 .layout_margin3 .title li.on{background:url(../images/kr/theme01/main/icon_titleOn.gif) no-repeat center bottom; color:#0d0d0d;}
.content_community01 .content_list01 .content_list02 .layout_margin3 .title li strong{color:#0d0d0d;}
.content_community01 .layout_bg{background:#ffffff;}
.communityLiist01{height:110px; list-style:none; margin:0; padding:10px 11px; font-size:12px;}
.communityLiist01 li{width:auto; overflow:hidden; height:22px; line-height:22px; padding:0px 0px 0px 10px; background:url(../images/kr/theme01/main/icon_dotList.gif) no-repeat left 10px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.communityLiist01 dt{position:relative; height:42px; line-height:22px; margin:5px 0px 10px 0px; padding:0; overflow:hidden;}
.communityLiist01 dt span{display:block; float:left;}
.communityLiist01 dt .img_community{padding:0px 27px 0px 0px;}
.communityLiist01 dt .img_community img{border:1px solid #c7c4c5;}
.communityLiist01 dt .img_dotCommunity1{position:absolute; left:51px; top:10px; }
.communityLiist01 dt .img_dotCommunity1 img{border:0 none;}
.communityLiist01 dd{float:none; line-height:24px; margin:0; padding:0; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.communityLiist01 dd img{vertical-align:middle; margin-right:5px;}

.content_list04{padding:12px 14px;}
.content_list04 .topTitle{padding:0px 0px 7px 0px; margin:0px 0px 7px 0px; border-bottom:1px dotted #ababab; overflow:hidden;}
.content_list04 .topTitle dt{float:left; margin:0; padding:0;}
.content_list04 .topTitle dt select{width:170px;}
.content_list04 .topTitle dd{float:right; height:24px; margin:0; padding:0; background:url(../images/kr/theme01/main/btn_communityL.gif) no-repeat left top; padding:0px 0px 0px 19px; font-size:12px;}
.content_list04 .topTitle dd span{display:inline-block; height:24px; line-height:24px; background:url(../images/kr/theme01/main/btn_communityR.gif) no-repeat right top; padding:0px 19px 0px 0px; color:#333333; cursor:pointer;}
.content_list04 .layoutLeft{float:left; width:141px; padding:10px 14px; background:#ffffff; border:1px solid #cbc9c9;}
.content_list04 .layoutLeft .layoutLeftUL{list-style:none; margin:0; padding:0;}
.content_list04 .layoutLeft .layoutLeftUL li{width:auto; line-height:25px; font-size:12px; color:#424242; background:none; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.content_list04 .layoutLeft .layoutLeftUL li span{display:inline-block; float:none; padding:0px 5px; color:#e94822;}
.content_list04 .layoutLeft .layoutLeftUL li img{vertical-align:middle; margin-right:5px;}
.content_list04 .layoutRight{float:none; }
.layoutLeftDL{list-style:none; margin:0; padding:0;}
.layoutLeftDL dt{float:left; height:115px; line-height:22px; margin:0; padding:0px 14px 0px 27px; font-size:14px;}
.layoutLeftDL dt span{font-size:12px; color:#e94822;}
.layoutLeftDL dd{float:none; margin:0; padding:0px 9px; width:auto; line-height:22px; font-size:12px; color:#424242; background:url(../images/kr/theme01/main/icon_dotList.gif) no-repeat left 10px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; cursor:pointer;}
/* //community */


/* notice */
.content_notice{border:1px solid #dfdddd; overflow:hidden; margin-bottom:10px;}
.content_notice .content_list02{list-style:none; margin:0; padding:10px 16px 10px 16px; overflow:hidden;}
/* // */

/* calendar */
.calendar_mini_title{table-layout:fixed; text-align:center; font-size:13px; background:#93d086;}
.calendar_mini_title .btn_prev{width:21px; height:30px; padding:0px 1px;}
.calendar_mini_title .calendar_mini_day{width:100%; height:37px; color:#25461c;}
.calendar_mini_title .btn_next{width:21px; height:30px; padding:0px 1px;}
.calendar_mini_title span{display:inline-block;}
.calendar_mini{table-layout:fixed; border:4px solid #93d086; }
.calendar_mini th{width:14.2%; height:23px; background:#ffffff; margin:0; padding:0; border-top:0 none; border-right:0 none; border-bottom:1px solid #e6e6e6; border-left:0 none; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
.calendar_mini th.sun{color:#ee1c25;}
.calendar_mini th.sat{color:#0032cf;}
.calendar_mini td{width:14.2%; height:24px; text-align:center; cursor:pointer; font-size:12px; color:#313131;}
.calendar_mini td.sun{color:#ee1c25;}
.calendar_mini td.sat{color:#0032cf;}
.calendar_mini td.gray{color:#aaa;}
.calendar_mini td.today{background:#b7e8ac;}
.calendar_mini td.calendarDay{text-decoration:underline; color:#000000;}
.calendar_list{border:1px solid #efeeee; border-bottom:0 none;margin-bottom:10px;}
.calendar_list p{height:41px; line-height:41px; background:#d0e7c9; color:#010101; margin:0; padding:0px 18px; font-size:16px;}
.calendar_list p span{color:#006456;}
.calendar_list dl{margin:0; padding:4px 10px 4px 10px; border-bottom:1px solid #efeeee;}
.calendar_list dl dt{margin:0; padding:0; color:#050101; font-size:12px; line-height:20px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.calendar_list dl dt span{display:inline-block; height:16px; line-height:16px; color:#fff; font-size:11px;}
.calendar_list dl dt .bg_calendar01L{background:url(../images/kr/theme01/main/bg_calendar01L.gif) no-repeat left top; padding:0px 0px 0px 3px; margin-top:2px;}
.calendar_list dl dt .bg_calendar01R{background:url(../images/kr/theme01/main/bg_calendar01R.gif) no-repeat right top; padding:0px 3px 0px 0px; margin-right:5px;}
.calendar_list dl dt .bg_calendar02L{background:url(../images/kr/theme01/main/bg_calendar02L.gif) no-repeat left top; padding:0px 0px 0px 3px; margin-top:2px;}
.calendar_list dl dt .bg_calendar02R{background:url(../images/kr/theme01/main/bg_calendar02R.gif) no-repeat right top; padding:0px 3px 0px 0px; margin-right:5px;}
.calendar_list dl dd{clear:both; margin:0; padding:0; color:#595959; font-size:12px; line-height:20px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

/* //calendar */

/* mailgraph */
.content_graph{border:1px solid #dfdddd; overflow:hidden; margin-bottom:10px;}
.content_graph .content_list02{list-style:none; margin:0; padding:8px 9px 7px 9px; overflow:hidden;}
/* //mailgraph */

/* quickpoll */
.content_quickpoll{border:1px solid #dfdddd; overflow:hidden;margin-bottom:10px;}
.content_quickpoll .content_title02{margin:0; padding:0; height:42px; background:#ffffff; overflow:hidden;}
.content_quickpoll .content_title02 dt{float:none; height:41px; line-height:41px; padding:0px 0px 0px 14px; margin:0; border:1px solid #dfdddd; border-bottom:0 none; font-size:16px; font-weight:bold; color:#0d0d0d;}
.content_quickpoll .content_list02{height:89px; margin:0; padding:12px 13px 10px 13px; background:url(../images/kr/theme01/main/bg_quickpollBg.png) #e1ddca no-repeat right bottom; overflow:hidden;}
.quickpoll_list{margin:0; padding:0; overflow:hidden;}
.quickpoll_list dt{height:55px; margin:0; padding:0; line-height:18px; font-size:12px; overflow:hidden;}
.quickpoll_list dt span{color:#e94822; padding-right:3px;}
.quickpoll_list dd{width:110px; height:32px; line-height:32px; text-align:center; margin:0 auto; padding:0; color:#333333; background:url(../images/kr/theme01/main/bg_BTNquickpoll.gif) no-repeat left top; font-size:12px; cursor:pointer;}
/* //quickpoll */

/* banner */
.content_banner{border:1px solid #dfdddd; border-bottom:0 none;}
.content_banner ul{list-style:none; margin:0; padding:0;}
.content_banner ul li{cursor:pointer; border-bottom:1px solid #dfdddd;}
/* //banner */

/* staff */
.content_staff { background:#90bfec; padding:0px 3px 3px 3px; margin-bottom:10px; }
.content_staff .content_title02{margin:0; padding:0; height:42px; background:#90bfec; overflow:hidden;}
.content_staff .content_title02 dt{float:none; height:41px; line-height:41px; padding:0px 0px 0px 14px; margin:0; border:1px solid #dfdddd; border-bottom:0 none; font-size:16px; font-weight:bold; color:#0d0d0d;}
.staff_list { background:#FFF; margin:0px; overflow:hidden;}
.staff_list .photo { margin:15px auto 5px; width:83px; }
.staff_list .photo img { border:1px solid #999;}
.staff_list .txt_name { font-weight:bold;margin:0px 10px 0px; color:#333; font-size:12px; text-align:center;}
.staff_list  .txt_part {margin:3px 10px 5px; color:#555; font-size:12px; text-align:center;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/* //staff */


.nobg {background:transparent;}

/* 0414추가분 */
/* no-date  */
.nodata_h { font-size:11px; font-weight:bold; color:#999;  width:120px; margin:0px auto; text-align:center; vertical-align:middle; overflow:hidden;}
.nodata_h img { margin:10px;}
.nodata_h p { margin:0px;padding:0px; color:#8a8989;font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";}

.nodata_poll { font-size:11px; font-weight:bold; color:#999;  width:120px; margin:0px auto; text-align:center; vertical-align:middle; overflow:hidden;}
.nodata_poll img { margin:10px 0px 10px 0px;}
.nodata_poll p { margin:0px;padding:0px; color:#ffffff; font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";}

.nodata_w { position: relative; font-size:11px; font-weight:bold; color:#999;  width:250px; margin:0px auto; text-align:center; vertical-align:middle; overflow:hidden; clear:both;}
.nodata_w img {margin:10px;  vertical-align:middle; float:left;}
.nodata_w p { float:left; margin:0px;padding:0px ; color:#8a8989;font-family: "Malgun Gothic", "굴림", "Gulim", "Arial"; vertical-align:middle;  overflow:hidden;  height:70px; line-height:80px;}