/* 달력디자인 추가 css */

/* 월보기 */
.calendar_month_navi{table-layout:fixed; border:1px solid #9b9b9b; border-bottom:0px solid #014b88;}
.calendar_month_navi th{height:29px; line-height:29px; padding:0; margin:0; color:#333333; font-size:13px;}
.calendar_month_navi th .btn_prev{display: inline-block; vertical-align: top; margin: 6px 0px 0px; height:17px;cursor:pointer;}
.calendar_month_navi th .btn_next{display: inline-block; vertical-align: top; margin: 6px 0px 0px; height:17px;cursor:pointer;}
.calendar_month{table-layout:fixed; vertical-align:top;}
.calendar_month th{height:26px; background:url(images/calendar/bg_calendar_title.gif) repeat-x; border-top:0 none; border-right:1px solid #b5b5b5; border-bottom:1px solid #b5b5b5; border-left:1px solid #b5b5b5; padding:0; margin:0;}
.calendar_month th.sun{color:#ee1c25;}
.calendar_month th.sat{color:#0032cf;}
.calendar_month td{width:14.2%; border:1px solid #b5b5b5;}
.calendar_month td.gray{background:#F6F6F6;}
.calendar_month td.today{background:#eaf2f5;}
.calendar_month .td_day{table-layout:fixed; width:100%; cursor:pointer;}
.calendar_month .td_day td {height:22px; line-height:22px; border:0 none; padding:0px 0px 0px 7px; margin:0; color:#333333;}
.calendar_month .click{background:#b6b6b6;} /* 날자클릭시 백그라운드 처리 */
.calendar_month .gray td{color:#aaa;}
.calendar_month .sun td{color:#ee1c25;}
.calendar_month .sat td{color:#0032cf;}
.calendar_month .span_list{display:block; height:69px; overflow:auto;}
.calendar_month .td_list{table-layout:fixed; display:block; width:100%; overflow:hidden;}
.calendar_month .td_list td{height:20px; line-height:20px; border:0 none; padding:0px 0px 0px 7px; margin:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; cursor:pointer;}

/* 개인,부서,회사 색상 */
.calendar_month .td_list td.individual{color:#666666;}
.calendar_month .td_list td .individual{display:inline-block; width:11px; height:11px; border:1px solid #017ddf; background:#018bfa; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 개인 */
.calendar_month .td_list td.department{color:#666666;}
.calendar_month .td_list td .department{display:inline-block; width:11px; height:11px; border:1px solid #049c37; background:#01b43f; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 부서 */
.calendar_month .td_list td.company{color:#666666;}
.calendar_month .td_list td .company{display:inline-block; width:11px; height:11px; border:1px solid #e01662; background:#ff1c71; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 회사 */
.calendar_month .td_list td.Group{color:#666666;}
.calendar_month .td_list td .Group{display:inline-block; width:11px; height:11px; border:1px solid #ccc31f; background:#e9de13; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 그룹 */
/* //개인,부서,회사 색상 */
.calendar_month .td_list td .icon_h{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_h.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 상 화살표 */
.calendar_month .td_list td .icon_l{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_l.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 하 화살표 */

/* 월보기 상단 icon 개인,부서,회사 색상 */
#mainmenu ul li .icon_individual{display:inline-block; width:11px; height:11px; border:1px solid #017ddf; background:#018bfa; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 개인 */
#mainmenu ul li .icon_department{display:inline-block; width:11px; height:11px; border:1px solid #049c37; background:#01b43f; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 부서 */
#mainmenu ul li .icon_company{display:inline-block; width:11px; height:11px; border:1px solid #e01662; background:#ff1c71; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 회사 */
#mainmenu ul li .icon_Group{display:inline-block; width:11px; height:11px; border:1px solid #ccc31f; background:#e9de13; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 
 그룹 */
/* //월보기 상단 icon 개인,부서,회사 색상 */

/* //월보기 */


/* //월보기 */

/* 주보기 */
.calendar_week_navi{table-layout:fixed; border:1px solid #9b9b9b; border-bottom:0px solid #014b88;}
.calendar_week_navi th{height:29px; line-height:29px; padding:0; margin:0; color:#333333; font-size:13px;}
.calendar_week_navi th .btn_prev{display: inline-block; vertical-align: top; margin: 6px 0px 0px; height:17px;cursor:pointer;}
.calendar_week_navi th .btn_next{display: inline-block; vertical-align: top; margin: 6px 0px 0px; height:17px;cursor:pointer;}
.calendar_week_title{table-layout:fixed; height:26px; line-height:26px; vertical-align:top; border-bottom:1px solid #9b9b9b;}
.calendar_week_title th{background:#f6f6f6; border-top:1px solid #cbcbcb; border-right:1px solid #cbcbcb; border-bottom:1px solid #b6b6b6; border-left:1px solid #cbcbcb; padding:0; margin:0;}
.calendar_week_title .calendar_th_time{width:69px; background:url(images/calendar/bg_calendar_title.gif) repeat-x; border-top:0 none; border-right:1px solid #b5b5b5; border-bottom:1px solid #b6b6b6; border-left:1px solid #b5b5b5; margin:0; text-align:left;}
.calendar_week_title .calendar_th_list{background:url(images/calendar/bg_calendar_title.gif) repeat-x; border-top:0 none; border-right:1px solid #b5b5b5; border-bottom:1px solid #b6b6b6; border-left:1px solid #b5b5b5; padding:0px 0px 0px 8px; margin:0; text-align:left;}
.calendar_week_title .calendar_th_last{width:16px; background:url(images/calendar/bg_calendar_title.gif) repeat-x; border-top:0 none; border-right:1px solid #b5b5b5; border-bottom:1px solid #b6b6b6; border-left:1px solid #b5b5b5; padding:0px 0px 0px 0px; margin:0; text-align:left;}/* 20130412추가 th last영역 */
.calendar_week_title .calendar_td_last{width:16px; border-top:0 none; border-right:1px solid #b5b5b5; border-bottom:1px solid #b6b6b6; border-left:1px solid #b5b5b5; padding:0px 0px 0px 0px; margin:0; text-align:left;}/* 20130412추가 td last영역 */
.calendar_week_title .sun{color:#ee1c25; }
.calendar_week_title .sat{color:#0032cf;}
.calendar_week_title .today{background:#eaf2f5;}
.calendar_week_title .calendar_time{width:69px; border-top:0 none; border-right:1px solid #b6b6b6; border-left:1px solid #b6b6b6; background:#eaeaea; vertical-align: top;}
.calendar_week_title .calendar_time .calendar_row{table-layout:fixed;vertical-align:top; margin:0; padding:0; width:69px; }
.calendar_week_title .calendar_time .calendar_row td{height:22px; color:#898989; text-align:right; padding:0px 8px 0px 0px;}
.calendar_week_title .calendar_time .calendar_row .calendar_t_time{height:21px; }
.calendar_week_title .calendar_time .calendar_row td .point{color:#656565; font-weight:bold;}
.calendar_week_title .td_list{vertical-align:top; margin:0; padding:0; border-right:1px solid #b6b6b6; overflow:hidden; position:relative;}
.calendar_week_title .td_list .calendar_row{table-layout:fixed;vertical-align:top; margin:0; padding:0; width:100% ; }
.calendar_week_title .td_list .calendar_row td{height:22px; padding:0px 0px 0px 0px; cursor:pointer; white-space:nowrap;}
.calendar_week_title .td_list .calendar_row .calendar_t_time{height:21px;  vertical-align:top;}
.calendar_week_title .td_list .calendar_row .calendar_t_text{vertical-align:top;}

.calendar_week{table-layout:fixed; width:100%;}
.calendar_week .calendar_time{width:69px; border-top:0 none; border-right:1px solid #b6b6b6; border-left:1px solid #b6b6b6; background:#eaeaea; vertical-align: top;}
.calendar_week .calendar_time .calendar_row{table-layout:fixed;vertical-align:top; margin:0; padding:0; width:69px; border-bottom:1px solid #9b9b9b;}
.calendar_week .calendar_time .calendar_row td{height:22px; color:#898989; text-align:right; padding:0px 8px 0px 0px;}
.calendar_week .calendar_time .calendar_row .calendar_t_time{height:21px; border-bottom:1px solid #eaeaea;}
.calendar_week .calendar_time .calendar_row td .point{color:#656565; font-weight:bold;}
.calendar_week .td_list{vertical-align:top; margin:0; padding:0; border-right:1px solid #b6b6b6; overflow:hidden; position:relative;}
.calendar_week .td_list .calendar_row{table-layout:fixed;vertical-align:top; margin:0; padding:0; width:100% ;border-bottom:1px solid #9b9b9b; }
.calendar_week .td_list .calendar_row td{height:22px; padding:0px 0px 0px 0px; cursor:pointer; white-space:nowrap;}
.calendar_week .td_list .calendar_row .calendar_t_time{height:21px; border-bottom:1px solid #e6e6e8; vertical-align:top;}
.calendar_week .td_list .calendar_row .calendar_t_text{vertical-align:top;}
.calendar_week .td_list .today td{background:#eaf2f5;}/* 오늘의 일 표시배경 */
/*.calendar_week .td_list .calendar_t_time table{margin:0px 2px 0px 1px;} */
/*.calendar_week .td_list .calendar_t_text table{margin:0px 2px 0px 1px;} */


/* 20130419 수정 주보기,일보기 PIMS데이터 */
.calendar_data_individual{height:18px; background:#939ea4; border:1px solid #9198a0; line-height:150%; color:#ffffff;}/* PIMS 데이터 백그라운드 개인 */
.calendar_data_individual table td{background:#818f98 !important; color:#fff;}
.calendar_data_individual .individual{display:inline-block; width:11px; height:11px; border:1px solid #017ddf; background:#018bfa; overflow:hidden; margin:-2px 5px 0px 2px; padding:0; vertical-align:middle;}
.calendar_data_individual .icon_h{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_h.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 상 화살표 */
.calendar_data_individual .icon_l{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_l.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 하 살표 */
.calendar_data_department{height:18px; background:#939ea4; border:1px solid #9198a0; line-height:150%; color:#ffffff;}/* PIMS 데이터 백그라운드 부서 */
.calendar_data_department table td{background:#818f98 !important; color:#fff;}
.calendar_data_department .department{display:inline-block; width:11px; height:11px; border:1px solid #049c37; background:#01b43f; overflow:hidden; margin:-2px 5px 0px 2px; padding:0; vertical-align:middle;}
.calendar_data_department .icon_h{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_h.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 상 화살표 */
.calendar_data_department .icon_l{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_l.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 하 화살표 */

.calendar_data_Group{height:18px; background:#939ea4; border:1px solid #9198a0; line-height:150%; color:#ffffff;}/* PIMS 데이터 백그라운드 회사 */
.calendar_data_Group table td{background:#818f98 !important; color:#fff;}
.calendar_data_Group .Group{display:inline-block; width:11px; height:11px; border:1px solid #ccc31f; background:#e9de13; overflow:hidden; margin:-2px 5px 0px 2px; padding:0; vertical-align:middle;}
.calendar_data_Group .icon_h{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_h.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 상 화살표 */
.calendar_data_Group .icon_l{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_l.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 하 화살표 */

.calendar_data_company{height:18px; background:#939ea4; border:1px solid #9198a0; line-height:150%; color:#ffffff;}/* PIMS 데이터 백그라운드 회사 */
.calendar_data_company table td{background:#818f98 !important; color:#fff;}
.calendar_data_company .company{display:inline-block; width:11px; height:11px; border:1px solid #e01662; background:#ff1c71; overflow:hidden; margin:-2px 5px 0px 2px; padding:0; vertical-align:middle;}
.calendar_data_company .icon_h{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_h.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 상 화살표 */
.calendar_data_company .icon_l{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_l.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 중요도 하 화살표 */
/* //주보기 */

/*.calendar_data_individual{height:18px; background:#939ea4; border:1px solid #3398ea; line-height:150%; color:#ffffff;}/* PIMS 데이터 백그라운드 개인 */
/*.calendar_data_department{height:18px; background:#34c463; border:1px solid #35b060; line-height:150%; color:#ffffff;}/* PIMS 데이터 백그라운드 부서 */
/*.calendar_data_company{height:18px; background:#fc5e99; border:1px solid #f84a89; line-height:150%; color:#ffffff;}/* PIMS 데이터 백그라운드 회사 */


/* 일보기 */
.calendar_day_title{vertical-align:top;}
.calendar_day_title th{height:26px; line-height:26px; background:url(images/calendar/bg_calendar_title.gif) repeat-x; border-top:1px solid #9b9b9b; border-right:1px solid #b5b5b5; border-bottom:1px solid #b5b5b5; border-left:1px solid #b5b5b5; padding:0; margin:0; color:#333;}
.calendar_day_title th .btn_prev{display: inline-block; vertical-align: top; margin: 4px 0px 0px; height:17px;cursor:pointer;}
.calendar_day_title th .btn_next{display: inline-block; vertical-align: top; margin: 4px 0px 0px; height:17px;cursor:pointer;}
.calendar_day_title .calendar_time{width:61px; border:1px solid #9b9b9b; border-right:1px solid #b6b6b6; border-top:0 none; background:#eaeaea;vertical-align: top;}
.calendar_day_title .td_list{border:1px solid #9b9b9b; border-left:0 none; border-top:0 none; vertical-align:top;}
.calendar_day_title .calendar_time .calendar_row{vertical-align:top; margin:0; padding:0; width:69px; }
.calendar_day_title .calendar_time .calendar_row td{height:22px; padding:0px 8px 0px 0px; text-align:right; color:#898989;}
.calendar_day_title .calendar_time .calendar_row .calendar_t_time{height:21px; }
.calendar_day_title .calendar_time .calendar_row td .point{color:#656565; font-weight:bold;}
.calendar_day_title .td_list .calendar_row{table-layout:fixed; vertical-align:top; margin:0; padding:0; width:100%; }
.calendar_day_title .td_list .calendar_row td{height:22px; padding:0px 0px 0px 0px; cursor:pointer;}
.calendar_day_title .td_list .calendar_row .calendar_t_time{height:21px;  vertical-align:top;}
.calendar_day_title .td_list .calendar_row .calendar_t_text{vertical-align:top;}
.calendar_day_title .td_list .today td{background:#eaf2f5;}
.calendar_day{vertical-align:top;}
.calendar_day .calendar_time{width:61px; border:1px solid #9b9b9b; border-right:1px solid #b6b6b6; border-top:0 none; background:#eaeaea;vertical-align: top;}
.calendar_day .td_list{width:100%; border:1px solid #9b9b9b; border-left:0 none; border-top:0 none; vertical-align:top;}
.calendar_day .calendar_time .calendar_row{vertical-align:top; margin:0; padding:0; width:69px; border-bottom:1px solid #9b9b9b;}
.calendar_day .calendar_time .calendar_row td{height:22px; padding:0px 8px 0px 0px; text-align:right; color:#898989;}
.calendar_day .calendar_time .calendar_row .calendar_t_time{height:21px; border-bottom:1px solid #eaeaea;}
.calendar_day .calendar_time .calendar_row td .point{color:#656565; font-weight:bold;}
.calendar_day .td_list .calendar_row{vertical-align:top; margin:0; padding:0; width:100%; border-bottom:1px solid #9b9b9b;}
.calendar_day .td_list .calendar_row td{height:22px; padding:0px 0px 0px 0px; cursor:pointer;}
.calendar_day .td_list .calendar_row .calendar_t_time{height:21px; border-bottom:1px solid #e6e6e8; vertical-align:top;}
.calendar_day .td_list .calendar_row .calendar_t_text{vertical-align:top;}
.calendar_day .td_list .today td{background:#eaf2f5;}

/* //일보기 */

/* 미니달력 */
.calendar_mini_title{table-layout:fixed; text-align:center; border:0px solid #a6a6a6; border-bottom:0 none;}
.calendar_mini_title td{vertical-align:middle;}
.calendar_mini_title .btn_pprev{width:21px; height:30px; padding:0px 0px;cursor:pointer;}
.calendar_mini_title .btn_prev{width:21px; height:30px; padding:0px 0px;cursor:pointer;}
.calendar_mini_title .calendar_mini_day{width:100%; height:30px; line-height:30px;}
.calendar_mini_title .btn_next{width:21px; height:30px; padding:0px 0px;cursor:pointer;}
.calendar_mini_title .btn_nnext{width:21px; height:30px; padding:0px 0px;cursor:pointer;}
.calendar_mini_title span{display:inline-block;}
.calendar_mini{table-layout:fixed; border:1px solid #a6a6a6; border-top:0 none;}
.calendar_mini th{width:14.2%; height:20px;  background:#c6c6c6; margin:0; padding:0;  border-top:1px solid #a7a6a6;  border-right:0 none; border-bottom:1px solid #a7a6a6; border-left:0 none; font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#3d3b3b;}
.calendar_mini th.sun{color:#ee1c25;} /* 흰색으로 수정 원본-> .calendar_mini th.sun{color:#ee1c25;} */
.calendar_mini th.sat{color:#0032cf;} /* 흰색으로 수정 원본-> .calendar_mini th.sat{color:#0032cf;} */
.calendar_mini td{width:14.2%; height:22px; text-align:center; cursor:pointer;background:#fff;}
.calendar_mini td div{height:22px; line-height:22px; cursor:pointer;}
.calendar_mini td.sun{color:#ee1c25;}
.calendar_mini td.sat{color:#0032cf;}
.calendar_mini td.gray{color:#aaa;}
.calendar_mini td.today{background:#c0cae5;}
/* //미니달력 */


/* //달력디자인 추가 css */

/* 달력layer 팝업 */
.calendar_layer{width:200px; table-layout:fixed; border:1px solid #4e4e46; border-collapse:separate; border-spacing:0; overflow:hidden;}
.calendar_layer th{margin:0; padding:8px 10px; border:0; font-size:13px; color:#383838; white-space:normal; text-align:left; word-break:break-all;}
.calendar_layer td{margin:0; padding:0;}
.calendar_layer .text{padding:10px; border:1px solid #e5e5e5; border-bottom:0 none; overflow:hidden;}
.calendar_layer .text .td_list{border:0 none; overflow:hidden;}
.calendar_layer .text .td_list td{padding:3px 0px; color:#393939;}
.calendar_layer .btn{background:#fff; border:1px solid #e5e5e5; border-top:1px solid #dedede; padding:10px 0px 9px 0px; margin:0 auto; text-align:center;}
.calendar_layer .btn ul{list-style:none; margin:0 20px; padding:0px 3px; overflow:hidden; text-align:center;width:200px;clear:both;list-style-type:none}
.calendar_layer .btn ul li{float:left; height:27px; line-height:27px; background:url(images/calendar/btn_calendar_l.gif) no-repeat left top; padding:0px 3px 0px 8px;}
.calendar_layer .btn ul li span{display:inline-block; background:url(images/calendar/btn_calendar_r.gif) no-repeat right top; padding:0px 8px 0px 3px; font-weight:normal; color:#555555;}

/* 개인,부서,회사 색상 */
.calendar_layer .text .td_list td.individual{color:#008af7;}
.calendar_layer .text .td_list td .individual{display:inline-block; width:11px; height:11px; border:1px solid #017ddf; background:#018bfa; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 개인 */
.calendar_layer .text .td_list td.department{color:#00b43b;}
.calendar_layer .text .td_list td .department{display:inline-block; width:11px; height:11px; border:1px solid #049c37; background:#01b43f; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 부서 */
.calendar_layer .text .td_list td.Group{color:#333333;}
.calendar_layer .text .td_list td .Group{display:inline-block; width:11px; height:11px; border:1px solid #ccc31f; background:#e9de13; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 그룹 */
.calendar_layer .text .td_list td.company{color:#ff1e70;}
.calendar_layer .text .td_list td .company{display:inline-block; width:11px; height:11px; border:1px solid #e01662; background:#ff1c71; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 회사 */
/* //개인,부서,회사 색상 */
.calendar_layer .text .td_list td .icon_h{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_h.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 위 화살표 */
.calendar_layer .text .td_list td .icon_l{display:inline-block; width:13px; height:13px; background:url(images/calendar/i_l.png) no-repeat; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 아래화살표 */
.calendar_layer .text .td_list td .width_11{display:inline-block; width:13px; height:13px; background:transparent; overflow:hidden; margin:-2px 5px 0px 0px; padding:0; vertical-align:middle;}/* 공백width */

/* //달력layer 팝업 */

/* //달력디자인 추가 css */


