.webFolderImg2 {height: 18px; width: 18px; padding: 7px 2px; margin-left: 5px;}
.spanName2 {height: 32px; line-height: 32px; color: #666666; padding-top: 1px; font-size: 12px; vertical-align: top; background-image: none; background-attachment: scroll; background-repeat: repeat; background-position-x: 0%; background-position-y: 0%; background-color: transparent; display:inline-block; width:200px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.webFolderDiv {height: 32px; border-bottom: 1px solid #ddd; vertical-align: middle; cursor: pointer;}
.webFolderDiv:hover {background-color: #f4f5f5;}

.webFolderDiv2 {height: 32px; border-bottom: 1px solid #ddd; vertical-align: middle; background-color:#f1f8ff; cursor: pointer;}
.wfdivBttn {text-align: center; margin: -9px; margin-top: 10px; padding: 7px; border-top: 1px solid #eee; background-color: #fcfcfc;}

.bnkWebFolder:hover {background-color: #f4f5f5; cursor: pointer;}
.bnkWebFolder2 {background-color: #f1f8ff; cursor: pointer;}
.bnkWebFolder .checkBnk {vertical-align: middle;}

.none-drag, .webFolderImg {vertical-align: middle; user-drag: none; user-select: none; -moz-user-select: none; -webkit-user-drag: none; -webkit-user-select: none; -ms-user-select: none;}

.webFolderImg {height: 16px; width: 16px;}

#progress-wrp {border: 1px solid rgb(160,230,243); padding: 1px; position: relative; border-radius: 3px; margin: 10px; text-align: left; background: #fff;}
#progress-wrp .progress-bar {height: 20px; border-radius: 3px; background-color: rgb(160,230,243); width: 0;}
#progress-wrp .status {top:4px; left:48%; position:absolute; display:inline-block; color: #333; font-weight: bold; font-family: monospace;}

.webfolderBttn {white-space: nowrap; display: inline-block; background-repeat: no-repeat; padding-left: 12px; vertical-align: top; cursor: pointer; margin-bottom: 2px; border: 1px solid #ccc; border-radius: 2px; background-color: white; box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); border: 1px solid #c3c3c3; height: 24px;}
.webfolderBttn span {background-repeat: no-repeat; height: 20px; padding-right: 12px; font-size: 12px; letter-spacing: -1; vertical-align: top; height: 24px; line-height: 24px; font-weight: bold; color: #000;}
.webfolderBttn span:hover, .webfolderBttn2 span:hover, #mainmenu2 > ul > li > a > span:hover {color:rgb(4, 112, 227); border-color:rgb(4, 112, 227);}

.webfolderBttn2{cursor: pointer; line-height: 30px;}
.webfolderBttn2 span {color: #393939; display:inline-block; border:1px solid #d2d2d2; border-radius:2px; padding:0px 4px; height:27px; font-size:12px; letter-spacing:-1; vertical-align:top; line-height:30px; text-align: center; box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);}

.webfolderBttn3 {cursor: pointer; line-height: 30px;}
.webfolderBttn3 span {color: #666; display:inline-block; border:1px solid #ccc; border-radius:3px; padding:0px 10px; height:30px; font-size:12px; letter-spacing:-1; vertical-align:top; line-height:30px; text-align: center;}

.webfolderImg {width: 18px; height: 18px; vertical-align:top; margin-top:4px;}
.spanName {height: 22px; line-height: 22px; color: #666666; padding-top: 1px; font-size: 12px; vertical-align: top; cursor: pointer; background-image: none; background-attachment: scroll; background-repeat: repeat; background-position-x: 0%; background-position-y: 0%; background-color: transparent; display:inline-block; white-space:nowrap;}
.spanName3 {height: 22px; line-height: 22px; color: #666666; padding-top: 1px; font-size: 12px; vertical-align: top; cursor: pointer; background-image: none; background-attachment: scroll; background-repeat: repeat; background-position-x: 0%; background-position-y: 0%; background-color: transparent; display:inline-block; white-space:nowrap; overflow:hidden;}

.webfolderMinus {cursor: pointer; margin-top:4px; vertical-align:top;padding : 6px 4px 0px 4px;}
.webfolderPlus {cursor: pointer; margin-top:4px; vertical-align:top; padding : 4px 6px 0px 5px;}

#layer_Viewpopup {z-index:1000; margin:0px; padding:0px;}
#layer_Viewpopup .btn_area {border-top:1px solid #e5e5e5; margin:10px 0px 0px 0px; padding:10px 0px 0px;}

#layer_Viewpopup .popupwrap3 {position:relative; padding:10px; background:url("../images/kr/cm/popup_layerbg.gif") repeat-x;}
#layer_Viewpopup .popupwrap3 h1 {font-size:13px; margin:0px 0px 10px 0px; height:24px; line-height:15px; padding:0px; color:#fff; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

#x_close {position:absolute; top:10px; right:5px; height:12px; width:12px ; padding:0px 5px; cursor: pointer; background:url(../images/kr/cm/btn_colse.gif) no-repeat center; font-size:0px;}
#x_close em {display:none;}

.list_element, .list_element th, .list_element td {border:0;}
.list_element {width:100%; font-size:12px; table-layout:fixed;}
.list_element caption {display:none}
.list_element th {padding:5px 0px 5px 5px; background:url(/images/kr/cm/dot_blue.gif) no-repeat 0px 12px; color:#666; text-align:left; vertical-align:top; line-height:20px; font-weight:normal;}
.list_element td {padding:5px 0px 5px 5px; line-height:16px; vertical-align:top; color:#666; text-align:left;}

.btnSearch {border:1px solid #ccc; height:18px; line-height:16px;}
.btnSearch span {background:none;}

.btnSave {border:1px solid #ddd; color:#333; height:30px; line-height:30px; padding:0px 10px;}
.btnSave span {color:#333; padding:0px; line-height:30px;}

.btnCancel{border:1px solid #ddd; color:#333; height:30px; line-height:30px; padding:0px 10px;}
.btnCancel span {color:#333; padding:0px; line-height:30px;}

.userInfo:hover {cursor:pointer;}
.userInfo:hover {background-color:#f4f5f5;}
.userInfo2 {cursor:pointer; background-color:#f1f8ff;}

.selectedDept {cursor:pointer;}
.selectedDept:hover {background-color:#f4f5f5;}
.selectedDept2 {cursor:pointer; background-color:#f1f8ff;}

.selectedUser {cursor:pointer;}
.selectedUser:hover {background-color:#f4f5f5;}
.selectedUser2 {cursor:pointer; background-color:#f1f8ff;}

.separator {font-size:14px; padding-right: 5px; line-height: 18px; margin-bottom:4px;white-space: nowrap; display: inline-block;display: table-cell }
.aName {cursor: pointer; white-space: nowrap; display: inline-block; overflow: hidden; text-overflow: ellipsis; min-width: 20px;justify-content: flex-start;display: table-cell}
.aName div:hover {color: #e04343;}
.aName div{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;display: table-cell;}

.mainPath {white-space: nowrap; display: inline-block; display: table;}
.mainPath >div:last-child {min-width: initial; width: auto;}

.wfListCnt {height: 20px; width: 40px;}

.myBar_red    {height: 7px; background-color: #ff4040;}
.myBar_yellow {height: 7px; background-color: #ff9c00;}
.myBar_green  {height: 7px; background-color: #4faaff;}

.jstree-default a { white-space:normal ; height: auto; }
.jstree-anchor { height: 21px !important; }
.jstree-default li > ins { vertical-align:top; }
.jstree-leaf { height: auto; }
.jstree-leaf a { height: 21px !important; }

.mainbody {overflow: hidden;}

#mainmenu2 {clear: both; margin:0; padding:0; margin-bottom:10px !important;}
#mainmenu2 > ul{width:100%; padding:0; margin:0; margin-bottom:3px !important; height:30px;}
#mainmenu2 > ul > li img {vertical-align:middle;}
#mainmenu2 > ul > li, #mainmenu2 li.off {display:block; float:left; margin:0 1px 0 1px; cursor:pointer; line-height:27px; padding-right:3px;}
#mainmenu2 > ul > li > a > span, #mainmenu2 > ul > li > a > span.off {display:block; float:left; padding:5px 4px; font-size:12px; letter-spacing:-1; padding-top:7px; border:1px solid #d2d2d2; color:#666; border-radius: 2px; box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);}
#mainmenu2 li span img, #mainmenu2 li span.off img {vertical-align:middle;}
#mainmenu2 li.on {}
#mainmenu2 li.on > a > span {color:rgb(4, 112, 227); border-color:rgb(4, 112, 227);}
body[favoritemode] #mainmenu > ul > li:not([favoritemenu]), body[favoritemode] #originalPathWrapper, body:not([favoritemode]) #paginationCorrector {display:none;}
body[favoritemode] #paginationCorrector {height: 40px;}
body[favoritemode] #layer_Viewpopup {top:90px !important;}
#mainmenu2 > ul > li[hidden] {display:none;}
#mainmenu2 > ul > li >a {margin-top:3px;}
#mainmenu2 > ul #right {float: right; cursor: default;}
#mainmenu2 > ul #right span {padding-right: 5px;}
#mainmenu .select {height: 29px; padding: 1px 0px 0px 4px; width: 150px;}

#fileTypeSelect {height:29px; width:95px;}
#companySelect {margin: 10px 0px;}
#companySelect >span {font-size: 12px; display:inline-block; vertical-align: middle;}
#companySelect >select {font-size:12px; height:20px; display:inline-block;}
#dragDropArea {margin:0px 0px 0px !important; }
#fileTypeVal {height: 25px; padding: 0px; width: 85px;}
#file {width:1px; height:1px; display:none;}
#AttachDownFrame {width:0px; height:0px; display:none;}

.wfSearchPanel, .wfpersonal {z-index:2000; position:fixed; height:auto; border:1px solid #666666; background-color: #fff;; border-radius: 5px;}
.wfSearchPanel, .wfpersonal {width: 478px;}
.wftable {border-collapse:collapse; width:100%;}
.wftablefile {width:100%; text-algin:center;}
.wfSearchTh {text-align: center;}
.wfSearchTh2 {border-left-color:white !important;border-right-color:white !important;height:10px !important;}
.wfSearchTd {border:1px solid #b6b6b6; background-color:#fff; min-width:367px; width:367px;}
.wfSearchTd input[type='text'] { width: 100%;}
.wfFogPanel {width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:1000; background:none rgba(0,0,0,0.5);}
.wfPopup {z-index:2000; position:absolute;}

#left ol.on {padding : 0px 0px 0px 5px;}
#left ol li {padding : 1px 0px 0px 0px;}
/* 2018-08-23 홍승비 - 웹폴더 폴더명 ellipsis 작업 */
.webfolderTree {min-height:200px; font-size: 20px; padding-bottom:3px;padding-top:5px;}

.spanDown, .spanUp {cursor:pointer; border-radius: 50%; border: 0px; text-align: center; line-height: 14px; margin-top: -1px; position: relative; width: 14px; height: 14px; display: inline-block; vertical-align: middle; margin-left: 2px;}
.spanDown:before {display: inline-block; content: ""; transition: transform .15s linear; font-size: 23px; color: #aeaeae; border-color: #333 transparent; border-style: solid; border-width: 5px 4px 0px; position: absolute; top: 50%; left: 50%; margin-left: -4px; margin-top: -2px;}
.spanUp:before {display: inline-block; content: ""; transition: transform .15s linear; font-size: 23px; color: #aeaeae; border-color: #333 transparent; border-style: solid; border-width: 0px 4px 5px; position: absolute; top: 50%; left: 50%; margin-left: -4px; margin-top: -2px;}
.ui-datepicker .ui-datepicker-title select {height:22px; }

.wfClose {position: absolute; right: 10px; top: 10px;}
.wfClose >ul {margin: 0px; padding: 0px; list-style: none;}
.wfClose >ul >li {display: block; float: left; margin: 0px; height: 28px; padding: 0px; vertical-align: top; cursor: pointer; vertical-align: middle;}
.wfClose >ul >li >span {display: inline-block; width: 25px; height: 28px; background-image: url(/images/close_xBtn.png); background-repeat: no-repeat; background-position: 4px 6px;}

.wfSearchPanel h1, .wfpersonal h1 {margin-top: 0px !important;}
.wfcompstdiv {width: 400px; text-align: center;}
#forScroll			{width: 6px; padding:0px;}
.wfFilecheck 		{width: 2%; min-width:35px;}
.wfFileFavorite		{width: 3%; text-align: center; min-width:35px;}
.wfFileType 		{width: 3%; text-align: center;}
.wfFileName			{width: 30%;}
.wfFileSize 		{width: 7%; text-align: center;}
.wfFileCreator 		{width: 6.5%;}
.wfFileUploadDate 	{width: 9%;}
.wfFileUpdateDate 	{width: 9%;}
.wfFilePath 		{width: 25%}
.wfFileShare 		{width: 5.5%; text-align: center;}
.wfFileShareDate	{width: 7%;}
.wfFileShareDate2	{width: 7%;}
.wfFileShareMember	{min-width:10px; width:6.5%;}
.wfFileShareMember2	{min-width:10px; width:6.5%;}
.wfFileSharedDate	{min-width:10px; width:7%;}
.wfFileFavoriteSize		{min-width:10px; width:11%;}
.wfFileFavoriteDate		{min-width:10px; width:13%;}
.wfFileAdminDate		{min-width:10px; width:9%;}
.wfFileDownload		{min-width:10px; width:10%;}
.wfActive			{min-width:10px; width:10%;}
.wfFileLogDate		{min-width:10px; width:24%;}
.wfFileLogName		{min-width:10px; width:35%;}
.wfFileLogMember	{min-width:10px; width:17%;}
.wfConfigCompany	{min-width:10px; width:18%;}
.wfConfigCapacity	{min-width:10px; width:12%;}
#capacity-wrapper {display: none;}
#capacity-wrapper > div.progressbar {float: inherit; width: 150px; display: inline-block; vertical-align: middle; margin-left: 15px; border-radius: 15px; overflow:hidden;}
#capacity-bar {background-color: #82b9f6; height: 15px; width: 0px;}
#capacity-percent {display: inline-block; text-align: right;}
.headListClick {cursor:pointer;}

#tree, #treeDept, #treePer {padding-top: 0px; padding-left: 4px;}
