USE [ezApprovalG_0000KFI]
GO
/****** Object:  Table [dbo].[TBDOCUMENT24LIST]    Script Date: 2018-12-13 오후 5:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBDOCUMENT24LIST](
	[orgCd] [varchar](7) NOT NULL,
	[cmpnyNm] [nvarchar](120) NULL,
	[SenderNm] [nvarchar](200) NULL,
	[bizrno] [nvarchar](20) NULL,
	[adres] [nvarchar](200) NULL,
	[deleteFlag] [char](1) NULL,
	[updateDe] [varchar](8) NULL,
	[deleteDe] [varchar](8) NULL,
 CONSTRAINT [PK_TBDOCUMENT24LIST] PRIMARY KEY CLUSTERED 
(
	[orgCd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[EZSP_DOC24_GETDEPTLIST]    Script Date: 2018-12-13 오후 5:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: 2018.11.28
-- Description:	수신처 정보 목록
-- =============================================
CREATE PROCEDURE [dbo].[EZSP_DOC24_GETDEPTLIST]
	@SERACHQUERY	varchar(1000)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @STRQUERY AS NVARCHAR(MAX)
	SET @STRQUERY = N' SELECT * FROM [TBDOCUMENT24LIST] WITH(NOLOCK) WHERE deleteFlag =''N'' '

	IF (LEN(@SERACHQUERY) > 0) 
	BEGIN 
		SET @STRQUERY = @STRQUERY + @SERACHQUERY
	END

	EXEC SP_EXECUTESQL @STRQUERY
END

GO
/****** Object:  StoredProcedure [dbo].[EZSP_DOC24_GETREQRESENDYN]    Script Date: 2018-12-13 오후 5:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: 2018.11.30
-- Description:	재발송요청 처리여부
-- =============================================
CREATE PROCEDURE [dbo].[EZSP_DOC24_GETREQRESENDYN]
	 @DOCID varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT CASE WHEN SUBSTRING(xFromCode, 1, 1) = 'M' THEN  
				CASE WHEN  SUBSTRING(xFromCode, 1, 2) = 'MA' THEN 'Y' ELSE 'N' END 
			ELSE 'N' END FROM recRelayInfo WITH(NOLOCK) 
	WHERE Docid= @DOCID
END

GO
/****** Object:  StoredProcedure [dbo].[EZSP_DOC24_SETRECPARAMETERINFO]    Script Date: 2018-12-13 오후 5:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: 2018.12.13
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EZSP_DOC24_SETRECPARAMETERINFO]	
	@orgCd	varchar(7),
	@cmpnyNm	nvarchar(120),
	@senderNm	nvarchar(200),
	@bizrno	nvarchar(20),
	@adres	nvarchar(200),
	@deleteFlag char(1),
	@updateDe varchar(8),
	@deleteDe varchar(8)
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	IF EXISTS( SELECT * FROM TBDOCUMENT24LIST WITH(NOLOCK) WHERE orgCd = @orgCd)
	BEGIN
		UPDATE TBDOCUMENT24LIST
		SET cmpnyNm = @cmpnyNm, 
			SenderNm = @senderNm,
			bizrno = @bizrno, 
			adres = @adres,
			deleteFlag = @deleteFlag, 
			updateDe = @updateDe, 
			deleteDe = @deleteDe
		WHERE orgCd = @orgCd
	END
	ELSE	
	BEGIN	
	   	INSERT INTO TBDOCUMENT24LIST (orgCd,cmpnyNm,SenderNm,bizrno,adres, deleteFlag ,updateDe,deleteDe)
		VALUES(@orgCd, @cmpnyNm, @senderNm, @bizrno, @adres, @deleteFlag, @updateDe, @deleteDe) 
	END
END

GO
/****** Object:  StoredProcedure [dbo].[EZSP_DOC24_GETREQRESENDYN]    Script Date: 2019-01-04 오후 3:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: 2018.11.30
-- Description:	문서24 수신 정보
-- =============================================
CREATE PROCEDURE [dbo].[EZSP_DOC24_GETRELAYINFO]
	 @DOCID varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT xFromCode as DEPTCODE, mFrom as DEPTNAME
	FROM recRelayInfo WITH(NOLOCK) 
	WHERE Docid= @DOCID
END

GO
/****** Object:  StoredProcedure [dbo].[EZSP_INSERTFORM]    Script Date: 2019-01-03 오후 6:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EZSP_DOC24_INSERTRECIPTINFO]
(
	@DOCID		CHAR(20),
	@DeptCode		NVARCHAR(60),
	@DeptName		NVARCHAR(60)
)
AS

SET XACT_ABORT ON BEGIN TRAN

INSERT INTO TBRECEIPTPOINTINFO (DocID, ReceiptPointID, ReceiptPointName, ExtReceptYN, ProcessYN, ProcessSN,
      CanEditYN, ExtReceptEmail, ReceiptMemberID, ReceiptMemberName, ProcessDate, ReceiptMemberJobTitle, DeptMemberSN,
      ReceiptPointName2, ReceiptMemberJobTitle2, ReceiptMemberName2, RouteYN)
VALUES (@DOCID, @DeptCode,@DeptName, 'Y', 'N', '1', 'N',
		'', '', '', NULL, '', '1', @DeptName,'','',NULL)

IF @@ERROR <> 0
BEGIN
	ROLLBACK TRAN
END
ELSE
BEGIN
	COMMIT TRAN
END




