<p style="text-align: center;">
    <span class="" style="font-size: 36px;">&nbsp;</span>
    <span class="" style="font-size: 36px; text-decoration: underline;">회 &nbsp; &nbsp; 의 &nbsp; &nbsp; 록</span>
</p>
<p style="text-align: center;">
    <span class="" style="font-size: 36px; text-decoration: none;">&nbsp;</span>
    <span class="" style="font-size: 36px; text-decoration: none;">&nbsp;</span>
</p>
<table style="word-break: break-all; word-wrap: break-word; border-collapse: collapse; border: 1px none rgb(0, 0, 0); width: 835px; height: 100px;" class="" align="center">
    <tbody>
    <tr>
        <td style="vertical-align: middle; width: 491px; border-width: 1px; border-style: none solid none none; border-color: rgb(0, 0, 0); height: 35px;" class="">
            <p>
                <span>&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 42px; border-width: 3px 1px 3px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241);" class="" rowspan="2" colspan="">
            <p style="text-align: center;">
                <span class="" style="font-size: 18px; font-weight: bold;">결</span>
            </p>
            <p style="text-align: center;">
                <span class="" style="font-size: 18px; font-weight: bold;">&nbsp;</span>
            </p>
            <p style="text-align: center;" class="">
                <span class="" style="font-size: 18px; font-weight: bold;">&nbsp;재</span>
                <span class="" style="font-size: 18px; font-weight: bold;">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center;">
                <span class="" style="font-size: 16px; font-weight: bold;">&nbsp;담 당</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center;">
                <span class="" style="font-size: 16px; font-weight: bold;">팀 장&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 72px; border-width: 3px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center;">
                <span class="" style="font-size: 16px; font-weight: bold;">사 장</span>
                <span class="" style="font-size: 16px; font-weight: bold;">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 491px; border-width: 1px; border-style: none solid none none; border-color: rgb(0, 0, 0); height: 58px;" class="">
            <p>
                <span>&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 58px;" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 58px;" class="">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 72px; border-width: 1px 3px 3px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 58px;" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p style="text-align: center;">
    <span class="" style="font-size: 12px; text-decoration: none;">​</span>
</p>
<table style="word-break: break-all; word-wrap: break-word; border-collapse: collapse; border: 1px none rgb(0, 0, 0); width: 835px; height: 889px;" align="center">
    <tbody>
    <tr>
        <td style="vertical-align: middle; width: 127px; border-width: 3px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 46px; background-color: rgb(217, 217, 217);" class="">
            <p style="text-align: center;">
                <span class="" style="font-weight: bold; font-size: 16px;">제 목&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 692px; border-width: 3px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 46px;" class="" rowspan="1" colspan="3">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 127px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 49px; background-color: rgb(217, 217, 217);" class="">
            <p style="text-align: center;">
                <span class="" style="font-weight: bold; font-size: 16px;">&nbsp;회의일자</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 377px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 49px;" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 99px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 49px; background-color: rgb(217, 217, 217);" class="">
            <p style="text-align: center;">
                <span class="" style="font-weight: bold; font-size: 16px;">&nbsp;</span>
                <span class="" style="font-weight: bold; font-size: 16px;">작성자</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 217px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 49px;" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 127px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 54px; background-color: rgb(217, 217, 217);" class="">
            <p style="text-align: center;">
                <span class="" style="font-weight: bold; font-size: 16px;">참석장소&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 692px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 54px;" class="" rowspan="1" colspan="3">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 127px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 48px; background-color: rgb(217, 217, 217);" class="">
            <p style="text-align: center;">
                <span class="" style="font-weight: bold; font-size: 16px;">참석인원&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 692px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 48px;" class="" rowspan="1" colspan="3">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 818px; border-width: 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 50px; background-color: rgb(217, 217, 217);" class="" rowspan="" colspan="4">
            <p class="">
                <span class="">&nbsp; &nbsp; </span>
                <span class="" style="font-weight: bold; font-size: 16px;">회의 내용</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 821px; border-width: 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 354px;" class="" rowspan="" colspan="4">
            <p>
                <span>&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 821px; border-width: 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 38px; background-color: rgb(217, 217, 217);" class="" rowspan="" colspan="4">
            <p class="">
                <span class="" style="font-weight: bold; font-size: 16px;">&nbsp; &nbsp; 기타</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 821px; border-width: 1px 3px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 219px;" class="" rowspan="" colspan="4">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <span>&nbsp;</span>
</p>