<p style="text-align: center">
    <span class="" style="font-size: 36px">&nbsp;</span>
    <span class="" style="font-size: 36px; text-decoration: underline">업 &nbsp;무 &nbsp;보 &nbsp;고 &nbsp;서</span>
</p>
<p>
    <span class="">&nbsp;</span>
</p>
<p>
    <span class="">&nbsp;</span>
</p>
<p>
    <span class="">&nbsp;</span>
</p>
<p>
    <span class="">&nbsp;</span>
</p>
<table style="word-break: break-all; word-wrap: break-word; border-collapse: collapse; border: 1px none rgb(0, 0, 0); width: 835px; height: 100px" class="" align="center">
    <tbody>
    <tr>
        <td style="vertical-align: middle; width: 491px; border-width: 1px; border-style: none solid none none; border-color: rgb(0, 0, 0); height: 35px" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 42px; border-width: 3px 1px 3px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241)" class="" rowspan="2" colspan="">
            <p style="text-align: center">
                <span class="" style="font-size: 18px; font-weight: bold">결</span>
            </p>
            <p style="text-align: center">
                <span class="" style="font-size: 18px; font-weight: bold">&nbsp;</span>
            </p>
            <p style="text-align: center" class="">
                <span class="" style="font-size: 18px; font-weight: bold">&nbsp;재</span>
                <span class="" style="font-size: 18px; font-weight: bold">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241)" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 16px; font-weight: bold">&nbsp;담 당</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241)" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 16px; font-weight: bold">팀 장&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 72px; border-width: 3px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241)" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 16px; font-weight: bold">사 장</span>
                <span class="" style="font-size: 16px; font-weight: bold">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 491px; border-width: 1px; border-style: none solid none none; border-color: rgb(0, 0, 0); height: 58px" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 58px" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 58px" class="">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 72px; border-width: 1px 3px 3px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 58px" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <span class="">&nbsp;</span>
    <span class="">&nbsp;</span>
</p>
<p>
    <span class="">&nbsp;</span>
</p>
<table style="word-break: break-all; word-wrap: break-word; border-collapse: collapse; border: 1px none rgb(0, 0, 0); width: 835px; height: 37px;" class="" align="center">
    <tbody>
    <tr>
        <td style="vertical-align: middle; width: 129px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55px; background-color: rgb(198, 217, 241);" class="" rowspan="1" colspan="">
            <p style="text-align: center">
                <span class="" style="font-size: 18px">작 성</span>
                <span class="" style="font-size: 18px"> </span>
                <span class="" style="font-size: 18px">자&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 295px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55px;" class="">
            <p style="text-align: center">
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 101px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55px; background-color: rgb(198, 217, 241);" class="" rowspan="1" colspan="">
            <p style="text-align: center">
                <span class="" style="font-size: 18px">작 성 일 </span>
                <span class="" style="font-size: 18px">자</span>
                <span class="" style="font-size: 18px">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 293px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55px;" class="">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <span class="">&nbsp;</span>
    <span class="">&nbsp;</span>
</p>
<table style="word-break: break-all; word-wrap: break-word; border-collapse: collapse; border: 1px none rgb(0, 0, 0); width: 836px; height: 778px;" align="center" class="">
    <tbody>
    <tr>
        <td style="vertical-align: middle; width: 827px; border-width: 1px; border-style: none none solid; border-color: rgb(0, 0, 0); height: 43px;" class="" rowspan="" colspan="2">
            <p class="">
                <span class="">&nbsp;</span>
                <span class="" style="font-size: 16px; font-weight: bold">&nbsp;</span>
                <span class="" style="font-size: 16px; font-weight: bold">1. 업무보고</span>
            </p>
            <p></p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 418px; border-width: 1px 1px 3px; border-style: solid solid double; border-color: rgb(0, 0, 0); height: 43px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center;">
                <span class="" style="font-size: 16px;">&nbsp;금주 주요 업무</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 418px; border-width: 1px 1px 3px; border-style: solid solid double; border-color: rgb(0, 0, 0); height: 43px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center;" class="">
                <span class="" style="font-size: 16px;">차주 주요 업무&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 418px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 342px;" class="">
            <p>
                <span>&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 418px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 342px;" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 828px; border-width: 1px; border-style: solid none; border-color: rgb(0, 0, 0); height: 42px;" class="" rowspan="" colspan="2">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
            <p class="">
                <span class="">&nbsp;</span>
                <span class="">&nbsp;</span>
            </p>
            <div>
                <span style="color: rgb(0, 0, 0); font-family: 'Arial, MalgunGothic, AppleSDGothic'; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: bold; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none">&nbsp;2. 안건 및 건의사항</span>
            </div>
            <p class=""></p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 828px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 327px;" class="" rowspan="" colspan="2">
            <p>
                <span>&nbsp;</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <span class="">&nbsp;</span>
</p>