<p style="text-align: center">
    <span class="" style="font-size: 36px; text-decoration: underline">휴 &nbsp;가 &nbsp;신 &nbsp;청 &nbsp;서</span>
</p>
<p>
    <span class="">&nbsp;</span>
</p>
<p>
    <span class="">&nbsp;&nbsp;</span>
    <span class="">&nbsp;</span>
</p>
<table style="word-break: break-all; word-wrap: break-word; border-collapse: collapse; border: 1px none rgb(0, 0, 0); width: 835px; height: 100px" class="" align="center">
    <tbody>
    <tr>
        <td style="vertical-align: middle; width: 491px; border-width: 1px; border-style: none solid none none; border-color: rgb(0, 0, 0); height: 35px" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 42px; border-width: 3px 1px 3px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241)" class="" rowspan="2" colspan="">
            <p style="text-align: center">
                <span class="" style="font-size: 18px; font-weight: bold">결</span>
            </p>
            <p style="text-align: center">
                <span class="" style="font-size: 18px; font-weight: bold">&nbsp;</span>
            </p>
            <p style="text-align: center" class="">
                <span class="" style="font-size: 18px; font-weight: bold">&nbsp;재</span>
                <span class="" style="font-size: 18px; font-weight: bold">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241)" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 16px; font-weight: bold">&nbsp;담 당</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241)" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 16px; font-weight: bold">팀 장&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 72px; border-width: 3px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 35px; background-color: rgb(198, 217, 241)" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 16px; font-weight: bold">사 장</span>
                <span class="" style="font-size: 16px; font-weight: bold">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 491px; border-width: 1px; border-style: none solid none none; border-color: rgb(0, 0, 0); height: 58px" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 58px" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 76px; border-width: 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 58px" class="">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 72px; border-width: 1px 3px 3px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 58px" class="">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <span class="">&nbsp;</span>
    <span class="">&nbsp;</span>
</p>
<p>
    <span>&nbsp;</span>
</p>
<table style="word-break: break-all; word-wrap: break-word; border-collapse: collapse; border: 1px none rgb(0, 0, 0); width: 835px; height: 1045px" class="" align="center">
    <tbody>
    <tr>
        <td style="vertical-align: middle; width: 155px; border-width: 3px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 20px">소 &nbsp; &nbsp; 속</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 669px; border-width: 3px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px;" class="" rowspan="1" colspan="2">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 155px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 20px">성 &nbsp; &nbsp; 명</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 669px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px;" class="" rowspan="1" colspan="2">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 155px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 20px">직 &nbsp; &nbsp; 위</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 669px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px;" class="" rowspan="1" colspan="2">
            <p>
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 155px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 20px">종&nbsp; &nbsp; 류</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 393px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px;" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 18px">&nbsp;( &nbsp; 연차, &nbsp; 경조, &nbsp; 공가, &nbsp; 병가, &nbsp; </span>
                <span class="" style="font-size: 18px">포상</span>
                <span class="" style="font-size: 18px">, &nbsp; 특별 &nbsp; )</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 278.333px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px;" class="">
            <p style="text-align: center">
                <span class="">&nbsp;</span>
                <span class="" style="font-size: 18px">기 타 &nbsp; ( &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; )</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 155px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 20px">&nbsp;사 &nbsp; &nbsp; 유&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 669px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px;" class="" rowspan="1" colspan="2">
            <p class="">
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 155px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 20px">기 &nbsp; &nbsp; 간</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 669px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px;" class="" rowspan="1" colspan="2">
            <p style="text-align: center">
                <span class="" style="font-size: 18px">20 &nbsp; &nbsp; 년 &nbsp; &nbsp; 월 &nbsp; &nbsp;일 &nbsp; &nbsp; ~ &nbsp; &nbsp;</span>
                <span style="color: rgb(0, 0, 0); font-family: 'Arial, MalgunGothic, AppleSDGothic'; font-size: 18px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important" class="">20 &nbsp; &nbsp; 년 &nbsp; &nbsp; 월 &nbsp; &nbsp;일</span>
            </p>
            <p style="text-align: center">
                <span class="">&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 153px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 37px; background-color: rgb(198, 217, 241);" class="" rowspan="3" colspan="1">
            <p style="text-align: center">
                <span class="" style="font-size: 20px">휴가 중</span>
            </p>
            <p style="text-align: center">
                <span class="" style="font-size: 20px">대</span>
                <span class="" style="font-size: 20px">리</span>
                <span class="" style="font-size: 20px"> 업무&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 392px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 37px;" class="" rowspan="3" colspan="1">
            <p class="">
                <span class="">&nbsp;</span>
                <span class="" style="font-size: 18px">인수인계 업무 :&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 278.333px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 37px;" class="">
            <p>
                <span class="" style="font-size: 18px">&nbsp;부 &nbsp; 서 :</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 278.333px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 45px;" class="">
            <p class="">
                <span class="" style="font-size: 18px">&nbsp;직 &nbsp; 위 :</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 278.333px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 40px;" class="">
            <p>
                <span class="" style="font-size: 18px">&nbsp;인수자 :&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 155px; border-width: 1px 1px 1px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px; background-color: rgb(198, 217, 241);" class="">
            <p style="text-align: center">
                <span class="" style="font-size: 20px">비상연락망&nbsp;</span>
            </p>
        </td>
        <td style="vertical-align: middle; width: 669px; border-width: 1px 3px 1px 1px; border-style: solid; border-color: rgb(0, 0, 0); height: 55.2px;" class="" rowspan="1" colspan="2">
            <p class="">
                <span class="">&nbsp;</span>
                <span class="" style="font-size: 18px">010-1234-1234</span>
            </p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle; width: 711px; border-width: 1px 3px 3px; border-style: solid; border-color: rgb(0, 0, 0); height: 466px;" class="" rowspan="" colspan="3">
            <p style="text-align: center;">
                <span class="" style="font-size: 22px;">&nbsp;위와 같이 휴가를 신청합니다.</span>
            </p>
            <p style="text-align: center;">
                <span class="" style="font-size: 18px;">&nbsp;</span>
            </p>
            <p style="text-align: center;">
                <span class="" style="font-size: 18px;">&nbsp;</span>
            </p>
            <p style="text-align: center;">
                <span class="" style="font-size: 18px;">&nbsp;</span>
            </p>
            <p style="text-align: center;" class="">
                <span class="" style="font-size: 18px;">20 &nbsp; &nbsp; &nbsp;년 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;월 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 일&nbsp;</span>
            </p>
            <p style="text-align: center;">
                <span class="" style="font-size: 18px;">&nbsp;</span>
            </p>
            <p style="text-align: center;">
                <span class="" style="font-size: 18px;">&nbsp;</span>
            </p>
            <p style="text-align: center;">
                <span class="" style="font-size: 18px;">&nbsp;</span>
            </p>
            <p style="text-align: right;">
                <span class="" style="font-size: 18px;">&nbsp;</span>
            </p>
            <p style="text-align: right;">
                <span class="" style="font-size: 18px;">소 속 : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
            </p>
            <p style="text-align: right;">
                <span class="" style="font-size: 18px;">&nbsp;</span>
            </p>
            <p style="text-align: right;">
                <span class="" style="font-size: 18px;">성 명 : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(인) &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <span class="">&nbsp;</span>
</p>
<p>
    <span>&nbsp;</span>
</p>
<p>
    <span>&nbsp;</span>
</p>