@charset "utf-8";

.profile_div{width:250px;}
.filter_pop .check_scroll{max-height:270px;}
.filter_pop .check_list .check_ul li{width:50%;}
.lnb_menu_setting .set_btn span{width:55px;}
.my_info_wrap .my_info{padding-left:35px; background:url(/images/ezNewPortal/info_profile.svg) no-repeat 0 center / 17px 17px; max-width:calc(99.999% - 300px); display:flex;}
.top_info_area ul li{width:40%;}
.top_info_area ul li:last-child{width:60%;}
@media (max-width:1570px) {
	.top_info_area ul li{width:60%;}
	.top_info_area ul li:last-child{width:40%;}
}
.btn_prev span img, .btn_next span img{margin-top:4px;}