@charset "utf-8";

html,input,button,select,textarea{font-family:  Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}
.noti_paging .page_num{line-height:24px;}
.lnb_menu_setting .set_btn span{width:65px;}
.my_info_wrap .my_info{width:calc(99.999% - 280px);}
.webFolder_portlet .portlet_title .portletText{width:110px;}
.btn_prev span img, .btn_next span img{margin-top:3px;}
.approval.box_shadow li{padding:9px 0 !important;}
.portlet.two_by_one .portlet_list li{padding:12px 0;}
.voteList li{padding:6px 0;}
.portlet.two_by_one .voteList li{padding:10.5px 0;}
.voteTitle{width:calc(99.999% - 50px);}
.voteBtn{width:60px;}
.dataHave{margin-left:-3px;}
.portlet .board_Atype .portlet_list li{padding:0;}
#theme2Body .section1 .sec1Layout_middle .scalendar_mini .dataHave{margin-left:1px;}
.quickMenuBtn{width:565px !important;}


.mainbg .ui-datepicker,
.mainbg .ui-state-default,
.mainbg .ui-widget-content .ui-state-default,
.mainbg .ui-widget-header .ui-state-default{font-family:  Meiryo UI, ＭＳ Ｐゴシック, Arial, Helvetica, sans-serif;}

@font-face {
    font-family: 'Meiryo UI';
    src: local('Arial'); /* 원하는 폰트로 변경 */
    unicode-range: U+007E; /* 틸드(~)의 유니코드 범위 */
    font-weight: normal; /* 볼드처리 방지 */
}

#theme3Body .my_info_wrap .portal_setting{padding:0; background:none; width:90px; height:31px; line-height:29px; border:1px solid #388CE5; border-radius:6px; color:#388CE5; text-align:center; box-sizing:border-box;}
#theme3Body .my_info_wrap .config_setting{width:90px; height:31px; line-height:29px; border:1px solid #388CE5; border-radius:6px; color:#388CE5; text-align:center; font-size:13px; font-weight:500; margin-left:10px; cursor:pointer; box-sizing:border-box;}

