.left_survey span {background: url(/images/ezSurvey/left_survey.png) no-repeat left center; display: inline-block; height: 50px; line-height: 48px; font-weight: normal; color: #fff; margin: 0px 0px 0px 16px; padding: 0px 0px 0px 33px; text-align: center; font-family: Malgun Gothic; font-size: 20px;}
.left_survey {height: 52px; background: #0470e4;}
.overY {overflow-y: hidden !important;}
.surveyConfig {margin: 0px 10px;}
.surveyConfig .surveyBttn {width: 680px; text-align: center;}
.surveyConfig .surveyBttn a.imgbtn {box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); border: 1px solid #c3c3c3; height: 24px;}
.surveyConfig .surveyBttn a.imgbtn span {height: 24px; line-height: 24px; font-weight: bold; font-size: 12px; color: #000;}
.surveyPrevMode {width: 100px;}
.surveySelectConf {width: 50px;}
.content.config {width: 680px; margin-top: 5px;}
.tabIfrm {width: 100%; height: 100%; border: none;}
.mainbody.srvey {background-color: rgb(244, 245, 245) !important; margin: 10px 10px 0px !important;}
.surveyCrtTtl {height: 50px; background-color: #fff; box-shadow: rgba(0, 0, 0, 0.69) 0px 3px 10px 0px; display: flex;}
.surveyCrtTtl .sryFirst {width: 10px; background-color: rgba(211, 84, 0, 0.64);}
.surveyCrtTtl .sryTxt {height: 50px; line-height: 50px; padding: 0px 10px; font-weight: bold; font-size: 20px;}

.surveyTtlInf {font-weight: normal; color: #666;}
.surveyTtlInf >span {color: #017BEC !important; font-weight: bold !important;}
.topSearchSpan {float: right; font-weight: normal; color: black;}
.topSearchSpan >select {height: 27px; margin-right: 0px; border: 1px solid #cbcbcb; min-width:80px; outline: 0px;}
.topSearchSpan >input[type='text'] {width: 150px; ime-mode: active; height: 27px; border: 1px solid #cbcbcb; border-right: 0px; vertical-align: top; outline: 0px; padding: 0px 3px;}
.topSearchSpan >a {float: right;}
.topSearchSpan >a img {border: none; cursor: pointer;}
.btnimg.survey {width: 22px; height: 20px;}
.loadingPanel {width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; z-index: 5000;}
.loadingProgress {width: 200px; height: 110px; border-radius: 8px; text-align: center; vertical-align: middle; z-index: 9000; position: absolute; top: 400px; left: 726.5px; display: none;}
.loadingProgress >img {padding-top: 20px;}
.loadingProgress >div {padding-top: 10px; vertical-align: middle; font-weight: bold; font-size: 1.2em;}

.ui-resizable-e, .ui-resizable-s {border: 1px solid #ddd; background-repeat: no-repeat;}
.ui-resizable-e {background-image: url('/images/prevview_hbar_dotted.gif'); width: 5px !important; background-position: center;}
.ui-resizable-s {background-image: url('/images/prevview_bar_dotted.gif'); height: 5px !important; background-position: center -2px;}
.surveyTbl {width: 100%; text-algin: center;}
.surveyTbl th {cursor: pointer !important;}
.surveyTbl .inputTh {width: 20px;}
.inputTh >img {vertical-align: middle;}
.surveyTbl .noTh   {width: 20px; text-align: center;}
.surveyTbl .ttlTh  {width: 60%;}
.surveyTbl .createTh {width: 20%;}
.surveyTbl .endDateTh {width: 20%;}
.surveyTbl .statisTh, .surveyTbl .anoynmTh, .surveyTbl .publicTh, .surveyTbl .targetTh {width: 80px; text-align: center;}
.spanName, .selectedNode {height: 22px; line-height: 22px; color: #000; padding-top: 1px; font-size: 12px; vertical-align: top; cursor: pointer; background-image: none; background-attachment: scroll; background-repeat: repeat; background-position-x: 0%; background-position-y: 0%; background-color: transparent; margin-left: 2px; white-space: pre;}
.spanName:hover {color: #9b9b9b;}
.selectedNode {font-weight: bold;}
.searchPanel {z-index: 2000; position: fixed; border:1px solid #666; background-color: #fff;; border-radius: 5px; height: auto; width: 464px;}
.searchPanel h1 {margin-top: 0px !important;}
.hiddenBttn, .hidden-tab, .searchPanel.off, .uploadHelp.off {display: none;}
.uploadHelp {height: 27px; box-sizing: border-box; background: rgb(253, 254, 193); border-top: 1px solid rgb(233, 234, 148); border-left: 1px solid rgb(233, 234, 148); border-right: 1px solid rgb(233, 234, 148); line-height: 27px; width: 100%; padding: 0px 0px 0px 10px; margin: 0px; font-family: Gulim; font-size: 12px; color: rgb(51, 51, 51);}
.receiver_tltype01 >span {min-width: 45px;}
.organImg {width: 18px; height: 18px; user-drag: none; user-select: none; -moz-user-select: none; -webkit-user-drag: none; -webkit-user-select: none; -ms-user-select: none;}
.org-minus, .org-plus {width: 18px; height: 18px; cursor: pointer;}
.closeImgBttn {position: absolute; right: 10px; top: 10px;}
.closeImgBttn >ul {margin: 0px; padding: 0px; list-style: none;}
.closeImgBttn >ul >li {display: block; float: left; margin: 0px; height: 28px; padding: 0px; vertical-align: top; cursor: pointer; vertical-align: middle;}
.closeImgBttn >ul >li >span {display: inline-block; width: 25px; height: 28px; background-image: url(/images/close_xBtn.png); background-repeat: no-repeat; background-position: 4px 6px;}

.searchtable {border-collapse: collapse; width:100%; margin-bottom: 15px;}
.searchtable .layerHeader >img {vertical-align: middle; padding-bottom: 1px; width: 16px;}

.searchTblTd {border:1px solid #b6b6b6; background-color:#fff;}
.searchTblTd input[type='text'] {height: 23px; width: 100%; outline: 0px; padding: 0px 5px;}
.searchTblTd .srchDate {width: 100px !important; text-align: center;}
.searchTblTd >div {display: flex; align-items: center;}
.searchTblTd .searchName {flex: 1; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding-left: 5px;}

.searchDiv .srchTtl{font-size: 11pt; font-weight: bold;color: black; height: 44px; margin-left: 1px; margin-bottom: 8px; line-height: 36px;}
.popupMenu {background: url(/images/kr/cm/popup_bg.gif) #ffffff repeat-x left top; margin: 0px; padding: 5px 10px 10px;}
.popupMenu.searchDiv {border-radius: 5px;}
.popupMenu .srchBttnDiv2 {margin: 0px 0px 0px -10px; margin-top: 10px; height: 28px !important; background: none; border: none; border-top: 1px solid #eee; padding: 7px 0px; background-color: #fcfcfc; position: fixed; text-align: center; bottom: 0px; width: 100%;}
.srchBttnDiv {text-align: center; margin: -9px; margin-top: 10px; padding: 7px; border-top: 1px solid #eee; background-color: #fcfcfc;}
.srchBttn {white-space: nowrap; display: inline-block; background-repeat: no-repeat; padding-left: 12px; vertical-align: top; cursor: pointer; margin-bottom: 2px; border: 1px solid #ccc; border-radius: 2px; background-color: white; box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); border: 1px solid #c3c3c3; height: 24px;}
.srchBttn span {background-repeat: no-repeat; height: 20px; padding-right: 12px; font: 12px gulim; letter-spacing: -1; vertical-align: top; height: 24px; line-height: 24px; font-weight: solid; font-size: 12px; color: #000;}
.list_element.survey {width: 100%; border-spacing: 0px; border-collapse: collapse; border:none;}
.list_element.survey select {width: 40px; height: 20px;}
.surveycol {width: 80px;}
.surveyTitle {line-height: 20px;}

.viewPopupMain {width:150px; position: absolute; background-color:#fff; z-index: 2500;}
.viewPopupMain .popupwrap1 {background-color:#fff; border: 1px solid #666a64; padding: 0px; margin: 0px; position: relative;}
.viewPopupMain .popupwrap2 {border: 2px solid #e5e5e5; padding: 10px;}

.rfogPanel {width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1000; background: none rgba(0,0,0,0.5);}
.divPrevH {width: 100%; overflow: hidden; flex: 1; display: flex;}
.mainPrevH {width: 100%; position: relative; padding-top: 5px;}
.mainPrevH >div {height: 100%; display: flex; flex-flow: column;}
.prevHeaderW >div, .prevHeaderH >div {background-color: #f8f8fa; border-bottom: solid 1px #e8e8e8; position: relative;}
.prevHeaderW >span, .prevHeaderH >span {margin-top: 50px;height: 10px; display: inline-block; text-align: center; width: 100%;}
.prevHeaderW {border-top: 1px solid #ddd;}
.divPrevW {height: 100%; overflow: hidden; vertical-align: top; flex: 1; display: flex; margin-left: 5px;}
.mainPrevW {height: 100%; width: 100%; position: relative;}
.mainPrevW >div {width: 100%; height: 100%; display: flex; flex-flow: column;}
.prevTitle {width: 100%; color: #333; font-weight: bold; font-size: 12px; margin: 0px 0px 5px; clear: both; padding: 0px; height: 36px; line-height: 36px; display: flex;}
.prevTitle .prevIcon {background-image: url('/images/kr/cm/btn_newpopup.gif'); background-repeat: no-repeat; background-position: center left; margin-left: 14px; padding-right: 5px; display: inline-block; float: left; cursor: pointer; height: 100%; width: 27px;}
.prevTitle .cabTitleTxt {height: 100%; color: #333; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; flex: 1;}
.preDate {display: inline-block; width: 150px; font-size: 12px; color: #333; text-align: center;}
.prevItem {margin: 0px; padding: 4px 10px 2px 14px; font-size: 12px; color: #666;}
.prevItem dt {font-weight: normal; margin: 0px 10px 0px 0px; line-height: 18px; padding: 0px 0px 2px 0px; color: #919293;}
.prevItem dd {margin: -19px 0px 0px 0px; padding: 0px 0px 2px 60px; line-height: 18px; word-break: break-all;}
.prevItem .ddRes {padding: 0px 0px 2px 70px !important;}
.zoomDiv {text-align: left; padding: 5px; margin: 0px; line-height: 0px;}
.zoomDiv >img {cursor: pointer;}
.survey-infrow {display: flex; font-family: HanSans, Gulim;     margin: 5px 0px;}
.survey-infrow >span {margin: 0px 10px; line-height: 32px; font-size: 14px;}
.survey-infrow >span:FIRST-CHILD {margin-left: 0px !important; min-width: 80px;}
.survey-infrow .target-select {border-radius: 3px; background-color: rgba(204, 204, 204, 0.46); padding: 0px 5px; font-size: 13px; line-height: 27px; cursor: pointer; display: none;}
.target-select.on {display: block;}
.survey-infrow .date-input {width: 60px; outline: 0px; border: 1px solid #ddd; padding-left: 5px;}
.survey-infrow input, .survey-infrow select, .survey-infrow .target-select {height: 27px;}
.surveyinfo-wrap {border: 1px solid #d7d7d7; padding: 20px 40px; background-color: #fff; margin-bottom: 15px;}
.info-input-ttl, .info-input-pp { line-height: 40px; font-weight: 600; height: 40px; border: none; outline: 0px; border-bottom: 1px solid #ddd; width: 100%;}
.info-input-ttl {font-size: 20px;}
.info-input-pp {font-size: 16px;}
.survey-otherinf {margin: 15px 0px 0px;}
.survey-attach {height: 400px; border: 1px solid #ddd; background-color: #fff; margin-bottom: 20px;}
.survey-dropzone {height: 329px; padding: 15px 15px 0px;}
.mainzone {border: 1px dashed #ddd; height: 100%; box-sizing: border-box;}
.survey-attbttn {height: 56px;}
.survey-attbttn >div {float: left; background-color: rgb(52, 152, 219); border-radius: 4px; height: 28px; line-height: 28px; margin: 14px 10px; padding: 0px 5px; font-size: 14px; color: #fff; cursor: pointer;}
.survey-infbttn {float: left; width: 36px; height: 36px; margin-left: 10px; cursor: pointer;}
.survey-infbttn >img {height: 100%; width: 100%;}
.popup.survey-target {overflow: hidden;}
.survey-target .target-slt {width:100%;}
.navi-button {height: 40px; padding-bottom: 15px;}
.navi-button >div {float: left;}

.divInform {width: 100%; height: 100%; min-height: 60px; display: flex; flex-flow: column; justify-content: center; align-items: center; cursor: pointer;}
.divInform .nofile {line-height: 60px;}
.divInform span + span {margin-top: 5px;}
.fileList {width: 100%; height: auto;}
.ulFiles {margin: 0px; padding: 0px; list-style: none;}
.ulFiles li {float: left; width: 100%; min-width: 100%; height: 65px; position: relative; border-bottom: 1px dashed #ddd; box-sizing: border-box;}
.ulFiles li >img {position: absolute; top: 4.5px; right: 2.5px;}
.ulFiles li:lastChild {padding-bottom: 5px;}
.attDivFile {display: flex; width: 100%; height: 100%; cursor: pointer;}
.attDivFile .attImgAva {height: 40px; width: 40px; min-width: 40px; margin: 10px 5px;}
.attDivFile .attImgAva >img {height: 100%; width: 100%;}
.attDivFile .attFileInf {display: flex; flex: 1; flex-flow: column; overflow: hidden; padding-top: 8px;}
.attDivFile .attFileInf >span:first-child {padding: 6px 4px 4px 0px; max-height: 34px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.attDivFile .attFileInf >span:last-child {padding: 2px 4px 4px 0px;}

.infor-tbl tr th {width: 50px;}
.infor-tbl tr td {padding-left: 10px;}
.infor-tbl {width: 100%; border: 0 none !important; font-family: Gulim, Verdana, Arial, Helvetica, sans-serif; font-size: 12px; border-spacing: 0px; border-collapse: collapse; table-layout: fixed;}
.infor-tbl tr td, .infor-tbl tr th {border: 1px solid #ddd;}
.infor-tbl {padding: 0px 5px; background: #fff; height: 29px; word-break: break-all;}
.infor-searchPanel {background-color: #f8f8fa; margin-top: 15px; border: 1px solid #eaeaea; margin: 10px 0px 0px 0px; padding: 0px; clear: both; overflow: hidden; z-index: 1;}
.inforsub-searchPanel {border-bottom: 0px; height:26px; list-style: none; margin: 0px; padding: 0px;}

.inf-searchTbl {margin-top: 3px; width: 100%;}
.inf-searchTbl tr td:nth-child(1) >div {margin-left: 5px;}
.inf-searchTbl tr td:nth-child(1) >div >input[type='text'] {width: 130px; margin: 0px; height: 21px; padding-left: 5px;}
.inf-searchTbl tr td:nth-child(2) >div {float: right; margin-right: 5px; position: relative;}

.organ-tbl {margin-top: 3px;}
.organ-tbl .listview {width: 440px; border-top: none !important;}
.organ-tbl tr td:first-child {border-right: 0px;}
.bnkOrgTree {width: 220px; height: 518px; overflow-x: auto; overflow-y: auto; white-space: nowrap;}
.bnkCabSelect {background-color: #e9f1ff; cursor: pointer;}
.bnkCabNormal:hover {background-color: #f4f5f5; cursor: pointer;}
.bnkCabSelect2, .bnkCabNormal2 {cursor: pointer;}
.bnkCabSelect2 .imgCabDivMain, .bnkCabSelect2 .txtCabTd {background-color: #e9f1ff;}
.bnkCabNormal2:hover .imgCabDivMain {background-color: #f4f5f5;}
.imgCabDivMain {display: flex; height: 99px; border: 1px solid #ddd; margin-top: 5px;}
.imgCabDivMain >div:first-child {height: 99px; width: 99px; display: flex; align-items: center; min-width: 99px; justify-content: center;}
.imgCabDivMain >div:last-child  {display: flex; align-items: center;}
.cabColor {color: #017BEC !important;}
.srchDate {width: 100px !important; text-align: center; padding: 0px 5px;}

.organ-deptTbl {table-layout: fixed; width: 100%;  border: 0 none !important; font-family: Gulim, Verdana, Arial, Helvetica, sans-serif; font-size: 12px; border-spacing: 0; border-collapse: collapse;}
.organ-deptTbl tr th{text-align: left; border: 0px; text-decoration: none; color: #777; font-size: 12px; line-height: 19px; padding: 4px 4px 0px; white-space: normal; background-color: white; border-top: 1px solid #ddd; border-bottom: 1px solid #eaeaea;}
.organ-deptTbl tr th >span:nth-child(1) {font-weight: normal; margin-top: 2px; width: 300px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block; vertical-align: bottom;}
.organ-deptTbl tr th >span:nth-child(1) >img {vertical-align: middle; margin-right: 3px;}
.organ-deptTbl tr th >span:nth-child(2) {float: right; position: relative;}

.organ-txtList {vertical-align: top; height: 441px; overflow: auto; width: 440px;}
.organ-txtList .mainlist {width: 100%;}
.organ-txtList .mainlist tr:first-child td {color: #333; background-color: #f8f8fa;}
.organ-txtList .mainlist tr:first-child td:nth-child(1){width: 150px;}
.organ-txtList .mainlist tr:first-child td:nth-child(2){width: 130px;}
.organ-txtList .mainlist tr:not(first-child) td:nth-child(1) {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 150px;}
.organ-txtList .mainlist tr:not(first-child) td:nth-child(2) {width: 80px;}

.organ-subTbl {margin-top: 5px !important; margin-right: auto !important; margin-left: auto !important; border: none !important; font-size: 12px; table-layout: fixed; width: 400px;}
.organ-subTbl td {border: 0px !important; padding: 0px;}
.organ-subTbl .pic {width: 90px; height: 90px; border: 1px solid #cfcfcf!important; overflow: hidden; background: url(/images/noperson.png) center; background-repeat: no-repeat;}
.organ-subTbl .trCabTxt, .organ-subTbl .txtCabTd, .mainlist .imgCabTd {display: none;}
.organ-subTbl .pic img {border: none !important;}
.organ-subTbl .pic img {width: 90px; height: 90px;}

.selectDeptNm span {color: #666;}
.pgshare {height: 47px; min-height: 47px;}
.slt-userBttn {width: 30px; text-align: center;}
.slt-userBttn >img {width: 16px; height: 16px; margin: 2px 0px; border: 0px; cursor: pointer;}

.slt-listDiv {border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; margin-top: 10px;}
.slt-listDiv >div{width: 100%; overflow-x: auto; overflow-y: auto;}
.slt-listDiv >div {height: 554px;}
.slt-listDiv .mainlist {width: 100%;}
.slt-listDiv .mainlist tr:first-child td {color: #333; background-color: #f8f8fa;}
.slt-listDiv .mainlist tr:not(first-child) td:first-child {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.dd-option-image, .dd-selected-image {height: 24px; width: 24px;}
.dd-option-text, .dd-selected-text {cursor: pointer;}

.headpanel {height: 40px; margin: 15px 0px 1px;}
.headpanel >span:first-child {border-left: 1px solid #d7d7d7 !important;}
.headpanel .crust a.crumb>span {display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 100%; font-size: 16px; font-weight: bold;}
.headpanel .crust:hover a.crumb, .headpanel .crust.selected a.crumb {background-color: rgb(230, 126, 34); color: #fff;}
.headpanel .crust a.crumb {cursor: pointer; font-weight: bold; text-decoration: none; background-color: #fff; padding: 0px 8px 0px 25px; margin-bottom: -1px; border-bottom: 1px solid #d7d7d7; outline: 0px; -moz-outline-style: 0 none; display: block; line-height: 40px; overflow: hidden; _border-bottom: none; height: 40px;}
.headpanel .crust {display: block; float: left; position: relative; zoom: 1; max-width: 50%; clear: none; border: 1px solid #d7d7d7; border-left: none; border-right: none; border-bottom: none;}
.headpanel .crust .arrow {border: 20px solid transparent; border-right: 1px none black; border-left-color: #d7d7d7; display: block; position: absolute; right: -20px; top: 0px; z-index: 50; width: 0px; height: 0px; cursor: pointer;}
.headpanel .crust .arrow span {border: 20px solid transparent; border-right: 1px none black; border-left-color: #fafafa; display: block; position: absolute; left: -21px; top: -20px; z-index: 51; white-space: nowrap; overflow: hidden; text-indent: 9999px; width: 0px; height: 0px;}
.headpanel .crust:hover .arrow span, .headpanel .crust.selected .arrow span {border-left-color: rgb(230, 126, 34);}

/* 2018.11.21 추가 */
.surveyCrtTt2 {height: 50px; background-color: #fff; border: 1px solid #d7d7d7; display: flex;}
.surveyCrtTt2 .sryFirst2 {width: 10px; background-color: rgba(0, 115, 230, 0.64);}
.surveyCrtTt2 .filler {flex-grow: 1;}
.surveyCrtTt2 .sryTxt {height: 50px; line-height: 50px; padding: 0px 10px; font-weight: bold; font-size: 20px;}
.surveyCrtTt2 img {height: 40px; width:40px; margin-top: 5px;}

.btns button, .addBtns button, .rowBtn button, .colBtn button {background-color: rgba(224, 224, 224, 0.88); border-radius: 5px; border-width: 1px; border-style: solid; box-shadow: none; border-color: rgb(224, 224, 224); padding: 4px 8px; font-size: 14px; cursor: pointer;}
.btns button + button, .addBtns button + button {margin-left: 7px;}
.btns button:hover, .addBtns button:hover, .rowBtn button:hover, .colBtn button:hover {color: #fff; background-color: #2196f3; border-color: #2196f3;}

.quesDiv {text-align: center; align-items: center; justify-content: center; padding-top: 10px;}
.quesDiv .qstnRow {display: flex; align-items: center;}
.quesDiv .qstnRow .questnTitle {background-color: rgb(236, 239, 239); flex: 1; height: 60px; outline: 0px; padding: 0px 8px; font-size: 16px;}
.quesDiv .qstnRow .atchImg {width: 40px; height: 40px; padding: 5px 10px; cursor: pointer;}

.quesDiv .qstnRow .dd-container {width: 25%; height: 50px; border-radius: 10px; display: inline-block;}
.quesDiv .qstnRow .dd-container .dd-select {height: 48px; border-radius: 5px; width: 100%;}
.quesDiv .qstnRow .dd-container .dd-options {border-radius: 10px; width: 100%;}
.quesDiv .qstnRow .dd-container .dd-option {height: 25px; line-height: 25px; text-align: left;}
/* .quesDiv .optionBox {padding-top: 5px; } */
.quesDiv .qstnAtt .qstnFileInfo .fileList ul {width: 100%; margin-left: -39px;}
.quesDiv .qstnAtt .qstnFileInfo .fileList ul .attFileInf {text-align: left;}

.quesDiv .option_wrap {width: 20%; border-radius: 10px; margin-right:155px; float: right; border: 1px solid #d7d7d7; height: 0px; display:none;}
.quesDiv .option_wrap .select_op  {text-align: left; padding-left: 0px; list-style: none;}
.quesDiv .option_wrap .select_op li {height: 35px; vertical-align: middle;}
.quesDiv .option_wrap .select_op li img {width: 30px; height: 30px;}

.surveyCrtTt3 {height: 50px; width: 100%; background-color: #fff; border: 1px solid #d7d7d7; display: flex; box-shadow: rgba(0, 0, 0, 0.69) 0px 1px 5px 0px;}
.surveyCrtTt3 .sryFirst2 {width: 10px; background-color: rgba(0, 115, 230, 0.64);}
.surveyCrtTt3 .filler {flex-grow: 1;}
.surveyCrtTt3 .sryTxt {height: 50px; line-height: 50px; padding: 0px 10px; font-weight: bold; font-size: 20px;}
.surveyCrtTt3 img {height: 40px; width:40px; margin-top: 5px; cursor: pointer;}
.surveyCrtTt3 span {position: absolute; right: 9px; background-color: rgba(0, 115, 230, 0.64); color: #fff; border: 1px solid #d7d7d7; border-radius: 10px; font-size: 17px; cursor: pointer;}

.statBody {background-color: rgb(244, 245, 245); margin: 10px 10px 0px;}
.statBody #contentsBox {margin-top: 20px; height: 500px; border: 1px solid #d7d7d7; background-color: #fff; box-shadow: rgba(0, 0, 0, 0.69) 0px 1px 5px 0px;}

/* paragraph css */
.qstnWrapper {width: 1000px; margin: 0px auto; padding: 10px 0px;}
.paragraph-wrap, .question-paragraph {height: 120px;}
.paragraph {padding: 6px 12px; width: 100%; height: 100%; background: #fff; border: 1px solid #ddd; border-radius: 4px; box-sizing: border-box; resize: none; font-size: 14px; line-height: 20px; outline: 0px;}

/* slider css */
.silder-wrap {display: flex; padding: 10px 0px; align-items: center;}
.slider-lw, .slider-up {width: 40px; min-width: 40px; padding: 0px 5px; height: 32px; outline: 0px;}
.slider-main, .slider-range {-webkit-appearance: none; border: 1px solid white; flex: 1; cursor: pointer; margin: 0px 10px; padding: 0px;}
input[type=range]::-webkit-slider-runnable-track {width: 100%;  height: 24px; background: rgb(224, 224, 224); border: none; border-radius: 12px;}
input[type=range]::-webkit-slider-thumb {-webkit-appearance: none; border: none; height: 28px; width: 28px; border-radius: 50%; background: goldenrod; margin-top: -2px;}
input[type=range]:focus {outline: 0px;}
input[type=range]:focus::-webkit-slider-runnable-track {background: rgb(224, 224, 224);}
input[type=range]::-moz-range-track {width: 100%; height: 24px; background: rgb(224, 224, 224); border: none; border-radius: 12px;}
input[type=range]::-moz-range-thumb {border: none; height: 28px; width: 28px; border-radius: 50%; background: goldenrod;}
input[type=range]:-moz-focusring {outline: 1px solid white; outline-offset: -1px;}
input[type=range]::-ms-track {width: 100%; height: 24px; background: transparent; border-color: transparent; border-width: 6px 0px; color: transparent;}
input[type=range]::-ms-fill-upper, input[type=range]::-ms-fill-lower {background: #ddd; border-radius: 10px;}
input[type=range]::-ms-thumb {border: none; height: 28px; width: 28px; border-radius: 50%; background: goldenrod;}
input[type=range]:focus::-ms-fill-lower {background: rgb(224, 224, 224);}
input[type=range]:focus::-ms-fill-upper {background: rgb(224, 224, 224);}
input[type=range]::-ms-tooltip {display: none;}
.slider-output {display: block; height: 30px; text-align: center; width: 100%; font-size: 2em; font-family: 'Advent Pro', sans-serif; color: rgba(132, 206, 66, 1);}

/* ranking css */
.delOption {width: 30px; height: 30px; cursor: pointer; background-repeat: no-repeat; background-size: 30px 30px; background-position: center; background-image: url('/images/ezSurvey/minus.jpg');}
.ranking-select, .dropdown-select {display: flex; align-items: center;}
.ranking-select + .ranking-select, .dropdown-select + .dropdown-select {margin-top: 10px;}
.ranking-order, .dropdown-order {width: 30px; height: 30px; line-height: 30px; text-align: center; background-color: #ddd;}
.ranking-select .textInput, .dropdown-select .textInput {width: 500px; margin: 0px 8px;}
.ranking-select .rank-order {width: 30px; height: 30px; font-size: 14px; text-align: center; line-height: 30px;}
.ranking-select >select, .dropdown-wrap select {height: 27px; outline: 0px; padding-left: 5px; font-size: 14px;}
.ranking-select >select:focus, .dropdown-wrap select:focus, .searchTblTd input[type='text']:focus, .othInput:focus, .topSearchSpan >select:focus, .questnTitle:focus {border-color:#66afe9; outline: 0px; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.textInput:focus {border-bottom: 1px solid #03a9f4 !important;}

/* short-answer css */
.shortanswer-wrap {/* user-select: none; pointer-events: none; */}
.shortanswer {font-size: 14px; height: 40px; width: 500px; padding: 0px 10px; outline: none;}

/* 2018.11.22 추가 */
#surveyListBody {height: 400px;}
.surveyTbody {width: 100%; text-algin: center;}
.surveyTbody .inputTd {width: 20px;}
.inputTh >img {vertical-align: middle;}
.surveyTbody .noTd   {width: 20px; text-align: center;}
.surveyTbody .ttlTd  {width: 60%;}
.surveyTbody .createTd {width: 20%;}
.surveyTbody .endDateTd {width: 20%;}
.surveyTbody .statisTd, .surveyTbody .anoynmTd, .surveyTbody .publicTd, .surveyTbody .targetTd {width: 80px; text-align: center;}

/* 단일선택 폼 css */
.quesBacgr {background-color: #fff; padding: 20px; min-height: 400px; border: 1px solid #d7d7d7; margin-bottom: 15px;}
.quesBacgr ul {list-style: none;}

/* 추가 */ 
.quesBacgr .qstnForm {width:100%; height:50%; padding-top: 15px;}
.qstnForm .optPart {padding-top: 10px;}
.quesBacgr .qstnForm .optPart .optArea .optAtt .optionFile {display: none;}

.option .textInput, .ranking-select .textInput, .dropdown-select .textInput {height: 30px; border-width: 0px 0px 1px; border-style: dotted; border-color: rgb(224, 224, 224) rgb(51, 51, 51) rgb(190, 190, 190); outline: none; line-height: 30px; font-size: 15px;}
.option .textInput {width: 600px;}
.option .attImg {width: 30px;height: 30px;cursor: pointer;padding-left: 20px;padding-right: 20px;margin-bottom: -11px;}
.option .fileInput {width: 0px;opacity: 0;display: none;}
.option .delImg {width: 30px; height: 30px; cursor: pointer; margin-bottom: -11px;}

.qstnForm .other {padding-top: 10px;}
.qstnForm .addBtns {text-align: left; padding-top: 15px;}

.optArea .option {padding-left: 30px;}
.optArea .optFileInfo {margin-left: 23px;}
.optArea .optFileInfo ul {margin-left: -32px;}
.quesBacgr .qstnForm .optPart .optArea .optAtt .optionFile {display: none;}

.additionalPart {padding-top: 15px;}
.additionalPart .required {text-align: left; font-size: 13px; padding-bottom: 15px;}
.additionalPart .required input[type='checkbox'] {vertical-align: middle;}
.additionalPart .btns {text-align: right;}
.optFileInfo .attFileInf {text-align: left;}

/* 2018.11.28 단일선택 사용자 폼 css */
.usrQstnWrapper {box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.69);}
.question-panel .mvBtn {margin: 0px auto; width: 32px; height: 16px; background-image: url(/images/ezSurvey/move.png); background-repeat: no-repeat; background-size: 18px 18px; background-position: center; border: 1px solid #ddd; box-sizing: border-box; border-top: 0px; cursor: move;}
.question-header {display: flex; height: 32px;}
.question-header .question-content {flex: 1; line-height: 32px; font-size: 16px; font-weight: bold; padding-left: 15px; cursor: default;}
.question-header .tooltip-bttns {display: flex; padding: 0px 10px;}
.tooltip-bttns span {width: 32px; height: 32px; background-repeat: no-repeat; background-size: 24px 24px; background-position: center; cursor: pointer;}
.tooltip-bttns .modifyBtn {background-image: url('/images/ezSurvey/correct.png');}
.tooltip-bttns .copyBtn {background-image: url('/images/ezSurvey/copy.png');}
.tooltip-bttns .deleteBtn {background-image: url('/images/ezSurvey/trash.png');}
.question-content .imptt {color: rgba(255, 0, 0, 1);}
.question-opts, .question-paragraph, .question-shortanswer, .question-silder, .question-ranking, .question-dropdown {padding: 10px 35px 20px;}

.question-opts .opt {width: 100%; height: 50px; display: flex; align-items: center;}
.question-opts .opt >input[type='radio'], .question-opts .opt >input[type='checkbox'] {width: 20px; height: 20px; margin: 0px;}
.question-opts .opt .optSpan {padding-left: 10px; font-size: 15px; line-height: 20px; cursor: default;}
.question-opts .opt .optImg {width: 40px; height: 40px; padding-left: 10px;}
.question-opts .opt .othInput {border-radius: 4px; height: 27px; outline: 0px; padding: 0px 5px; margin-left: 10px;}
.question-panel .question-attach {width: 100px; height: 100px; padding: 10px 35px;}
.question-attach .qstnImg {width: auto; height: 100%;}

/* matrix */
.mtrPart .rowArea {padding-bottom: 20px; padding-left: 20px;}
.mtrPart .rowArea .rName{float: left; width: 10%;}
.mtrPart .rowArea .rName span{font-size: 13px;}

.mtrPart .rowArea .rows{float: left;width: 90%;}
.mtrPart .rowArea .rows .row{display: flex; padding-bottom: 10px;}
.mtrPart .rowArea .rows .row .rowInput{width: 400px;}
.mtrPart .rowArea .rows .row .delRow{width: 30px; height: 30px; cursor: pointer; padding-left: 20px;}
 
.mtrPart .colArea {padding-bottom: 20px; padding-left: 20px;}
.mtrPart .colArea .cName{float: left;width: 10%;}
.mtrPart .colArea .cName span{font-size: 13px;}

.mtrPart .colArea .cols{float: left;width: 90%;}
.mtrPart .colArea .cols .col{display: flex; padding-bottom: 10px;}
.mtrPart .colArea .cols .col .colInput{width: 400px;}
.mtrPart .colArea .cols .col .delCol{width: 30px; height: 30px; cursor: pointer; padding-left: 20px;}
 
.matrix {width: 70%; text-align: center;}
.matrix tr {height: 30px;}
.matrix td {border: 1px solid rgba(204, 204, 204, 1)}














