/* CSS Document */
body {margin:0}
td{font:9pt "±¼¸²", Verdana}
input{font:9pt "±¼¸²", Verdana}


/* ¸ÞÀÎ */
.menu1 {}
.bar{
	background-repeat: no-repeat;
	background-position: bottom;
	width:1px;
}
.menutd {vertical-align: bottom;}


/* ¼­ºê¸Þ´º */
.subtd {background-image:url(dot.gif); background-repeat:no-repeat; padding-left:9px; padding-top:4px; background-position:left center; padding-right:15px;}
.sublink {}


.searchtd {vertical-align: center;}
.utilitymenu {}


/* Æ÷Å»ÆäÀÌÁö - Æ÷Æ²¸´ TitleBar */
.portlet {WIDTH:100%; height:30px; padding-top:0px; cursor:pointer}
.portletfont {font-size:10pt;color:#00357D;font-weight:bold}
