<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <appSettings>
  <!-- reform -->
 <add key="reformServerIP" value="127.0.0.1" />
  <add key="reformServerPort" value="8080" />
    <!-- o365 Exchange 가장 계정 -->
    <add key="o365_ImpersonatedUserId" value="" />
    <add key="o365_ImpersonatedUserPassword" value="" />
    <!-- 메일박스 용량 기본값(KB):  1(GB) * 1024 * 1024  -->
    <add key="Mail_Default_Quota" value="1048576" />
    <!--  YES: Exchange 사용, NO: 사용안함   -->
    <add key="Use_Exchange" value="YES" />
    <!-- YES: Exchange 기반 일정 사용, NO: DB 기반 일정 사용-->
    <add key="Use_Exchange_Pims" value="YES" />
    <!--  SSL 사용여부 설정 -->
    <add key="EZInfo_SSL" value="" />
    <!--  다중 로그인 방지 0 또는 1 설정 -->
    <add key="PREVENT_MULTILOGIN" value="0" />
    <!--  '시행문 변환 정의 : 이 값이 1이면 단순 변환후 인쇄' 이 값이 2이면 이것은 시행문 변환후 심사용.' 이 값이 3이면 시행문 변환후 바로 발송용.  -->
    <add key="UserInfo_Enforce" value="2" />
    <!--  '유통 중계문서 변환 양식 정의 : 사용하지 않는 경우는 빈 값("")으로 세팅함.' 이 값이 MHT이면 MHT 접수기 사용.' 이 값이 HWP이면 한글 접수기 사용.  -->
    <add key="UserInfo_RelayG_Type" value="HWP" />
    <!--  'G버전 정의  : (별도 옵션 팩키지 필요)이 값이 NO이면 표준모듈.이 값이 YES이면 G버전.이 값이 BOTH이면 개발용..   -->
    <add key="UserInfo_ApprovalG" value="YES" />
    <!--  '문서 열람 권한 정의 : 문서 열람 권한을 정의한다.1 : 공개/부분공개/비공개 권한 체크.2 : 보안등급 권한 체크.3 : 열람권한 체크.비공개 문서인 경우, 이곳에 속하면 열람 가능.속하지 않으면, 2번, 3번을 추가로 체크함.부분공개 문서인 경우, 이곳에 속하면 열람 가능.속하지 않으면, 2번, 3번을 추가로 체크함.공개 문서인 경우, 2번 3번을 추가로 체크함.-->    
    <add key="UserInfo_ApprovalG_VIEW" value="YYY" />
    <!--  'YES 이면 겸직부서 선택에 따라 결재제한. NO 이면 겸직부서 상관없이 결재가능. -->
    <add key="USE_AdditionalROle" value="NO" />
    <!--  'YES 이면 직접서명 사용. NO 이면 사용안함. -->
    <add key="USE_DirectSign" value="YES" />
    <!--  '한글 기안기의 툴바를 정의한다. 6개의 툴바로 구성. -->
    <add key="UserInfo_HWPToolbar" value="10001" />
    <!--  '메일 일반 첨부 용량 제한. -->
    <add key="MailAttachLimit" value="10" />
    <!--  '일반 첨부에서 대용량 첨부로 변경되는 용량 예)10인 경우 10MB 크기 이상의 파일을 첨부하는 경우 대용량 첨부로 처리 -->
    <add key="BigSizeMailAttachLimit" value="10" />
    <!--  '메일 대용량 첨부 용량 제한.-->
    <add key="totBigSizeMailAttachLimit" value="800" />
    <!--  '대용량 메일 첨부 삭제 일수. 예) 20인 경우 20일 이후에 삭제됨 -->
    <add key="BigSizeMailAttachDelDay" value="20" />

    <!--  'ezKMS 정의  : 이 값이 NO(YES가 아니면)이면 KMS사용 안함.  이 값이 YES이면 사용 됨.   -->
    <add key="Use_ezKMS" value="YES" />
    <!--  'YES 이면 ezDMS 사용.NO 이면 사용하지 않는다. -->
    <add key="Use_ezDMS" value="YES" />
    <!--  'YES 이면 포탈 기능 사용.NO 이면 사용하지 않는다. -->
    <add key="Use_Portal" value="YES" />    
    <!--  한글 모드에서 사용할 한/영 타이틀 -->
    <add key="lang_Primary1" value="한글" />
    <add key="lang_Secondary1" value="영문" />    
    <add key="lang_Primary2" value="Korean" />
    <add key="lang_Secondary2" value="English" />
    <add key="lang_Primary3" value="Korean" />
    <add key="lang_Secondary3" value="English" />
    <add key="lang_Primary4" value="Korean" />
    <add key="lang_Secondary4" value="English" />
    <!-- Primay 언어 설정-->
    <add key="primary" value="1" /><!--  1 : 한국어 --><!--  2 : 영어 --><!--  3 : 일본어 --><!--  4 : 중국어 -->
    <add key="USE_OCS" value="NO" />
    <!--  결재 직접 사인 펜 굵기 설정 Default : 5 -->
    <add key="AprSignPenBold" value="5" />
    <!-- Cross Browser를 지원하기 위하여 해당 Status는 사용하지 않도록 변경 -->
    <!-- HTML5 Canvas Tag에서 Color Name을 설정할 경우 IE에서 직접 서명 시 사용하는 ActiveX와 다른 색상이 나올 수 있으므로 WebColor Code를 사용하여야 함 -->
    <!--  결재 직접 사인 펜 색상 설정 Default : BLACK -->
    <!--  그외 지원 되는 색 : RED, BLUE, GREEN -->
    <add key="AprSignPenColor" value="" />
    <!-- 결재 직접 사인 펜 색상을 RGB 값으로 설정-->
    <!-- AprSignPenColorRGB 에 값이 있으면 AprSignPenColorRGB 값으로 설정됨 -->
    <!--  검정 : 0x000000 -->
    <!--  파랑 : 0xFF0000 -->
    <!--  녹색 : 0x00FF00 -->
    <!--  빨강 : 0x0000FF -->
    <add key="AprSignPenColorRGB" value="0xFF0000" />
    <!--  그룹웨어 Domain OU Path -->
    <add key="DomainOuPath" value="DC=kfi2,DC=dev" />
    <!--  대표 메일 주소 도메인 -->
    <add key="PrimaryAddressDomain" value="kfi2.dev" />
    <!--  Exchange Remote PowerShell 호출 URL -->
    <add key="PowerShellURI" value="https://GW2-MAIL.kfi2.dev/powershell" />
    <!--  Exchange 가장 계정  -->
    <add key="AdminID" value="gwadmin" />
    <!--  Exchange 가장 계정 패스워드 -->
    <add key="AdminPwd" value="P@ssw0rd1!" />
    <!--  그룹웨어 도메인 이름 -->
    <add key="DomainName" value="kfi2.dev" />
    <!--  Exchange EWS 연결 URL -->
    <add key="EWSUri" value="https://GW2-MAIL.kfi2.dev/EWS/Exchange.asmx" />
	<!--add key="EWSUri" value="https://192.168.22.13/EWS/Exchange.asmx" /-->
    <!--  Exchange 계정 연결시 계정 연결 값으로 CN, Mail 두가지 지정 -->
    <add key="LoginIDType" value="CN" />
    <!--impersonation 사용여부-->
    <add key="IsImpersonation" value="NO" />
    <!-- impersonation YES 사용 또는 Round Robin 사용 시 YES 설정 -->
    <add key="AnchorMailbox" value="NO" />
    <!--개별발신 인원수-->
    <add key="INDIVIDUALMAILUSER" value="5" />
    <!--  'YES 이면 양식 수신문일 경우 수선처 지정 반드시 필요.NO 이면 수신처 지정 하지 않아도 결재 됨. -->
    <add key="USE_RECIPIENT" value="NO" />
    <!--  'YES 이면 사원추가 및 로그인시 아이디 대문자체크 사용.NO 이면 사용하지 않는다. -->
    <add key="USE_CHECKUPSTR" value="YES" />
    <!--  'YES 이면 모바일 사용 -->
    <add key="Use_Mobile" value="YES" />
    <!--  '결재서명 이미지 용량제한 Kbyte 단위. -->
    <add key="SignImageSizeLimit" value="10" />
    <!--구글일정 사용 비사용 설정 YES,NO만 설정됨 API 업데이트로 인해 사용안함 -->
    <add key="UseGoogleCalrendar" value="NO" />
    <!--외부수신확인 메일 옵션활성화 비활성화 YES,NO만 설정됨-->
    <add key="OutMailReadCheck" value="YES" />
    <!--내부 도메일 ;기호로 여러개 지정 가능 aaa.com;bbb.com 과 같이-->
    <add key="MailInnerDomain" value="kfi2.dev" />
    <!-- 외부수신확인 URL-->
    <add key="APPREADCHECK_URL" value="http://gw2.kfi.dev/External_ReadCheck.aspx" />
    <!-- CKEditor 사용관련 업로드 Path -->
    <add key="ServerPath" value="http://gw2.kfi.dev/myoffice/Common/ezCommon_InterFace.aspx" />
    <add key="LocalPath" value="/Upload_Common/MHTIMAGE/" />    
    <!--의견내용알림 메일 발송 설정. 기본값 YES, NO면 발송하지 않는다.-->
    <add key="OpinionSendMail" value="YES" />
    <!--  'MultiData 정의  : 이 값이 NO(YES가 아니면)이면 연동 안됨. 이 값이 YES이면 연동 됨.   -->
    <add key="Use_MultiData" value="YES" />
    <!-- "" 이면 폼프로세서 TAGFREE 또는 NAMO 또는 DEXT 설정 또는   -->
    <add key="EDITOR" value="TAGFREE" />
    <!--  사인 이미지 크기 설정   -->
    <add key="SIGNIMAGE_SIZE" value="50/50" />
    <!--  IE 11 에디터 설정 "" 또는 CK   -->
    <add key="IE11EDITOR" value="" />
    <!--  NonActiveX 설정 YES / NO   -->
    <add key="NONEACTIVEX" value="YES" />
    <!--  한글 결재 NonActiveX 설정 YES / NO 소방기술원 커스터마이징  -->
    <add key="APR_NONEACTIVEX" value="NO" />
    <!--  Log 설정 WEB / DB  -->
    <add key="Log_Type" value="WEB" />
    <!-- RSA YES / NO -->
    <add key="USE_RSA" value="NO" />
    <!--  PageLog 설정 YES / NO  -->
    <add key="USE_PageLog" value="YES" />
    <!--  파일 확장명 제한 설정 * / exe|jpg -->
    <add key="USE_FileExtension" value="*" />
    <!--  전자메일 PC 보관함 사용 설정 -->
    <add key="USE_ArchiveMailBox" value="NO" />    
    <!-- 결재 왼쪽 메뉴 리스트 카운트 보기 설정 YES, NO-->
    <add key="APPROVLEFTCOUNT" value="YES" />
    <!--  'YES 이면 게시판 좌측 메뉴 카운트 사용.NO 이면 사용하지 않는다. -->
    <add key="USE_BOARD_LEFTMENU_COUNT" value="YES" />
    <!-- 한글결재 크로스용 저장할 이미지 파일 확장자명 -->
    <add key="ConvertImgType" value="JPG" />
    <add key="CrossImageUrl" value="/Upload_ApprovalG/CrossApprovalGImage/" />
    <add key="CrossSavePath" value="\\GW2-WEB\Upload_ApprovalG\CrossApprovalGImage" />
    <!-- 전자결재 년도별 SelectBox 시작 년도 설정 -->
    <add key="Site_OpenYear" value="2005" />
    <add key="COMPUTERNAME" value="GW2-WEB" />   
    <add key="RESERVED_MAIL_PATH" value="D:\\KAONI_TEMPORARY\\ReservedMails" />
    <!-- 문서유통 중계서버 IP -->
    <!--<add key="R_LServer" value="152.99.56.86" />-->
     <add key="R_LServer" value="doc.dir.go.kr" />
    <!-- 문서유통 중계서버 정보 LDAP 값 -->
    <add key="R_LBaseDN" value="o=Government of Korea,c=KR" />
    <!-- 문서유통 공유 폴더 -->
    <add key="R_RelayFolder" value="\\\\GW2-WEB\\relay" />
    <!-- 문서유통 적용 모듈 폴더 -->
    <add key="R_DocPath" value="\\\\GW2-WEB\\Upload_ApprovalG" />
    <!-- 문서유통 샘플 Path -->
    <!--포탈주소-->
    <add key="PORTAL_REMOTEURL" value="gw2.kfi.dev" />
    <add key="PORTAL_ROOTURL" value="kfi.dev" />
    <!-- 수신 거부 방식 설정  YES:OWA수신거부 NO:자동분류수신거부-->
    <add key="BlockedSenders" value="NO" />
    <!--Lync 사용자 활성화 시-->
    <add key="sipDomain" value="ca.ac.kr" />
    <!--폼프로세서 맞춤법 검사 버튼 display 여부 1(display:inline), 0(display:none) -->
    <add key="FormProcSpelling" value="0" />
    <!--'YES 이면 모바일 기기관리 사용.NO 이면 사용하지 않는다. -->
    <add key="Use_MobileMgmt" value="YES" />
    <add key="ezMDM" value="server=GW2-WEB;database=ezMobileMGM;Integrated Security=SSPI" />

    
     <!-- 폼빌더 -->
    <add key="reformServerIP" value="127.0.0.1" />
    <add key="reformServerPort" value="8080" />
    <add key="Usereform" value="YES" />
    <!--	'WebMail 사용여부 설정 : (별도 옵션 팩키지 필요) AS-IS 기능-->
    <add key="UserInfo_WebMail" value="noYES" />
   

    <!--웹서버 IP-->
    <add key="SERVER_LIST" value="192.168.22.14" />
    <add key="R_SamplePath" value="\\\\GW2-WEB\\relay\\sample.xml" />
    <add key="ezCommon_RootPath" value="D:\\KAONI_TEMPORARY" />
    <add key="ezCommon_RootLogPath" value="D:\\KAONI_TEMPORARY\\WEBLOG" />
    <add key="ezCommon_PageLogPath" value="D:\\KAONI_TEMPORARY\\PAGELOG" />
    <add key="EKPLoginDomain" value="kfi2.dev" />    
    <add key="LOAD_BALANCE_AD" value="0" />
    <add key="LOAD_BALANCE_AD_LIST" value="" />
    <add key="ADJACENT_ITEMS_ENABLE" value="1" />
    <add key="ONELINE_REPLY_ENABLE" value="1" />    
    <add key="CHECKLEAFBOARD" value="1" />
    <add key="MAIL_TEMPPATH_FE" value="D:\\KAONI_TEMPORARY\\TempUploadFile" />    
    <add key="UploadBoardSTDPath" value="\\\\GW2-WEB\\Upload_BoardSTD" />    
    <add key="Mail_UploadPath" value="\\\\GW2-WEB\\Upload_Mail" />
    <!--대용량첨부 경로추가-->
     <add key="Mail_BigUploadPath" value="\\\\GW2-MAIL\\Upload_Mail" />
    <!--개인정보 필터링정보-->
    <add key="User_Filter" value="https://192.168.22.14:15500/PrivacyMultiSpecifiedFileFilter" />
    <add key="Filter_Data" value="\\GW2-WEB" />
    <add key="CompanyID" value="0000KFI" />
    <!--소방산업기술원 통합검색 정보-->
    <add key="TotalSearchIP" value="192.168.22.14" />
    <add key="TotalSearchPort" value="7578" />
    <!--소방산업기술원 사인이미지 양식 정보 FORMID 등록-->
    <add key="ImageForm" value="2009000003;2013000012;2009000127;2016000005;2013000013;2012000002;2009000005;2006000001;" />
    <!--소방 임시저장 필요없는 양식등록-->
    <add key="Temp_Form" value="2009000123;2009000024;" />
    <!--메일대용량 파일 경로-->
    <add key="BigMailUploadURL" value="gw2.kfi.dev" />
    <!--문서유통 기관코드-->
    <add key="SpanCode" value="B552486" />
    <!--감사실 부서코드, 완료문서 열람권한을 가진다-->
    <add key="GamsaDept" value="2008360" />
    <!--일상감사 의견서 FormID 정보-->
    <add key="GamsaFormID" value="2009000024" />
    <!--시행문 문서-->
    <add key="SiheangFormID" value="2009000003;2013000012;" />
    <!--위험물 연동양식-->
    <add key="RejecFormID" value="2012000002" />
    <!-- 임원 공개 여부 -->
    <add key="executives" value="원장, 기획관리이사, 기술사업이사, 안전관리이사, 감사" />
	<!-- 합의 30건인 양식 FormID -->
    <add key="FormIDwith30Aggrement" value="2009000118" />
	<!--RMS 연동정보-->
    <add key="GovConfigPath" value="D:\GovWork\gr\conf\Config.xml"/>
    <add key="ERRORPATH" value="D:\GovWork\gr\conf\ErrorCode.xml"/>
    <add key="FILEPATH" value="192.168.22.14"/>
    <add key="RMS_ID" value="admin"/>
    <add key="RMS_PWD" value="admin"/>
    <add key="RMS_DELETEFLAG" value="true"/>
    <!--문서24-->
    <add key="REQURL" value="https://open.gdoc.go.kr/rest/lnk/cop/cmpny"/>
    <add key="API_KEY" value="9u4tHlCwCBpZ644QkPLQuxC6dZ59NIX5OuqK1f2k4Sg="/>
    <add key="Mail_AttachPeriod" value="14" />
    <add key="ConnAprOrgDocPath" value="\\GW2-WEB" />
    <add key="ezAddress" value="server=GW2-WEB;database=ezAddress;Integrated Security=SSPI" />
    <add key="ezApproval_0000KFI" value="server=GW2-WEB;database=ezApproval_0000KFI;Integrated Security=SSPI" />
    <add key="ezApprovalG_0000KFI" value="server=GW2-WEB;database=ezApprovalG_0000KFI;Integrated Security=SSPI" />
    <add key="ezConn" value="server=GW2-WEB;database=ezConn;Integrated Security=SSPI" />
    <add key="ezBoardSTD" value="server=GW2-WEB;database=ezBoardSTD;Integrated Security=SSPI" />
    <add key="ezQuestion" value="server=GW2-WEB;database=ezQuestion;Integrated Security=SSPI" />
    <add key="ezCommunity" value="server=GW2-WEB;database=ezCommunity;Integrated Security=SSPI" />
    <add key="ezCommon" value="server=GW2-WEB;database=ezCommon;Integrated Security=SSPI" />
    <add key="ezEmail" value="server=GW2-WEB;database=ezEmail;Integrated Security=SSPI" />
    <add key="ezHrMaster" value="server=GW2-WEB;database=ezHrMaster;Integrated Security=SSPI" />
    <add key="ezPersonal" value="server=GW2-WEB;database=ezPersonal;Integrated Security=SSPI" />
    <add key="ezPims" value="server=GW2-WEB;database=ezPims;Integrated Security=SSPI" />
    <add key="ezPortal" value="server=GW2-WEB;database=ezPortal;Integrated Security=SSPI" />
    <add key="ezResource" value="server=GW2-WEB;database=ezResource;Integrated Security=SSPI" />
    <add key="ezStatistics" value="server=GW2-WEB;database=ezStatistics;Integrated Security=SSPI" />
    <add key="ezKMS" value="server=GW2-WEB;database=ezKMS;Integrated Security=SSPI" />
    <add key="ezDMS" value="server=GW2-WEB;database=ezDMS;Integrated Security=SSPI" />
    <add key="ezLog" value="server=GW2-WEB;database=ezLog;Integrated Security=SSPI" />
    <add key="ezPageLog" value="server=GW2-WEB;database=ezPageLog;Integrated Security=SSPI" />
    <add key="ezSNS" value="server=GW2-WEB;database=ezSNS;Integrated Security=SSPI" />
    <add key="ezMDM" value="server=GW2-WEB;database=ezMobileMGM;Integrated Security=SSPI" />
    <!--소방산업기술원 DB 커넥션정보-->
    <add key="KFIDB" value="server=192.168.22.41;database=KFIDB;uid=gwUser;pwd=ezflow2000;" />
    <!--<add key="KFIDB" value="server=106.244.74.212;database=KFIDB;uid=sa;pwd=kfidevadmin1!;"/>-->
    <add key="KFI_ERP" value="server=192.168.22.41;database=KFI_ERP;uid=gwUser;pwd=ezflow2000;" />
    <!--<add key="NEOE" value="server=192.168.22.41;database=NEOE;uid=gwUser;pwd=ezflow2000;" />-->
    <add key="NEOE" value="server=192.168.21.41;database=NEOE;uid=gwUser;pwd=ezflow2000;" />
    <add key="KFI_DIMS" value="server=192.168.22.41;database=KFI_DIMS;uid=gwUser;pwd=ezflow2000;" />
    <add key="KFI_CRM" value="server=192.168.22.41;database=KFI_CRM;uid=gwUser;pwd=ezflow2000;" />
  </appSettings> 
    <system.web>      
      <httpCookies httpOnlyCookies="true" />
      <httpRuntime executionTimeout="999999" maxRequestLength="429496729" requestValidationMode="2.0" />
      <compilation defaultLanguage="c#" debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.mshtml, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />        
      </assemblies>
      </compilation>
      <customErrors mode="Off" />
      <authentication mode="Windows" />
      <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
      <sessionState cookieless="UseCookies" mode="InProc" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" stateConnectionString="tcpip=127.0.0.1:42424" timeout="20" />
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ko-KR" />
      <pages buffer="true" enableSessionState="true" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
      <xhtmlConformance mode="Legacy" />
      <machineKey validation="SHA1" />
    </system.web>
  <system.webServer>    
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge, requiresActiveX=true" />
        <!--<add name="X-Content-Type-Options" value="nosniff"/>-->
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".ent" mimeType="Application/octet-stream" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>    
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="4294967295" />
        <fileExtensions />
      </requestFiltering>      
    </security>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <defaultDocument>
      <files>
                <clear />
                <add value="login.aspx" />
      </files>
    </defaultDocument>
        <handlers accessPolicy="Read, Script" />

  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE;USE_MSSQL;">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>
